[2018-03-02 14:09] PaymonK opened #1 "214 - change to Message instead of Warning"

[2018-03-02 14:20] PaymonK opened #2 "GCop412"
Change the wording of the rule to:

Don't hardcode a path. Consider using “AppDomain.CurrentDomain.GetPath() instead”.

[2018-03-02 14:26] PaymonK opened #3 "GCop 135"
Instead of the current message of

_Add a 'default' block after the last case in a switch statement. For example if you don't support anything other than your specified 'cases' throw a NotSupportedException._

Change it to:
**Make the 'default' case explicit. If you only expect your specified 'cases', throw a NotSupportedException.  Otherwise it can simply break or return.**

[2018-03-02 14:29] PaymonK opened #4 "Warning about GCop in a .NET Fx 4.6 project"
IDE1003	Analyzer assembly
'C:\...\analyzers\dotnet\cs\GCop.Thread.dll' depends on 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' but it was not found.

Analyzers may not run correctly unless the missing assembly is added as an analyzer reference as well.

[2018-03-02 17:00] PaymonK opened #5 "[EscapeGCop] changes"
Currently we have a rule that [EscapeGCop] attribute should have a description. Please remove that. People should be able to just add [EscapeGCop] with no description.

[2018-03-02 17:01] PaymonK opened #6 "GCop140"
Rule 140 is giving us false positive.
It should only come into effect if the project is a web application

[2018-03-03 15:11] PaymonK commented on #6
Actually it should always work and check all projects in the solution.

We need to break the private vs public rules so they can be independently disabled.

For example if a project is meant to be used as a library by projects outside of the current solution it can disable the Public rule.

[2018-03-05 07:55] mohsad06 commented on #6
@PaymonK The issue you mentioned is fixed in the latest version.

[2018-03-05 07:56] mohsad06 commented on #5
@PaymonK The rule is removed in the latest version.

[2018-03-05 07:59] mohsad06 commented on #4
@PaymonK That's a random behavior on behalf of the latest .NET analyzer platform. The warning you mentioned is not stopping GCop from working and will disappear after doing random actions. For example, if you change the .NET target framework version to 4.6.1 and then change back to 4.6 it will disappear.
I know it's not a fix, it's just a workaround, for now. Moreover, if you see GCop warnings in

[2018-03-05 08:00] mohsad06 commented on #3
@PaymonK The message is changed in the latest version.

[2018-03-05 08:01] mohsad06 commented on #2
@PaymonK The message is changed in the latest version.

[2018-03-05 08:01] mohsad06 commented on #1
@PaymonK It's fixed in the latest version.

[2018-03-05 10:47] PaymonK commented on #6
I'm still getting a lot of false positives.

[2018-03-06 14:56] Karvan commented on #6
The latest version doesn't show any 140 warnings for the domain projects in our solutions. Probably because there is a reference to the domain, in the website project. which is not correct.

We still need to look into the whole solution, to find if the method or property should be Private, Internal or Public.

[2018-03-06 15:00] Karvan opened #7 "Nice to have - Ignore a specific rule"
I recommend having an attribute to ignore a specific rule for a class or method.

for example when developers set a method as public because they know that the method is using by a third party, outside the solution. then they can ignore rule 140 for that method.

[2018-03-06 15:59] Karvan opened #8 "Gcop 538"
Gcop 538 is showing false alarm.

code: `if(Account.URLExtension.IsValidURL() == false) `
warning:  GCop538	File extensions can have different casing. Use case insensitive string comparison.

[2018-03-06 16:38] Karvan opened #9 "Rule 430 (M# Compatibility)"
Nullable GUID and DateTime don't have the `HasValue()` extension.

We have to ignore this rule for them or Paymon can update the framework.

[2018-03-06 16:49] Karvan opened #10 "Gcop 537"
Gcop 537 is showing false alarm.

[code]
Warning 537: File extensions contain the leading dot character.

[2018-03-06 16:57] Karvan opened #11 "GCop 628"
No warning message for this rule!!!

[2018-03-07 09:04] PaymonK opened #12 "GCop 117"
Skip this rule in the following case:

-  The method has only a single parameter (which is a boolean); AND
-  The parameter name is either "value" or the same as the method name (ignore casing)

[2018-03-07 09:12] PaymonK commented on #9
@Karvan Can you provide an example?

[2018-03-07 09:14] PaymonK commented on #7
This should be done at the project level. You can [already disable a rule for the whole project](https://github.com/Geeksltd/GCop#entire-project)

[2018-03-07 09:14] #7 closed

[2018-03-07 09:15] #5 closed

[2018-03-07 09:15] #3 closed

[2018-03-07 09:15] #2 closed

[2018-03-07 09:16] #1 closed

[2018-03-07 09:20] PaymonK opened #13 "Do we have a rule to enforce interface naming?"
Interface types should start with upper case I followed by an uppercase letter.
Is there a rule to enforce it already?

[2018-03-07 09:22] PaymonK opened #14 "New rule: Extension method variable should be named @this"
For consistency and clarity, enforce that the first variable in extension methods is named **"@this"**

[2018-03-07 09:26] PaymonK opened #15 "Prevent calling Task.Result property"
This is an M#/Olive specific rule.

Error message:
**_The Result property of the Task object should never be called.  Either properly await it, or call GetAlreadyCompletedResult()._**

[2018-03-07 09:32] PaymonK opened #16 "GCop624"
For the following code:
`dateRange.Days().Any(d => GetCaseType(d) == type)`

GCop624	is saying: _Write it as .Contains(VALUE)_

That rule should only kick in when one side of the == operator is the lambda variable (**d** in this example).

[2018-03-07 09:34] PaymonK opened #17 "GCop309"
For this code:
`Invitations.Count(i => i.IsAccepted && (!(i.Person as FamilyMember)?.ChildRelationship?.IsSibling ?? false)); `

GCop309	says _It should be written as i.PersonId as FamilyMemberId, Because the criteria will be faster and eliminate unnecessary database fetches._

[2018-03-07 09:35] PaymonK opened #18 "M#/Olive/Zebble"
A number of the rules apply only when the project references MSharp.Framework, Olive or Zebble nuget package.

They are currently named GCop.MSharp. To avoid confusion, for now rename that package to GCop.GeeksExtensionMethods.

[2018-03-07 09:36] PaymonK opened #19 "Zebble projects: Bindable<...>"
If the project references Zebble, then if you see a class field or property of type Bindable<xxx> then it must:

1. Be "readonly"
2. Be instantiated on declaration.

Otherwise show a warning.

[2018-03-07 09:39] PaymonK opened #20 "New rule to prevent awaiting null"
Background: Adding ? to an expression means that the expression can be null.

If you see:

`await something?.....; `

then warn to say "**Awaiting null will throw a runtime error. Add '?? Task.CompletedTask' after the expression.**"

[2018-03-07 09:41] PaymonK opened #21 "Prevent multiple class scope declaration"
When you have a number of partial files for a class, C# compiler allows you to duplicate class modifiers such as static, public, internal, ... on all of them as long as they are the same. To prevent confusion and make it more explicit, GCop should warn to say **"Only one partial file for a class should specify the class modifiers (public, static, ...)"**

[2018-03-07 09:43] Karvan commented on #9
` if (Quotation.PurchaseId != null) return ....;`

When `PurchaseId` is a nullable GUID, Gcup warns you to use HasValue while this extension is not available for the nullable GUID.

[2018-03-07 09:54] PaymonK opened #22 "Detect code duplication"
To prevent code duplication at a deeper level we need a mechanism to detect if two code parts (algorithms) are in fact the same. They may be using different objects, variable names, etc, so a simple string comparison will not be enough.

## Theory:
To be able to compare any two pieces of code, we need to first streamline them into a common representation that can then be compares. I suggest the fo

[2018-03-07 10:03] PaymonK opened #23 "Incorrect method design detection"
For every instance method we should analyse if the method should be refactored.
[See this for the theory](https://docs.google.com/presentation/d/1QGhcoPon9EyzaAKprBPy37EvrBCIcSFArJRg7tvKa1g/edit#slide=id.p).

If the method takes parameters which inherit from Entity themselves, then we should consider if it may be better for the method to be moved to those classes.

1. Count the number of members (

[2018-03-07 10:05] PaymonK opened #24 "Fix the GCop rules of the GCop source itself."
The GCop source should be itself clean. Also apply Tidy C# (VS extension) on it.

[2018-03-07 10:05] PaymonK opened #25 "[EscapeGCop] attribute on top of Properties is ignored."

[2018-03-07 12:31] PaymonK opened #26 "Nuspec icon"
In the GCop nuspec files add IconUrl to be

https://raw.githubusercontent.com/Geeksltd/GCop/master/GCopLogo.png

[2018-03-08 14:31] Karvan opened #27 "GCop 155"
False alarm.

example:
[code]

Warning:  GCop155	Should be written simply as a.LinkedSolicitors.Intersect(result)

[2018-03-08 14:45] Karvan opened #28 "EscapeGCop doesn't work for shorten methods (expression-bodied methods)"

[2018-03-08 15:04] Karvan opened #29 "GCop 633"
GCop 633 is showing this warning

"Instead of hard-coding the boundary check, set the boundary of the NumericProperty in its M# definition."

in this example:
`if (To < From)`

which is not correct.

[2018-03-08 16:04] PaymonK opened #30 "A Task returning method being called in a Void method"
If a Task returning method is called in a void method, warn to say:

"Change this method to return a Task"

[2018-03-11 09:02] mohsad06 commented on #30
@PaymonK Could you please provide an example for this?

[2018-03-11 09:03] mohsad06 commented on #29
@Karvan Could you please provide an actual example?

[2018-03-11 09:41] mohsad06 commented on #28
@Karvan I ran a test like the following piece of code and didn't see the issue:

[code]

[2018-03-12 09:06] PaymonK opened #31 "Remove rule GCop212"
Later on we need to come up with a more thorough rule to analyse naming using dictionary, etc.

[2018-03-12 09:18] PaymonK opened #32 "GCop 615 should apply for M#, Olive and Zebble references only"
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop615.md

[2018-03-12 09:31] marjanjavid commented on #32
GCop615 should only come into effect for proejcts that reference M# Framework.Because on c# projects we dont have .None in linq

[2018-03-12 09:36] marjanjavid commented on #32
on GCop204 and in sample below we should see an error but it doesnt create any error for that.
private string _n;
    public string Name
    {
        get { return this._n; }
        set { this._n = value; }
    }

[2018-03-12 09:43] marjanjavid opened #33 "GCop204"
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop204.md

[2018-03-12 09:44] marjanjavid commented on #33
in sample below we should see an error but it does not create any error for that.
private string _n;
public string Name
{
get { return this._n; }
set { this._n = value; }
}

[2018-03-12 09:50] PaymonK commented on #30
`void SomeMethod()
{
     someObject.GetMethodThatReturnsTask();
}`

In the above example, SomeMethod() can return without GetMethodThatReturnsTask() is actually completed.

There should be a warning on SomeMethod to say it should return a Task instead of being void.

[2018-03-12 10:36] mohsad06 commented on #6
@Karvan Actually, because .NET Standard doesn't support EnvDTE namespaces yet, and since this rule uses those namespaces, GCop140 won't work in the new GCop packages.

[2018-03-12 12:17] PaymonK commented on #6
How about .NET Core and .NET Framework separately? We can create multi-platform targeting DLLs if required.

[2018-03-12 13:34] mohsad06 commented on #6
@PaymonK I'm not sure about that, currently, Visual Studio only has Analyzer with Code Fix (.NET Standard) project type (which could be deployed as VSIX and NuGet package). Maybe in the future, Microsoft would add support for .NET Core and .NET Framework as well.

[2018-03-12 13:38] PaymonK commented on #6
Why do we need EnvDTE anyway? What alternative options can we use?

[2018-03-12 14:09] mohsad06 commented on #6
@PaymonK Apparently rule 140 uses EnvDTE to look into every project of the given solution and then searches every file and class for the usage of a specific method.
Since .NET Standard is supposed to be cross-platform and EnvDTE isn't, there seems to be no solution at the moment.
I even posted the following question but there are no helpful responses to it yet:
https://stackoverflow.com/questions/

[2018-03-12 14:22] mohsad06 commented on #9
@PaymonK @Karvan Is this resolved or do I need to look into it?

[2018-03-12 15:43] PaymonK commented on #6
I mean other than EnvDTE there must be a way to find all projects and go through them.  If you simply want to find all projects in the solution, you can use the file system directly too.

[2018-03-12 15:43] PaymonK commented on #9
@Karvan  please retest

[2018-03-13 10:30] Karvan opened #34 "Gcop 538"
False alarm

Sample:
`  if (Account.URLExtension.IsValidURL() == false)`

Warning	GCop538	File extensions can have different casing. Use case insensitive string comparison.

[2018-03-13 10:48] Karvan opened #35 "Gcop 154"
This rule works fine only when the criteria is a simple boolean.

In this example Gcop warns you to write except instead of where.
`results.Where(x => x.LinkedPanelManagers.Lacks(panelManager))`

and same warning for this one:
`results.Except(x => x.LinkedPanelManagers.Contains(panelManager))`

 GCop154 Should be written simply as results.Except(x.LinkedPanelManagers)

[2018-03-13 11:56] Karvan opened #36 "GCop 503"
This rule throws a warning to clone the document in this example

` Database.Update(object, o => o.File= CreateFile(fileName));`

we don't need to clone a file necessarily always. we can see if the file is a new one or it's already cloned in the creation method.

[2018-03-13 12:30] marjanjavid opened #37 "GCop 165"
It should only kick in if it's exactly > -1 but in the below sample , this error is kicked:
if (date.IndexOf("/") == 2)
                {
                   //some codes
                }

[2018-03-13 12:32] marjanjavid opened #38 "GCop 114"
It  should become a M#/Olive/Zebble only rule.

[2018-03-13 13:33] Karvan opened #39 "Gcop 516"
False alarm in this example

` Database.Find<T>(f => f.To == null);`

Warning	GCop516:	Mark To as Unique in M# and use the autogenerated FindByTo method instead.

[2018-03-13 14:09] #9 closed

[2018-03-13 14:35] Karvan commented on #28
Gcop ignore this method.

[code]

but not this one

[code]
and raises GCop 305 warning.

[2018-03-13 16:50] Karvan opened #40 "Escape GCop attribute for ViewModels in M#"
Paymon, could you please add [EscapeGCop] attribute over the generated ViewModels in M# MVC project?

[2018-03-14 09:09] marjanjavid opened #41 "GCop 539"
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop539.md

Config.Get(...) is in M#, Olive, Zebble. Move this rule to that library.

[2018-03-14 09:18] marjanjavid opened #42 "GCop 164"
it says that instead of using 'ConfigurationManager ' use Config.Get().

This should be an M#/Olive/Zebble only rule

[2018-03-14 21:06] Foroughi commented on #37
Also, I'm sure its not gonna be kicked if we have :

[code]

which should be? right ?!

[2018-03-15 08:52] Karvan commented on #37
String.IndexOf(Char or String') > **-1** is equal to String.Contains(Char or String) and GCop should raise it.

[2018-03-15 09:23] Foroughi commented on #37
@Karvan right, but we used to assume that the passed parameter will be string always. anyway its fixed now

[2018-03-15 13:59] Foroughi commented on #37
@Reporter , Fixed on NuGetPackages/2913898bf90a1791f95860ec67613f47ddd33f4a

[2018-03-15 15:45] marjanjavid opened #43 "GCop 162"
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop162.md
should become a M#/Olive/Zebble only rule.

[2018-03-15 15:45] marjanjavid commented on #43
should become a M#/Olive/Zebble only rule.

[2018-03-16 09:25] marjanjavid opened #44 "GCop 648"
It seems c# does not have such a rule. In C#,  String.Remove does not accept any string. So it is not a useful rule in C#. There are these two overloads for string.Remove in C#:
1-string.Remove(int startindex, int count)
2-string.Remove(int startindex)

[2018-03-16 10:15] marjanjavid opened #45 "GCop 126"
M#/Olive/Zebble only rule

[2018-03-16 10:37] Karvan commented on #44
M#/Olive/Zebble only rule.

[2018-03-16 10:57] Karvan commented on #29
In the sample source code that you already have, Class: RemortgageInsuranceFee Line: 64

[2018-03-16 10:59] Karvan commented on #45
M#/Olive/Zebble only rule

[2018-03-17 10:03] Foroughi commented on #14
@reporter , fixed on `NuGetPackages/05795af9b58a893dfe7118c5fab3d2a566b2a45e`

[2018-03-17 10:18] Foroughi commented on #14
Here are some details of the new rule :

## General Details:

## Technical Details :

In case CGop find any diagnostic regard to this rule, it will provide an action named 'Change to @this' in order to let user fix it. the fix action will change  :

1 - The argument name in the method declaration
2 - All the references the argument in the current method body

[2018-03-17 20:47] Foroughi commented on #22
@PaymonK I hate to say this but even if we could come up with a rule who could normalize any piece of code to a standard format, for a  large-scaled solutions containing millions lines of codes, it's not possible to compare any piece of code with any others and it will be a time-consuming task

[2018-03-17 22:22] Foroughi commented on #33
@marjanjavid  Just to clarify  '_n' has two characters, I couldn't see anything about the underscore on the rule description page.

Obviously there is an issue with the code :
`if (identifier.IsSingleCharacter() && (identifier?.Lacks("_") ?? false))`

But In order to fix it, first I need to know what does GCop204 has to do with an underscore? would please catch me up on this ?!

[2018-03-18 09:20] Foroughi commented on #34
@reporter , i was going to check why you got that false  alarm , then i found this code :

` if (equal.Left.ToString().Contains("URLExtension")) return;`

which I think someone has fixed this already.

[2018-03-18 10:08] Foroughi commented on #31
Fixed on `SlnMerge/64c3ebf4807bb5be5bba77287258ea584bd5cb1a`

[2018-03-18 10:10] Foroughi commented on #31
FYI from now on, if you set `IsEnabledByDefault = false` of a rule description. that rule won't raise any alarm. more like that rule a completely disabled or even omitted.

[2018-03-18 10:28] Foroughi commented on #16
@reporter, would you please be more specific, what exactly did you mean by `"one side of the == operator is the lambda variable"` ?! if I'm not mistaken and got your point correctly, for the following sample the rule should kick in :

`.Any(r => r == STATEMENT)`

But if I have this, the rule shouldnt kick in :

`.Any(r => Func(r) == STATEMENT)`

am I right ?!

[2018-03-18 10:36] Foroughi commented on #11
@reporter: according to the rule description section in codes,  the security level of the rule has been set to **Info** , so you won't get any warning message, Do you want me to change it ?!

Also there is a message :
`Maybe define this method on '{0}' class as it's using {1} of its members (compared to {2} from this type)`

[2018-03-18 11:06] Foroughi commented on #10
We need to be more specific on this rule. I believe this rule should kick in only if :

1 - we have `Equals Expression` (== operator)
2 - one side is a `Literal Expression Syntax` (a hard-coded string)
3 - the other side is `System.IO.FileInfo.Extension`

ain't that true ?!

[2018-03-18 11:46] Foroughi commented on #10
Another possible scenario is this :

[code]

which without a code normalizer to convert that piece of code the following sample, is not possible

[code]

[2018-03-18 13:28] Foroughi commented on #10
@reporter : Fixed on SlnMerge/03b16b3d10beaa19bff2afee8061678343ec27e5

[2018-03-18 14:28] PaymonK commented on #16
@Foroughi That's correct.

[2018-03-18 14:34] PaymonK commented on #22
@Foroughi We won't have millions of lines per project. It will be more like a few thousands.
The algorithm will be later on optimized to make it performant.

[2018-03-18 19:48] marjanjavid opened #46 "Remove GCop rules from .designer.cs files"
GCop rules should all be skipped if a file name ends with .designer.cs.

[2018-03-18 20:00] marjanjavid commented on #33
@Foroughi Actually nothing. Tidy C# will clean it and there is no need for GCop. So i will close this issue.
Thank you.

[2018-03-18 20:00] #33 closed

[2018-03-18 20:12] Foroughi commented on #33
@marjanjavid @Karvan  based on what I`ve seen in codes, GCop204 can cause false alarms, especially that IF Statement I mentioned already. I would like to ask you kindly for more investigation. Because if we leave it now, we actually come up with the fact that GCope project is kina depend on Tidy C#. Imagine the situation that GCope returns a false alarm, but there is not Tidy C# extension installe

[2018-03-18 20:35] Foroughi commented on #8
@reporter, The same idea that we used for GCope537 (which caused issue #10) is being used for GCope538. So I'm gonna do the same scenario I used to fix #10, for this issue as well.

1. Specifying the exact behavior we expect from GCope539
2. Start from scratch and recode the GCope539

What we expect from GCope538 is to kick in under the following circumstances :

A statement with the following con

[2018-03-19 10:45] Foroughi commented on #34
@Karvan  Refer to #8

[2018-03-19 16:47] Foroughi commented on #8
@reporter , Fixed on [SlnMerge/71c526a2c92064e2b20406561cdf70598c5964ee](https://gitlab.com/Paymon/GCop/commit/71c526a2c92064e2b20406561cdf70598c5964ee)

[2018-03-19 18:22] mohsens22 opened #47 "UX issue: GCop creates files and includes in solution every time"
Hey,
After I installed GCop I noticed that GCop is making files and it's inducing them in my solution. I found this really really annoying cuz I didn't want to use it in all of my projects. Also it caused some code changes outside environment (with that VS notice window actually) which I didn't find it cool.
I disabled it.

[2018-03-20 09:13] Karvan commented on #47
According to your comment, I guess you've installed the VSIX version. (GCop extension). If that's true please uninstall it and use the NuGet Packages version. [https://github.com/Geeksltd/GCop]
if not, could you please let me know about the generated files and give me some more information about the code changes outside environment?

[2018-03-20 11:04] mohsens22 commented on #47
Yes true. I use VSIX. But I'll check out nuget one.

[2018-03-20 11:52] marjanjavid opened #48 "GCop 121"
It should become a M#/Olive/Zebble only rule

[2018-03-21 08:34] PaymonK opened #49 "Method to class promotion"
If a large method has no dependencies on the rest of a class, or it calls other private members that are not used by anyone else and they themselves have no dependencies to other members, then show a message to convert the big method into a service class, so it can be broken down without creating noise.

[2018-03-21 08:53] Foroughi commented on #49
@Reporter, Would you please catch me up on `Service Classes`? What are the specifications of a Service Class?

[2018-03-21 09:13] PaymonK commented on #49
@Foroughi this is a tricky one and needs to be fully spec'd out later. Can you for now focus on the bugs and easier ones? Our primary objective is to have a reliable version that we can put in full operation, before implementing any new rules.

[2018-03-21 10:35] PaymonK opened #50 "642 False positive"
r.AddFormattedLine("foreach (var each in {0}.{1}By(i => i.ToString().Length))", dataSourceExpression, SortFormula.HasValue() ? "Then" : "Order");

[2018-03-21 10:35] Karvan commented on #4
For now, we have a workaround to fix this.
Adding NetStandard NuGet to the project and setting the netstandard library as the analyser for the website. But we keep it in progress (milestone 2) as we need a more handy solution.

[2018-03-21 10:36] #8 closed

[2018-03-21 10:36] #10 closed

[2018-03-21 10:39] PaymonK opened #51 "140 false positives"
[code]

[2018-03-21 10:40] #14 closed

[2018-03-21 11:02] #34 closed

[2018-03-21 11:03] #31 closed

[2018-03-21 11:04] #37 closed

[2018-03-21 11:59] Foroughi commented on #51
@reporter, whats the exact warning you get ?! that would be helpful if you can provide

[2018-03-21 13:18] PaymonK commented on #51
@Foroughi it says the private method is not used...
Can you not replicate it?!

[2018-03-21 13:27] Foroughi commented on #51
@PaymonK  I can. The thing is that depends on the situation GCop140 returns a specific warning, I wanted to make sure I'm on the right path

[2018-03-23 05:56] marjanjavid opened #52 "GCop 124"
It should become a M#/Olive/Zebble only rule

[2018-03-23 07:59] marjanjavid opened #53 "GCop 131"
It should become a M#/Olive/Zebble only rule

[2018-03-26 09:43] PaymonK opened #54 "Disable Rule 131"
This rule is unnecessary.  The extension method alternative is not much better anyway.
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop131.md

[2018-03-27 13:18] #11 closed

[2018-03-27 14:47] marjanjavid opened #55 "GCop 109"
It should become a M#/Olive/Zebble only rule

[2018-03-28 08:08] Foroughi commented on #54
Fixed on [NuGetPackages/ce7672e6a85ebc482c4b7daaddf3d01a608cabfe](https://gitlab.com/Paymon/GCop/commit/ce7672e6a85ebc482c4b7daaddf3d01a608cabfe)

[2018-03-28 08:11] Foroughi commented on #53
@Reporter @Karvan  The false alarms like this need Project-Wide analyzer as we discussed this with Karvan earlier. So this kinda issues are gonna be suspended for now

[2018-03-28 08:34] Foroughi commented on #26
Fixed on [NuGetPackages/2644df057ad6dcc8fb78558c954746d242779ab0](https://gitlab.com/Paymon/GCop/commit/2644df057ad6dcc8fb78558c954746d242779ab0)

[2018-03-28 11:12] Foroughi commented on #16
Fixed on [NuGetPackages/24d45e01f5f0fff6beca53b9808de9f6dbe31ddc](https://gitlab.com/Paymon/GCop/commit/24d45e01f5f0fff6beca53b9808de9f6dbe31ddc)

[2018-03-28 14:26] marjanjavid opened #56 "GCop 430"
It should become a M#/Olive/Zebble only rule

[2018-03-28 18:04] PaymonK opened #57 "Change the text for 179"
Change the error text to:

"Do not hardcode numbers, strings or other values. Use constant fields, enums, config files or database as appropriate."

[2018-03-28 18:28] PaymonK opened #58 "Remove GCop438"
This rule is no longer necessary. Tidy C# will handle it. Delete the rule.

[2018-03-28 18:37] PaymonK opened #59 "GCop109"
This should only apply when the Count() method is called. For example:

if (something.Count() > 1) { ... }

The error message should read: > "Use something.HasMany() instead of something.Count() > 1, as it will be faster and more descriptive.*

[2018-03-28 18:51] PaymonK opened #60 "Message GCop500"
The error message should be:

Void async methods cannot be awaited. Also they can hide exceptions and cause tricky bugs. Return a Task instead.

[2018-03-29 08:45] marjanjavid opened #61 "GCop 648"
if we have a phrase like below
var str = myText.Replace("/start", "").Replace("o", "").Replace(" ", "").ToLower();

GCop648 just make green error line under the first phrase (until first dot , I mean just under "myText.Replace("/start", "")").

While it should show the error message for any replace .

[2018-03-29 16:16] #4 closed

[2018-04-01 06:25] marjanjavid opened #62 "GCop 106"
It should become a M#/Olive/Zebble only rule

[2018-04-01 15:40] Foroughi commented on #57
@Reporter , Fixed on [NuGetPackages\55fa8c94d8fb41cbdfd93a20018155d95a7df5fa](https://gitlab.com/Paymon/GCop/commit/55fa8c94d8fb41cbdfd93a20018155d95a7df5fa)

[2018-04-01 15:44] Foroughi commented on #58
@reporter , Fixed on [NuGetPackages\41714dfa993697adb60626494f89dab9f83888f6](https://gitlab.com/Paymon/GCop/commit/41714dfa993697adb60626494f89dab9f83888f6)

[2018-04-01 16:32] Foroughi commented on #59
@reporter, the only difference I can see between what you are expecting of GCop109 and what it actually does, is that GCop109 used to kick in under these circumstances :

1. Something.Count() > 1
2. Something.Length > 1

**So I removed the second one.**

Also, I made a unit test to make sure its working properly. here is the result :

- [X] Something.Count() > 1
- [ ] Something.Count() < 1
- [ ] S

[2018-04-01 16:36] Foroughi commented on #59
@reporter, Fixed on [NuGetPackages\afed7f58d7980970b3e15fc7434331423dd4d492](https://gitlab.com/Paymon/GCop/commit/afed7f58d7980970b3e15fc7434331423dd4d492)

[2018-04-01 16:40] Foroughi commented on #60
@reporter, Fixed on [NuGetPackages\fe824c51c9366805f1873ec592e7989504c8e8b7](https://gitlab.com/Paymon/GCop/commit/fe824c51c9366805f1873ec592e7989504c8e8b7)

[2018-04-01 18:13] Foroughi commented on #61
Fixed on [NuGetPackages\42fe5facea2e3bd16b43af78e98c5b046e615a0f](https://gitlab.com/Paymon/GCop/commit/42fe5facea2e3bd16b43af78e98c5b046e615a0f)

![screenshot 68](https://user-images.githubusercontent.com/3727486/38176109-1a889392-35fe-11e8-8e6b-d8ec3ab21d45.png)

[2018-04-02 12:35] PaymonK commented on #59
It should be triggered for Something.Count() >= 2 as well.

[2018-04-02 14:43] PaymonK opened #63 "GCop210 explanation?"
What is the rule for this rule to trigger? It should be added here https://github.com/Geeksltd/GCop/blob/master/Rules/GCop210.md

[2018-04-02 14:55] PaymonK opened #64 "GCop408 error message"
Change to:

Flag or switch parameters (bool) should go after all non-optional parameters. If the boolean parameter is not a flag or switch, split the method into two different methods, each doing one thing.

[2018-04-02 15:18] PaymonK opened #65 "GCop112 to be revised"
Currently this rule is based on the size of the class. Instead it should calculate class cohesion and if it finds opportunity for splitting the class then explain the suggestion in detail.

[2018-04-03 05:16] Foroughi commented on #24
@Reporter,  Fixed on [NuGetPackage\27f026554f719e729bd198b8c33bcfe4bfb27e0d](https://gitlab.com/Paymon/GCop/commit/27f026554f719e729bd198b8c33bcfe4bfb27e0d)

[2018-04-03 05:26] Foroughi commented on #13
@PaymonKI I found  GCop205 which contains the following diagnostic reports  :

- Interfaces must start with a capital 'I'
- Interfaces must start with the letter 'I'
- Interfaces names must be Pascal Case.

Do you want to run a unit test on it ?!

[2018-04-03 06:03] Foroughi commented on #22
@PaymonK As far as I understood, we need to come up with a rule to read all of the files of a solution (maybe less in some cases), compare any piece of code to the others after normalizing them all.

Let me raise a point that while we were working on the Solution-wide analyzer, I had been told by Karvan that these analyzers take time more than expectation on a simple project named Pegasus. Its whi

[2018-04-03 07:38] Foroughi commented on #51
@reporter , Fixed on [NuGetPackages\2ec4136854874d98a1086a88c95cf6a66c67391d](https://gitlab.com/Paymon/GCop/commit/2ec4136854874d98a1086a88c95cf6a66c67391d)

**FYI as we have some problem with the Nugget version, so we have a new Vsix named Gcop.Extra.**

[2018-04-03 08:22] Karvan opened #66 "Two rules exist for GCop605"

[2018-04-03 08:35] #18 closed

[2018-04-03 08:36] Karvan commented on #21
This rule should add to the GCopExtra extension.

[2018-04-03 08:37] #26 closed

[2018-04-03 13:55] #61 closed

[2018-04-03 13:57] Karvan commented on #63
Any class in the "Service" directory" should ends with Service as a ClassName suffix.

[2018-04-03 15:12] PaymonK commented on #22
This item has lower priority than the other items as it's experimental and high risk. We will probably need to create it as a separate utility (EXE file) that we can run on a solution, so it runs in its own process.

[2018-04-03 15:13] PaymonK commented on #13
Does it ensure that the first character after I is also uppercase?

[2018-04-03 15:17] #63 closed

[2018-04-03 16:19] Karvan commented on #64
Fixed.

[2018-04-03 16:19] #64 closed

[2018-04-03 16:20] #57 closed

[2018-04-03 16:20] #58 closed

[2018-04-03 16:28] Karvan commented on #55
duplicated.

[2018-04-03 16:28] #55 closed

[2018-04-03 16:29] Karvan commented on #59
@Foroughi  and please move that to Geeks extension NuGet

[2018-04-03 16:31] #16 closed

[2018-04-03 16:33] #54 closed

[2018-04-03 20:54] Foroughi commented on #59
@reporter , Fixed on [NuGetPackages\59e97820f88df5dd7cbf2da09bdf5ac3ec63897d](https://gitlab.com/Paymon/GCop/commit/59e97820f88df5dd7cbf2da09bdf5ac3ec63897d)

[2018-04-03 20:54] Foroughi commented on #59
@Karvan  It was already there

[2018-04-03 21:13] Foroughi commented on #13
@PaymonK I ran a unit test on it and here is the result :

- [x] iTest
- [x] Itest
- [ ] ITest
- [x] itest
- [x] itEs
- [x] iTEs
- [ ] ITEs
- [ ] ITeS

**GCop205 will kick in for the checked ones**

[2018-04-03 21:17] Foroughi commented on #13
@reporter : Unit Test added on [NuGetPackages\5cd5b8e34d8a412763e1ff8ae1d53b770f019aa6](https://gitlab.com/Paymon/GCop/commit/5cd5b8e34d8a412763e1ff8ae1d53b770f019aa6)

[2018-04-03 21:24] Foroughi commented on #66
@reporter : There were 2 issues with id 605

605 - AvoidUsingChangeTypeMethodAnalyzer  (GCop.GeeksExtensionMethods)
605 - GCop.GeeksExtensionMethods (GCop.Common)

I changed the second one to 608

[2018-04-03 21:28] Foroughi commented on #66
@reporter : Fixed on [NuGetPackages\481771a549f208989145b755709ba9e7a4d26326](https://gitlab.com/Paymon/GCop/commit/481771a549f208989145b755709ba9e7a4d26326)

[2018-04-04 08:21] #66 closed, assigned to nobody

[2018-04-04 13:02] Foroughi commented on #21
@reporter : Fixed on [NuGetPackages\6ae1ecb0982a194ac65174192df18a3c0012fd74](https://gitlab.com/Paymon/GCop/commit/6ae1ecb0982a194ac65174192df18a3c0012fd74)

[2018-04-04 13:08] Foroughi commented on #21
@reporter : The new rule has been added. Here is the details :

## Specifications :

- **Code** : GCop439
- **Package** : GCop.Extra
- **Secuirty Level** : Warning
- **Warning Message** : Only one partial file for a class should specify the class modifiers (public, static, ...)

## Technical Informations
In case of more than one instances of a partial class decorated with one of the following modi

[2018-04-04 18:45] Foroughi commented on #62
@reporter : Fixed on [NuGetPackages\48305a90ba826dbb0d913e4578fd076d06eca1a2](https://gitlab.com/Paymon/GCop/commit/48305a90ba826dbb0d913e4578fd076d06eca1a2)

[2018-04-04 18:48] Foroughi commented on #56
@reporter : Fixed on [NuGetPackages\0172a26c506993e2d6c5a0cd804ceb8b904d1dc9](https://gitlab.com/Paymon/GCop/commit/0172a26c506993e2d6c5a0cd804ceb8b904d1dc9)

[2018-04-04 18:50] Foroughi commented on #53
@reporter : Fixed on [NuGetPackages\db323ba8140f197095e1389b10d18fac694e80a3](https://gitlab.com/Paymon/GCop/commit/db323ba8140f197095e1389b10d18fac694e80a3)

[2018-04-04 18:52] Foroughi commented on #52
@reporter : Fixed on [NuGetPackages\cd51c1dc3d7ea43e40b61c7a1a864e86da779173](https://gitlab.com/Paymon/GCop/commit/cd51c1dc3d7ea43e40b61c7a1a864e86da779173)

[2018-04-04 18:56] Foroughi commented on #48
@reporter : Fixed on [NuGetPackages\636e0bcba583430bf9163ca9f52c83587f9080fe](https://gitlab.com/Paymon/GCop/commit/636e0bcba583430bf9163ca9f52c83587f9080fe)

[2018-04-04 18:59] Foroughi commented on #45
@reporter : Fixed on [NuGetPackages\b7b56fb600299bf29dca08e6a58ffea76f95f1de](https://gitlab.com/Paymon/GCop/commit/b7b56fb600299bf29dca08e6a58ffea76f95f1de)

[2018-04-04 19:02] Foroughi commented on #44
@reporter : Fixed on [NuGetPackages\071f3a8a2562badc8b1878d7d91b23477241c225](https://gitlab.com/Paymon/GCop/commit/071f3a8a2562badc8b1878d7d91b23477241c225)

[2018-04-04 19:04] Foroughi commented on #43
@reporter : Fixed on [NuGetPakages\1a256696ffda5e2399a6540608d5270a4f76fb9a](https://gitlab.com/Paymon/GCop/commit/1a256696ffda5e2399a6540608d5270a4f76fb9a)

[2018-04-04 19:07] Foroughi commented on #41
@reporter : Fixed on [NuGetPackages\eea2e0639142159c15b88395278e7e4da62d3c3c](https://gitlab.com/Paymon/GCop/commit/eea2e0639142159c15b88395278e7e4da62d3c3c)

[2018-04-04 19:09] Foroughi commented on #38
@reporter : Fixed on [NuGetPackages\aa0cc5be0947a13f5d3793e56c69b86884cb6a26](https://gitlab.com/Paymon/GCop/commit/aa0cc5be0947a13f5d3793e56c69b86884cb6a26)

[2018-04-04 19:12] Foroughi commented on #32
@reporter : Fixed on [NuGetPackages\b3deb0f3e619a4f29488fc19aacfdbb172d3d8c3](https://gitlab.com/Paymon/GCop/commit/b3deb0f3e619a4f29488fc19aacfdbb172d3d8c3)

[2018-04-05 06:25] marjanjavid opened #68 "GCop 120"
It should become a M#/Olive/Zebble only rule

[2018-04-05 06:55] marjanjavid opened #69 "GCop 153"
It should become a M#/Olive/Zebble only rule

[2018-04-05 07:55] marjanjavid opened #70 "GCop 180"
It should become a M#/Olive/Zebble only rule

[2018-04-05 11:38] Foroughi commented on #20
@PaymonK  would you please provide an actual example? I could come up with a piece of code who has something like: `await something?.....;`

In fact in this example, `something` should be a task (otherwise using `awaite` before it does make any sense). So now something that is task cannot be followed by `?` .  We can have something like :

(await something)?.......

which in this case we are not a

[2018-04-05 12:11] Foroughi commented on #35
@Karvan, vague description. would you please catch me up which scenario are you pointing out ?!

1 - GCop154 is returning false alarm for those two example  ?
2 - GCop154 should kick in for those two example which hasnt

[2018-04-05 12:28] PaymonK commented on #20
Example:
[code]
And then
[code]

The above code is prone to error when the variable is indeed null, because we would be awaiting a null Task which throws an exception.

[2018-04-05 13:25] Foroughi commented on #20
@reporter : Fixed on [NuGetPackages\f89ad8f7bbf2535e446ae658b611bf65a0550ae1](https://gitlab.com/Paymon/GCop/commit/f89ad8f7bbf2535e446ae658b611bf65a0550ae1)

[2018-04-05 13:30] Foroughi commented on #20
@reporter : The new rule has been added. Here is the details :

## Specifications :

- **Code** : GCop654
- **Package** : GCop.Threat
- **Category** : Refactoring
- **Secuirty Level** : Warning
- **Warning Message** : Awaiting null will throw a runtime error. Add '?? Task.CompletedTask' after the expression.

## Technical Informations
The rule will look for the await keyword which is followed by a

[2018-04-05 14:02] Karvan commented on #35
@Foroughiyes, it's a false alarm.

[2018-04-06 06:30] marjanjavid opened #71 "GCop 300"
It should become a M#/Olive/Zebble only rule.
but there is a point for this rule. part of a rule which warns about using Any(), is acceptable in C#.

[2018-04-06 07:57] PaymonK opened #72 "New rule: Argument validation"
If a private or internal method is checking its arguments against null, show a warning to say:

"Non-public methods should not need basic argument validation. See {URL} for details."

The Url should be a shortened url to the rule MD file.

[2018-04-06 08:00] PaymonK commented on #72
Reason in the MD file for @marjanjavid

The main purpose of validating arguments in methods is to inform the callers that they are using the method incorrectly. Therefore, this should be done only when the calling code is not in your control.
Callers of non-public methods are always in your control. If the method is called with invalid arguments, it is a logical error in the calling code, which is

[2018-04-06 11:36] marjanjavid opened #73 "GCop 300"
I talked to Karvan , it should apply on Count as well as Count()

[2018-04-09 10:41] Foroughi commented on #73
@reporter : Fixed on [NuGetPackages\42715572605ebbd596daed6375e82517bdc4e7be](https://gitlab.com/Paymon/GCop/commit/42715572605ebbd596daed6375e82517bdc4e7be)

[2018-04-09 10:51] Foroughi commented on #72
@PaymonK  Just to clarify your pointing out to the following example :

[code]

So I need to find `internal/private` methods containing an `If` Statement who is checking one of the arguments against NULL?

are there any possible scenarios for checking an argument against NULL?!
maybe this one :

`obj != nul ? ... :  ....`

[2018-04-09 10:56] Foroughi commented on #65
@PaymonK  do you have any idea about those opportunities you mentioned ?!  if yes, could you provide some examples?
if no, it means I need to come up with some ideas myself?

[2018-04-09 10:58] Foroughi commented on #49
@PaymonK  As I'm working on Milestone 2 would you please catch me up about any update (if exists)?

[2018-04-09 11:02] Foroughi commented on #40
@Karvan  As i found out , this one is not about GCop project ?! is that right ?! can i have more information ?!

[2018-04-09 11:29] PaymonK commented on #15
1. Yes.

2.  Zebble too. It's being added now to Zebble.

[2018-04-09 11:31] PaymonK commented on #72
No, it's specifically about validating the argument against null and throwing exception like this:

internal fun1(T obj)
{
   if (obj == null) throw new ArgumentNullException(nameof(obj));
  ...
}

[2018-04-09 14:49] Foroughi commented on #72
@PaymonK  , DiagnosticDescriptor class has a field named HelpUri . Do you want me to set this field instead of adding "see {{url}} for more details." to end of description ?!

[2018-04-09 17:50] PaymonK opened #74 "GCop 302"
It should not fire for this as it's a class level field:

public AsyncEvent<CancelEventArgs> Deleting { get; } = new AsyncEvent<CancelEventArgs>();

[2018-04-09 17:51] PaymonK opened #75 "GCop207"
It should not be fired if the method is implementing an interface member (implicitly or explicitly):

IModelBinder IModelBinderProvider.GetBinder(ModelBinderProviderContext context)
{
}

[2018-04-09 17:54] PaymonK opened #76 "GCop302 false positive"
If a disposable object is returned from the method then this rule should be skipped.

Also if it's being passed as an argument to another object, it should be skipped, unless the object to which this is passed is itself being disposed in the same method.

[2018-04-09 18:16] PaymonK opened #77 "@GCop 311"
Skip this warning if the code is throwing ex.InnerException

[2018-04-09 18:17] PaymonK opened #78 "GCop 541 false positive"
public static async Task<string> ReadEmbeddedTextFileAsync(this Assembly assembly, string resourceName,
           Encoding encoding)
        {
            return encoding.GetString(await assembly.ReadEmbeddedResourceAsync(resourceName));
        }

[2018-04-10 08:34] PaymonK opened #79 "GCop 539"
If the url starts with http://schemas (or https) then skip the rule

` XName.Get(n, "http://schemas.microsoft.com/developer/msbuild/2003");`

[2018-04-10 11:26] PaymonK commented on #72
Yeah! we need to do that for every rule actually.

[2018-04-10 12:16] PaymonK opened #80 "GCop 117"
If the name of the argument is value then skip this rule.

[2018-04-10 12:51] #44 closed

[2018-04-10 12:51] #45 closed

[2018-04-10 12:51] #48 closed

[2018-04-10 12:53] #56 closed

[2018-04-10 12:53] #62 closed

[2018-04-10 12:53] #53 closed

[2018-04-10 12:53] #52 closed

[2018-04-10 12:53] #51 closed

[2018-04-10 12:54] PaymonK opened #81 "541"
Currently the entire method gets error wiggles underlines. Only the `async` keyword should.

[2018-04-10 12:55] #20 closed

[2018-04-10 12:55] #21 closed

[2018-04-10 12:56] PaymonK commented on #81
Also this is a false positive:

[code]

The await here is not right after `return` and therefore the rule should not apply.

[2018-04-10 12:56] #32 closed

[2018-04-10 12:57] #38 closed

[2018-04-10 12:57] #41 closed

[2018-04-10 12:57] #68 closed

[2018-04-10 12:58] #69 closed

[2018-04-10 12:58] #70 closed

[2018-04-10 13:05] #25 closed

[2018-04-10 13:05] #42 closed

[2018-04-10 13:05] #43 closed

[2018-04-10 13:06] #40 closed

[2018-04-10 13:08] #24 closed

[2018-04-10 13:18] marjanjavid opened #82 "GCop 535"
It should become a M#/Olive/Zebble only rule.

[2018-04-10 20:45] Foroughi commented on #72
Here are some details of the new rule :

## General Details:

- ID : **961**
- Category : **Refactoring**
- Message : **Non-public methods should not need basic argument validation**
- Severity : **Warning**
- Package : **GCop.Common**

## Technical Details :

The Rule will look for a method with the following specs :

- Should be decorated as `Private `or `Internal`
- Should have at least one par

[2018-04-10 20:56] Foroughi commented on #82
@reporter : Fixed on [NuGetPackages\dd7f3dae96001259ae217bc16c06aac56e0c6f8d](https://gitlab.com/Paymon/GCop/commit/dd7f3dae96001259ae217bc16c06aac56e0c6f8d)

[2018-04-10 22:55] Foroughi commented on #15
@reporter: I'm doing the task in the way you asked, but I think it could be a general C# project as well (not only a M#/Olive/Zebble rule).
Obviously, the rule is looking for Task.Result statement which is a valid C# syntax. But if your worry about `GetAlreadyCompletedResult()` method, I should raise this point that in this rule, that method is playing a `Code Fixer` role. here is the whole scenar

[2018-04-11 07:47] PaymonK commented on #72
Seems good. I'll test it when it's released on a large project and feed back any result.

[2018-04-11 07:50] PaymonK commented on #15
@Foroughi  We can't show a warning to say you MUST use `await` because it many scenarios it's not applicable. I think it's fine to keep it a GeeksExtensions only rule.

[2018-04-11 08:01] PaymonK opened #83 "NuGet Meta Deployment"
Currently the GCop.GeeksExtension holds the rules related to Olive/Zebble and MSharp projects.
So such projects currently have to reference both **GCop.Basics** and **GCop.GeeksExtension** packages.

## Instead we should:

1. Rename GCop.GeeksExtension to specifically GCop.OliveZebbleMSharp.
2. Rename GCop.Basics to GCop.All.Common
2. Add another meta package called "GCop.All.Geeks" which adds dep

[2018-04-11 12:24] Foroughi commented on #15
Here are some details of the new rule :

## General Details:

- ID : **543**
- Category : **Usage**
- Message : **Non-public methods should not need basic argument validation**
- Severity : **Usage**
- Package : **GCop.Usage**

## Technical Details :

Every Usage of `System.Threading.Tasks.Result` will cause the rule to kick in.

## Test Result :

- [X] func1().Result
- [X] var t = func1(); return

[2018-04-11 12:28] marjanjavid opened #84 "GCop 412"
It should become a M#/Olive/Zebble only rule.

[2018-04-11 14:43] Foroughi commented on #83
@reporter : Fixed on [NuGetPackages\e8b3f0042d8a7ac28bb313e54bf3c633963ad1a9](https://gitlab.com/Paymon/GCop/commit/e8b3f0042d8a7ac28bb313e54bf3c633963ad1a9)

[2018-04-12 11:53] Foroughi commented on #80
@reporter, I ran a test about this false alarm. and the rule did ignore the parameter named value.

Unit test Added on [NuGetPackages\6ecd73eb91fac4845b301c89b8ccf27f3491cd7e](https://gitlab.com/Paymon/GCop/commit/6ecd73eb91fac4845b301c89b8ccf27f3491cd7e)

[2018-04-12 12:16] Foroughi commented on #79
@reporter : Fixed on [NuGetPackages\ba92a798105b865e03db7e22959a2fd74da1a46e](https://gitlab.com/Paymon/GCop/commit/ba92a798105b865e03db7e22959a2fd74da1a46e)

## Test Results :

- [ ] teststring
- [X] http://www.test.com
- [ ] http://schemas.test.com
- [ ] https://schemas.test.com
- [ ] https://Schemas.test.com

Note: This rule is being decorated as a M#\Olive\Zebble rule. But it's in GCop.String

[2018-04-12 12:29] PaymonK commented on #79
yes move it

[2018-04-12 12:39] Foroughi commented on #79
@reporter : Fixed on [NuGetPackags\7ee98b0bcb8cfb724b38f69ed52c9eeaeebb9128](https://gitlab.com/Paymon/GCop/commit/7ee98b0bcb8cfb724b38f69ed52c9eeaeebb9128)

[2018-04-12 13:07] Foroughi commented on #77
@reporter : Fixed on [NuGetPackages\603b41929187a4f920bc0f426111895212f16f24](https://gitlab.com/Paymon/GCop/commit/603b41929187a4f920bc0f426111895212f16f24)

## Test Results :

- [ ] try {} catch { throw; }
- [X] try {} catch(Exception ex) { throw ex; }
- [ ] try {} catch(Exception ex) { throw ex.InnerException; }

[2018-04-12 13:15] Foroughi commented on #71
@reporter : Fixed on [NuGetPackages\1b5fc4045bc10c47392e751de8bfc4a48b511811](https://gitlab.com/Paymon/GCop/commit/1b5fc4045bc10c47392e751de8bfc4a48b511811)

@Karvan, Would please let me what do you think about the point Marjan mentioned ?! Its more like #15

[2018-04-12 13:31] Foroughi commented on #46
@reporter : Already fixed on [NuGetPackages\f4a7002c062df7388feef67ecdb68a4683a3dfec](https://gitlab.com/Paymon/GCop/commit/f4a7002c062df7388feef67ecdb68a4683a3dfec) at March 21th

[2018-04-12 19:33] Foroughi commented on #39
@reporter: would you please answer the following questions :
1 - why exactly this is a false alarm ?!
2 - Hasn't the type `T` a property named `To`
3 - Hasn't the type T a method named FindByTo which is static?

[2018-04-13 08:39] PaymonK opened #85 "GCop138 type should be Warning not Error"

[2018-04-13 12:25] PaymonK opened #86 "Split GCop140"
[Rule 140](https://github.com/Geeksltd/GCop/blob/master/Rules/GCop140.md) should be split into 2 rules. One for private/internal, and one for public.

This way a CLASS LIBRARY project can disable the public one but still benefit from the private/internal one.

[2018-04-13 16:07] Karvan opened #87 "GCop 419"
![longcode](https://user-images.githubusercontent.com/20923968/38745633-fd47b284-3f3c-11e8-9cba-bfc648ecdebc.png)

we have to extend this rule logic to cover the above screenshot as well.

[2018-04-15 14:44] PaymonK opened #88 "Variables should be declared as close to their usage as possible."
Variables should be declared as close to their usage as possible. Instead of defining all variables at the beginning of a method, define each right where you want to use them.

Control variables for loops should usually be declared within the loop statement.

If a variable is only used inside a block with { and } then declare the variable inside the block to limit its scope.

[2018-04-15 21:16] Foroughi commented on #28
@reporter, I searched the exact line you mention in Pegasus project and luckily, I found it in Account.cs line 51. GCop305 is kicking in for that line. As soon as I put [EscapeGCop("")] the warning disappeared.

I`m talking about this line :

`public bool IsTermsAndConditionsGeneric => Database.GetList<TermsAndConditions>(t => t.AccountId == this).None();`

Would you please confirm , your stilling

[2018-04-16 05:58] Foroughi commented on #30
@reporter: FYI its gonna be in Cop.Extra

[2018-04-16 07:56] #28 closed

[2018-04-16 08:30] PaymonK commented on #30
Why GCop.Extra?

[2018-04-16 08:36] PaymonK opened #89 "GCop 218 Fixer"
Open Olive solution. Then choose to run the fixer on all Solution or Project. It will fail.

[2018-04-16 10:36] Foroughi commented on #30
@PaymonK  in the given example the method `GetMethodThatReturnsTask` needs to be checked if it returns a System.Threading.Task or not. this method can be implemented anywhere in the project. which means I need to have access to a higher level than current class.

[2018-04-16 12:05] PaymonK commented on #30
But can we not find the type of a locally invoked expression in Roslyn?!

[2018-04-16 12:20] PaymonK opened #90 "Use of simple minus"
If you see:

`something = something * -1`

Then warn to say it should be written as:
`something = - something;`

[2018-04-16 13:25] Foroughi commented on #30
@PaymonK , it depends on the definition of word "local". if by local you mean the types which are implemented in the current parsing file, the answer is yes. if by local you mean the types which are defined in the current project, the answer is no. I should raise this point that as far as i understand (and I'm almost sure) in the current context you will have access to symbols (and types) who :

1

[2018-04-17 12:30] #83 closed

[2018-04-17 12:30] #82 closed

[2018-04-17 12:33] #79 closed

[2018-04-17 12:36] #77 closed

[2018-04-17 12:36] #73 closed

[2018-04-17 12:47] #46 closed

[2018-04-17 12:52] Karvan commented on #30
@PaymonK I think we need to add this rule to the GCop.Extra extension.

[2018-04-17 12:55] Karvan commented on #72
I think we need to warn it in this case either: `if (obj != null) throw new ArgumentNullException();`

but let's see what's aPaymon feedback after releasing that.

[2018-04-17 13:01] PaymonK commented on #30
That's fine

[2018-04-17 13:05] PaymonK commented on #72
@Karvan Why do that for != null?

Also when can I get updated nuget packages?

[2018-04-17 13:13] #12 closed

[2018-04-17 13:30] PaymonK commented on #72
@karvan Yes that's sensible. Though it probably needs a different rule / error message.
"Did you mean to check for null as opposed to not null?"

[2018-04-17 15:08] Karvan commented on #72
not just for null/not null. I think while a method is private or internal any argument validation should be handled in the invoker method.

for example, we can show a warning for this pattern.

[code]

[2018-04-17 15:54] PaymonK commented on #72
@Karvan I think that is not necessary considering the risk that we may give lots of false positives.
The most common case is argument null checks.

[2018-04-17 16:21] PaymonK opened #91 "@218 Fixer - Running for the whole project"
System.ArgumentException : Syntax node is not within syntax tree
   at Microsoft.CodeAnalysis.CSharp.CSharpSemanticModel.CheckSyntaxNode(CSharpSyntaxNode syntax)
   at Microsoft.CodeAnalysis.CSharp.SyntaxTreeSemanticModel.GetDeclaredSymbol(ParameterSyntax declarationSyntax,CancellationToken cancellationToken)
   at Microsoft.CodeAnalysis.CSharp.CSharpExtensions.GetDeclaredSymbol(SemanticModel sema

[2018-04-17 16:22] PaymonK opened #92 "@405 false positive"
[code]

[2018-04-17 19:48] Foroughi commented on #72
Making the rule to kick in for` != null` will cause some more false warnings by mistake, and to me, it ain't gonna worst it. But if you come up with the conclusion of making this rule to kick in for `!=null` , please just mention it clear

[2018-04-18 07:07] marjanjavid opened #93 "GCop 621"
I get Gcop621 error on this line of my code:
private static byte[] CreateBytes(int count = 100) => Enumerable.Range(0, count).Select(i => (byte)i).ToArray();

so i changed it to the below:
private static byte[] CreateBytes(int count = 100) => Enumerable.Range(0, count).Cast<byte>().ToArray();

when i use cast() i get "Specified cast is not valid." error.

[2018-04-18 07:16] PaymonK opened #94 "GCop 638"
Reduce the threashold.

Is it raised if the total line is less than 80 characters? Perhaps it can be 65 characters. Whatever it is, reduce it by 15.

[2018-04-18 12:51] PaymonK commented on #93
This rule should be skipped if there is an [explicit cast operator defined](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/explicit) from the type of `T` (of the list object) and the type of the destination.

Note: In the above situation, the explicit cast invocation is not the same as calling the Linq Cast() method.

[2018-04-18 13:10] PaymonK opened #95 "Rule help URLs"
The help URL of each rule should be to its corresponding page on GitHub:
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop112.md

I expect that when pressing the link in Visual Studio, i'm taken to this page.

[2018-04-18 13:37] Foroughi commented on #95
@repoter : Can I use this pattern as url for all rules ? :

`https://github.com/Geeksltd/GCop/blob/master/Rules/GCop{{RuleKey}}.md `

[2018-04-18 13:46] Karvan commented on #95
@Foroughi yes, please.

[2018-04-18 13:55] #72 closed

[2018-04-18 13:56] #71 closed

[2018-04-18 13:57] #15 closed

[2018-04-18 16:17] Karvan opened #96 "Skip <auto-generated>files for all rules"

[2018-04-19 09:21] PaymonK opened #97 "GCop218"
If the type of the `@this` argument is generic, skip the rule.

[2018-04-19 09:21] PaymonK opened #98 "GCop209"
Skip the rule if the property has [DataMember] attribute

[2018-04-19 09:26] Karvan opened #99 "GCop218"
Run this rule just for Public Static method while it's just for the extension method. **For the sake of performance.**

[2018-04-19 10:02] Karvan opened #100 "GCop 140"
false positive for the static methods reference in this pattern.

ClassName.MethodName();

[2018-04-19 10:50] Karvan opened #101 "EscapeGcop on AdoDotNetDataProviderFactory"
@PaymonK , Could you please add` [EscapeGCop("Auto generated code.")] `
to `@AdoDotNetDataProviderFactory `class.

[2018-04-19 11:00] PaymonK commented on #101
Already done

With kind regards,
Paymon Khamooshi
Director
Geeks Ltd
www.geeks.ltd
0845 643 6229

--

*Geeks Ltd*

_Bespoke Web and Software Solutions
_www.geeks.ltd.uk
<http://www.geeks.ltd.uk/>

​

​
CONFIDENTIALITY & DISCLAIMER: This
message and any attachments are confidential, proprietary, and may be
privileged.  If this message was misdirected, Geeks Ltd does not waive any
confidentiality or

[2018-04-19 11:01] #101 closed

[2018-04-19 12:45] Karvan commented on #95
@Foroughi Could you please update the pattern url to this one:

`https://geeksltd.github.io/GCop/#/Rules/GCop{{RuleKey}}`

[2018-04-19 13:32] Karvan opened #102 "GCop 209 & 201 conflict"
In this example:

[code]
Rule 209 kick out a warning to use PascalCasing, if you change it to `Variable`, Rule 201 kick out a warning to use camelCasing.

in this case, only GCop 201 should apply.

[2018-04-19 13:40] Karvan opened #103 "EscapeGCop for ascx.cs file"
@PaymonK Could you please add `[EscapeGCop]` to the `ascs.cs` generated classes in web form applications.

[2018-04-19 14:10] Karvan opened #104 "GCop 168 false positive"
[code]

[2018-04-19 14:40] marjanjavid opened #105 "GCop 521"
It should become a M#/Olive/Zebble only rule.

[2018-04-19 15:10] marjanjavid opened #106 "GCop 534"
It should become a M#/Olive/Zebble only rule.

[2018-04-20 08:08] PaymonK opened #107 "GCop621"
See https://github.com/Geeksltd/GCop/blob/master/Rules/GCop621.md

Is rule 621 realling giving so many different errors for different things? It should be broken down into different rules, and then the documentation updated.

[2018-04-20 09:46] Karvan commented on #85
@PaymonK, the severity level of this one is Warning. could you please see if it's still a problem in 1.0.4 version or not? couldn't replicate it here.

[2018-04-21 17:30] Foroughi commented on #96
@reporter : Fixed on [NuGetPackages\66549ce5eeed24f574fe4a245b6a8ba5e29e62d5](https://gitlab.com/Paymon/GCop/tree/66549ce5eeed24f574fe4a245b6a8ba5e29e62d5)

[2018-04-21 17:41] Foroughi commented on #94
@reporter : Fixed on [NuGetPackages\6002cec0dee14a184e429c4b5ac0a5c8aca6db1e](https://gitlab.com/Paymon/GCop/tree/6002cec0dee14a184e429c4b5ac0a5c8aca6db1e)

btw, I'm not sure if its a good idea to make it 15 char!

[2018-04-21 18:45] Foroughi commented on #95
@reporter : Fixed on [NuGetPackages\3dc2bc16d443ab24e5f880cea10a540360ad746e](https://gitlab.com/Paymon/GCop/tree/3dc2bc16d443ab24e5f880cea10a540360ad746e)

[2018-04-21 19:04] PaymonK commented on #94
Hi Ali. I said reduce it “by 15” chars not “to 15” chars!

With kind regards,
Paymon Khamooshi
Director
Geeks Ltd
www.geeks.ltd
0845 643 6229

--

*Geeks Ltd*

_Bespoke Web and Software Solutions
_www.geeks.ltd.uk
<http://www.geeks.ltd.uk/>

​

​
CONFIDENTIALITY & DISCLAIMER: This
message and any attachments are confidential, proprietary, and may be
privileged.  If this message was misdirected, Ge

[2018-04-22 14:12] Foroughi commented on #94
@PaymonK  I'm sorry, I don't follow! whats the difference between "by 15" chars or "to 15" chars? would you please catch me up on this? FYI, The previous value was 150 char.

[2018-04-22 14:15] Foroughi commented on #94
@PaymonK  by any chance are asking me to make it 135 ?! assuming the current value is 150 ?!

[2018-04-22 14:44] PaymonK commented on #94
Change it to 120

With kind regards,
Paymon Khamooshi
Director
Geeks Ltd
www.geeks.ltd
0845 643 6229

--

*Geeks Ltd*

_Bespoke Web and Software Solutions
_www.geeks.ltd.uk
<http://www.geeks.ltd.uk/>

​

​
CONFIDENTIALITY & DISCLAIMER: This
message and any attachments are confidential, proprietary, and may be
privileged.  If this message was misdirected, Geeks Ltd does not waive any
confidentialit

[2018-04-22 17:58] Foroughi commented on #94
@PaymonK  Fixed on [NugetPackages/8c4f3ee0ba9f06ad173e4a82093d0030c1ff6715](https://gitlab.com/Paymon/GCop/tree/8c4f3ee0ba9f06ad173e4a82093d0030c1ff6715)

[2018-04-22 18:15] Foroughi commented on #84
@reporter : Fixed on [NuGetPackages\d4f0c889ea6e1476d7d57a47fdc870a2c58c8267](https://gitlab.com/Paymon/GCop/tree/d4f0c889ea6e1476d7d57a47fdc870a2c58c8267)

[2018-04-22 18:57] Foroughi commented on #74
@reporter : Fixed on [NuGetPackages\b2ba9d955960c1ad2f36acadfcb7ca49743b5a96](https://gitlab.com/Paymon/GCop/tree/b2ba9d955960c1ad2f36acadfcb7ca49743b5a96)

[2018-04-22 20:05] Foroughi commented on #78
@reporter : Fixed on[ NuGetPackages\efb91c773b549737bf2053bcc2e26d9fad514851](https://gitlab.com/Paymon/GCop/tree/efb91c773b549737bf2053bcc2e26d9fad514851)

[2018-04-23 09:00] PaymonK opened #108 "GCop624 to be split"
See https://github.com/Geeksltd/GCop/blob/master/Rules/GCop624.md

Those should be 2 different rules.

[2018-04-23 09:20] PaymonK opened #109 "Remove GCop403"
It seems like Visual Studio now has this rule built-in, so there is no need for it anymore:
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop403.md

[2018-04-23 09:51] Karvan opened #110 "GCop 617"
@Ali we need to review this rule together.

[2018-04-23 10:26] Foroughi commented on #110
@Karvan  I`ll have a look at it , then ill catch up with you

[2018-04-23 12:42] marjanjavid opened #111 "GCop 642"
when we have an expression like :
var result = checkThis.HasValue() ? "Something" : "Anotherthing";
Gcop642 will be hint. as its message we should change it to
var result = "Something".Or("Anotherthing")
which is meaningless.
![642](https://user-images.githubusercontent.com/20684649/39127194-8bcb05d6-4719-11e8-8dfd-5459dc7b6543.png)

[2018-04-23 12:44] PaymonK commented on #111
The rule should only kick in when the expression after `?` is the same as the criteria part.

[2018-04-23 14:33] Karvan opened #112 "Adding GCop Warning Code to the warning pop up."

[2018-04-23 14:44] Karvan opened #113 "GCop 401"
Skip this rule for dynamic objects.

[code]

[2018-04-23 14:54] Karvan opened #114 "GCop 181"
We have to skip this rule in Interface method implementation.

Ali, we need to talk about this one.

[2018-04-23 23:48] Foroughi commented on #30
@reporter : Added on [NuGetPackages/9647ea6bcf156c8b2a7debb148a71fa8e7ac0f86](https://gitlab.com/Paymon/GCop/tree/9647ea6bcf156c8b2a7debb148a71fa8e7ac0f86)

[2018-04-23 23:56] Foroughi commented on #30
Here are some details of the new rule :

## General Details:

- ID : **655**
- Category : **Refactoring**
- Message : **Change this method to return a Task**
- Severity: **Warning**
- Package : **GCop.Extra**

## Technical Details :

The Rule will look for a method with the following specs :

- Returning value should be `void`
- The method should contain a `MemberAccessSyntax` which is returning a

[2018-04-24 07:05] Foroughi commented on #90
@reporter : Fixed on [NuGetPackages/ecf3a784f9db3934fa9a86cc739166a361441098](https://gitlab.com/Paymon/GCop/tree/ecf3a784f9db3934fa9a86cc739166a361441098)

[2018-04-24 07:36] Foroughi commented on #81
@reporter : Fixed on[ NuGetPackages\25ce933ff240d73db0e7a32789b608ae48c7aed6](https://gitlab.com/Paymon/GCop/tree/25ce933ff240d73db0e7a32789b608ae48c7aed6)

@Karvan  That is already fixed on #78

[2018-04-24 07:51] #103 closed

[2018-04-24 08:07] Foroughi commented on #90
Here are some details of the new rule :

## General Details:

- ID : **544**
- Category : **Usage**
- Message : **It should be written as : {0}**
- Severity: **Warning**
- Package : **GCop.Common**

## Technical Details :

The Rule will look for a equal expersion who:

- Have a binary expersion on the right side
- The right side of that binary expersion  should be  -1
- The operator of that binary

[2018-04-24 08:13] Foroughi commented on #106
@reporter : Fixed on [NuGetPackages\2dfea7b186aa37b4b12b158c734f73da6c4c407e](https://gitlab.com/Paymon/GCop/tree/2dfea7b186aa37b4b12b158c734f73da6c4c407e)

[2018-04-24 09:33] Foroughi commented on #86
@reporter : Fixed on [NuGetPackages\3889fa284400bf47c2d3fbdfa3be3bf00372e936](https://gitlab.com/Paymon/GCop/tree/3889fa284400bf47c2d3fbdfa3be3bf00372e936)

[2018-04-24 11:30] Foroughi commented on #75
@PaymonK  I spent 3 hours to find a way to access to the mentioned interfaces in the class declaration. but I failed. I have to add this rule to GCop.Extra. If its ok please let me know

[2018-04-24 16:54] mohsens22 opened #115 "GCop complains about .Select() with no reason."
![image](https://user-images.githubusercontent.com/22152065/39201923-c08af10e-4805-11e8-9f6b-e10410178578.png)

[2018-04-24 17:02] mohsens22 opened #116 "GCop complains about MVVM object parameters"
Hello.
I have a method named `GenerateSample` which has an `object parameter`. But in that class I didn't use it explicitly, but instead, it has been used in a `command` which a button in the View is bounded to.

This command model is really popular among the people who use MVVM design pattern in either Windows or Xamarin.

![image](https://user-images.githubusercontent.com/22152065/39202258-9c350

[2018-04-24 18:43] PaymonK commented on #75
If it's explicit implementation (like the example I provided) then it can be done with syntax checking alone.
For implicit implementation, it can go to GCop.Extra.

[2018-04-24 18:46] PaymonK opened #117 "GCop.Extra architecture"
Currently anything we put inside GCop.Extra requires an Extension update which is not as easy and agile as a NuGet update.

Is it at all possible to change the architecture so that GCop.Extra becomes just a shell to load the full Roslyn project info and then provide that somehow to the normal rules? For example we know that the normal rules cannot access the file system, but can they send http or

[2018-04-25 06:37] marjanjavid opened #118 "GCop 531"
It should become a M#/Olive/Zebble only rule.

[2018-04-25 07:06] marjanjavid opened #119 "GCop 530"
It should become a M#/Olive/Zebble only rule.

[2018-04-25 11:10] Karvan commented on #115
@mohsad06 could you provide the GCop warning and number? are you sure it's GCop? and which version of Nuget do you have in your project?

[2018-04-25 11:25] mohsens22 commented on #116
The most important case is the pattern. But there are some cases such as "I don't need to use this parameter for now" which can be escaped from GCop.

[2018-04-25 11:34] mohsens22 commented on #115
The version number is 1.0.4. GCop code 621. and there is no auto correction.

It says:

The fun fact here is that I'm selecting a property in a collection and then I try to cast it. While `Cast<T>` does not give me that ability.
maybe this is the code that I might try:
 `@this.Where(x => x.Key != null).Select(x => x.Key).Cast<T>();`

[2018-04-25 11:37] mohsens22 opened #120 "GCop searches bing for error codes while there is a website for that."
I think the title is really clear.
GCop should navigate to **https://geeksltd.github.io/GCop/#/Rules/GCop[code]** instead of bing.

[2018-04-25 12:32] #120 closed

[2018-04-25 12:38] Karvan commented on #116
You can disable a single rule by :

[code]
You can Escape Gcop rules by `[EscapeGCop]` over a method or a class.

[2018-04-25 12:38] #116 closed

[2018-04-25 12:57] Foroughi commented on #75
@PaymonK If I'm not mistaken, you're asking me to create two rule for this ?!

[2018-04-25 13:13] Foroughi commented on #117
do we ?! i don't agree this.

You have access to files system in both concepts (Vsix or nuggets). The problem of iterating the files inside the project (or solution) was about the performance problem. Also the main problem (that we decided to move back to vsix version)  was that we can not share a data between some rules. Imagine this :

I read all the files in project (We know its gonna take a wh

[2018-04-25 13:30] PaymonK commented on #75
yes

[2018-04-25 13:33] PaymonK commented on #117
I didn't realise it was for performance. I was under the impression that the issue was access to file system.
Close this then.

[2018-04-25 13:33] #117 closed

[2018-04-25 17:34] marjanjavid opened #121 "GCop 642"
the GCop642 and GCop530 both are kicked, when we have a code like below
var result = myStringObj.HasValue() ? myStringObj + "something" : string.Empty;
 as I talked with Karvan, in this case GCop 642 should not hint any error.

![642-530](https://user-images.githubusercontent.com/20684649/39262437-a1c2c614-48d4-11e8-8f5f-325f7419a46a.PNG)

[2018-04-25 17:39] marjanjavid opened #122 "GCop 513"
The message of this rule is like below
"It should be written as {0}.FirstOfDefault({1}) ?? {2}."
but '{0}' and '{1}' are not replace with a proper phrases.
as i talked with Karvan it should be fixed.

![513](https://user-images.githubusercontent.com/20684649/39262697-5e86596e-48d5-11e8-89a7-34ac508144dc.png)

[2018-04-25 19:33] Foroughi commented on #29
@reporter : Fixed on [NuGetPackages\603badd510daa18876fcc0100ec64a4c3f371215](https://gitlab.com/Paymon/GCop/tree/603badd510daa18876fcc0100ec64a4c3f371215)

[2018-04-25 20:30] Foroughi commented on #75
@reporter : The explicit implementation part is now fixed on [NuGetPackages\aa8f214cac7e388a758b0de3ae2773129251d0e9](https://gitlab.com/Paymon/GCop/tree/aa8f214cac7e388a758b0de3ae2773129251d0e9)

Im gonna work on Implicit Implementation

[2018-04-26 05:59] marjanjavid opened #123 "GCop 143"
This rule is about writing `base.OnSaved(e);` at the first line of `OnSaved` method.
it should not kick when we write `await base.OnSaved(e);` too

![143](https://user-images.githubusercontent.com/20684649/39288304-b2fab6f4-493c-11e8-854d-7ba924ecc9f0.PNG)

[2018-04-26 06:16] marjanjavid opened #124 "GCop 319"
This rule should be kicked for "await Database.Save(this);" too

[2018-04-26 08:36] Karvan commented on #124
Even with a condition, this code can create a loop. we have to update this rule logic.

[2018-04-26 10:03] Foroughi commented on #75
@PaymonK  There is a problem with the scenario your asking. In some cases, both rules will kick in for the same node with the same warning. Have you thought about this?

[2018-04-26 11:35] Foroughi commented on #75
@reporter : Fixed on [NuGetPackages\3751d8944c6b5dee50eee12738115428fe69a0db](https://gitlab.com/Paymon/GCop/tree/3751d8944c6b5dee50eee12738115428fe69a0db)

[2018-04-26 14:54] #90 closed, assigned to nobody

[2018-04-26 14:54] #95 closed

[2018-04-26 14:54] #96 closed

[2018-04-26 14:55] #106 closed

[2018-04-27 09:24] PaymonK opened #125 "New rule for [Authorize] attribute"
For a class, if:
- Class's name ends with Api or ApiController,
- It declares the [Authorize] attribute
- It references Olive namespace

Then warn to say: "If this is an Api controller, instead of [Authorize] use [AuthorizeApi] attribute."

[2018-04-30 05:46] Foroughi commented on #125
@reporter : Added by Karvan on [NuGetPackages\8d4949b4174b1519ee6c7572e0a067de2bc87ae9](https://gitlab.com/Paymon/GCop/tree/8d4949b4174b1519ee6c7572e0a067de2bc87ae9)

Fixed some tiny issues and added its unit test on [NuGetPackages\6315e7775dc6c91cc9e9d048adb50314209ae005](https://gitlab.com/Paymon/GCop/tree/6315e7775dc6c91cc9e9d048adb50314209ae005)

[2018-04-30 05:58] Foroughi commented on #119
@reporter: Fixed on [NuGetPackages\a923f19d59c243a7c52b1b14f794cf28e5213981](https://gitlab.com/Paymon/GCop/tree/a923f19d59c243a7c52b1b14f794cf28e5213981)

[2018-04-30 06:04] Foroughi commented on #118
@reporter : Fixed on [NuGetPackages\8443a572234c3728465f6685fab100f3bb8b6f84](https://gitlab.com/Paymon/GCop/tree/8443a572234c3728465f6685fab100f3bb8b6f84)

[2018-04-30 07:44] Foroughi commented on #113
@reporter : Fixed on [NuGetPackages\945e27dd534852832b1684e610ac32b6f4ffb414](https://gitlab.com/Paymon/GCop/tree/945e27dd534852832b1684e610ac32b6f4ffb414)

[2018-04-30 07:50] Foroughi commented on #112
@Karvan  I forgot to talk about this one with you. I`ve checked this one in the previous milestone. I'm afraid to say this that as far as I understand it's not possible to do this unless we add the Id to the beginning of all rules  descriptions which i think i ain't gonna be a good idea, because in error list the user will see something like this :

`GCopXXX : GCopXXX , and here goes the descripti

[2018-04-30 07:58] Foroughi commented on #107
@PaymonK There are 4 or 5 more rules that in the different situations they will kick in with different warning messages. The idea of separating these kinda rules will be handy which I agree with this. But the thing that concerns me is about the performance issue. The idea of having a specific rule for a specific situation is the thing I totally agree with it but I'm kinda in doubt which one is bet

[2018-04-30 08:25] PaymonK commented on #107
Can you run some performance profiling so we can find out which rules are taking how long?
In general it seems like some of the rules are quite slow, increasing our build times significantly.

[2018-04-30 10:53] Foroughi commented on #109
@reporter : Fixed on [NuGetPackages\d183f9682cfb5c88c356736d9cd26d4b62f52d1d](https://gitlab.com/Paymon/GCop/tree/d183f9682cfb5c88c356736d9cd26d4b62f52d1d)

[2018-04-30 11:00] Foroughi commented on #124
@marjanjavid  If I'm not mistaken you're pointing out that this rule should kick in even for `Database.Save(this)` which are being used inside an `await ` statement, ain't this true?

[2018-04-30 11:01] Foroughi commented on #124
@Karvan I'm gonna work on what Marjan told me. Let me know if you decide about the rule logic

[2018-04-30 11:12] Karvan commented on #124
@Foroughi

`[Database.Save(this);]` or `await Database.Save(this); `with or without a condition, create a loop and we need to kick it out. Please update the logic and warning to  `[Database.Save(this);]  will create a loop in {0} method`

[2018-04-30 11:15] Karvan commented on #112
Ignore it for now

[2018-04-30 14:40] Foroughi commented on #124
@reporter : Fixed on [NuGetPackages\b6edc3c3ad125a13db628e1ad4f8552dd01c626a](https://gitlab.com/Paymon/GCop/tree/b6edc3c3ad125a13db628e1ad4f8552dd01c626a)

[2018-05-01 07:25] marjanjavid opened #126 "GCop 532"
There should be just one class file for GCop532, while there is two file now. One is "UseContainsInsteadOfAnyInObjectEqualityAnalyzer" and the other one is "UseLacksInsteadOfNoneInObjectEqualityAnalyzer"

[2018-05-01 11:31] marjanjavid opened #127 "GCop rules have no hint for Olive"
Some GCop rules are emphasized just for MSharp.Framework. Such as GCop626 or GCop156.
As i talked with Karvan, these kind of rules should be updated to work with Olive as well.

[2018-05-01 12:26] Foroughi commented on #105
@reporter : Fixed on [NuGetPackages\d65fd76a32d108a142531c8af56ca108c160291b](https://gitlab.com/Paymon/GCop/tree/d65fd76a32d108a142531c8af56ca108c160291b)

[2018-05-01 12:26] Foroughi commented on #97
@reporter : Fixed on [NuGetPackages\9fab082f01e3f7c6fd1f4f97b6ed45f9739d05e3](https://gitlab.com/Paymon/GCop/tree/9fab082f01e3f7c6fd1f4f97b6ed45f9739d05e3)

[2018-05-01 12:27] Foroughi commented on #98
@reporter : Fixed on [NuGetPackages\be1df7d7c430802781bfb181116ce12ec1dc37ca](https://gitlab.com/Paymon/GCop/tree/be1df7d7c430802781bfb181116ce12ec1dc37ca)

[2018-05-01 15:26] Foroughi commented on #107
@PaymonK  VS Performance profiler faced some sort of unknown error while I was trying to start it. But I can make a logger so I can create file log file in the root of every solution storing the following information :

1 - How many times a rule has been called
2 - Spent time on each time an analyzer was called

do you want me to do this ? The ETA is 4h

[2018-05-02 11:32] Foroughi commented on #108
@reporter : Fixed on [NuGetPackage\ef2a9ed79a463c81e61ef880065dcab18abfb151](https://gitlab.com/Paymon/GCop/tree/ef2a9ed79a463c81e61ef880065dcab18abfb151)

[2018-05-02 11:35] Foroughi commented on #108
### Technical Information

- **GCop624** kicks in now only if we have `myCollection.Any(c => c != categoryId)`
- **GCop640** (New rule) kicks in only if we have `myCollection.Any(c => c == categoryId)`

[2018-05-02 12:00] Foroughi commented on #92
@PaymonK Would you please why this is a false alarm !? is it because inside `IF` we have something like:

`lock ....`

[2018-05-02 12:15] Foroughi commented on #76
@PaymonK Would you please provide an actual example of this false alarm ?! based on what I`ve seen on the codes of this rule, all the points you raised up is being checked there!

[2018-05-02 12:29] PaymonK commented on #92
Yes.

[2018-05-02 15:01] Foroughi commented on #102
@Karvan GCop209 is not kicking in for variables inside a method! I can't replicate this issue. Would you please confirm this?

[2018-05-02 17:09] Foroughi commented on #100
@reporter : Fixed on [NuGetPackages\d5af05d31f184584167a2e7f34f16de6a307c8dc](https://gitlab.com/Paymon/GCop/tree/d5af05d31f184584167a2e7f34f16de6a307c8dc)

[2018-05-03 06:23] marjanjavid opened #128 "GCop 305"
There are two classes in GCop source code which hints GCop305 error. The class names are "InverseRelationshipAnalyzer" and "DatabaseFindMethodAnalyzer". There should be just one class for each error code.

[2018-05-03 09:41] Karvan commented on #110
kick out the warning when
- we have more than 4 if/else if / else statements.
- raise for the block which has more than 3 statement (apart from the return; one)

[2018-05-03 09:47] Karvan opened #129 "GCop Performance"

[2018-05-03 09:47] Karvan commented on #107
Before spending more times on splitting these rule into smaller rule we need to run some performance test on GCop. then I'm going to close it Issue for now. and we can follow the performance issue [here ](https://github.com/Geeksltd/GCop/issues/129) #129

[2018-05-03 09:47] #107 closed

[2018-05-03 10:03] Karvan commented on #129
@Foroughi your comment:

  But I can make a logger so I can create file log file in the root of every solution storing the following information :

1 - How many times a rule has been called
2 - Spent time on each time an analyzer was called
3 - The total time each rule took

Please follow this one. You just need to look into the root folder of the solution, if you could find this file **.GCopPerfo

[2018-05-05 06:02] marjanjavid opened #130 "GCop 306"
This rule warning is not kicked.
![306](https://user-images.githubusercontent.com/20684649/39660233-8f43fb20-504f-11e8-822a-ff71443487ae.PNG)

[2018-05-05 06:05] marjanjavid opened #131 "GCop installation problem"
After creating a M# ASP.NET Core-MVC application and installing GCop, I have lots of  NU1701 warnings in my error list which are visible in this picture. As I talked with Karvan this problem should be checked.

![1](https://user-images.githubusercontent.com/20684649/39470565-ae2955e8-4d53-11e8-8519-7f9b8d9ff049.PNG)

[2018-05-07 12:58] PaymonK opened #132 "GCop524: Two rules in one?"
See the documentatoin:
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop524.md

The `remove private` message should be a different rule from `Turn a private property into a field`.

[2018-05-07 13:46] PaymonK opened #133 "Delete GCop127"
This rule is unnecessry https://github.com/Geeksltd/GCop/blob/master/Rules/GCop127.md

[2018-05-07 13:56] PaymonK opened #134 "GCop145"
Is GCop actually showing a warning for the following example?
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop145.md

I think this rule should be removed. Instead, M# engine should be updated to handle that in SQL transformation.

[2018-05-09 07:23] Karvan opened #135 "netstandard reference error"
netstandard reference error in the release environment when .net frame 4.6 is only installed.

- while we register netstandard as the analyzer for the project, do we need to copy the netstandard dll into the bin folder?

[2018-05-09 10:06] Foroughi commented on #126
@reporter : Fixed on [NuGetPackages\26f223fafbd032eccc6e42914b2f990de6b79c98](https://gitlab.com/Paymon/GCop/tree/26f223fafbd032eccc6e42914b2f990de6b79c98)

FY, The Key of `UseContainsInsteadOfAnyInObjectEqualityAnalyzer `has been changed to 545

[2018-05-09 10:13] Foroughi commented on #134
@reporter Fixed on [NuGetPackages\23a1f25b2d23fffc0773a3810139a716cc93a4ca](https://gitlab.com/Paymon/GCop/tree/23a1f25b2d23fffc0773a3810139a716cc93a4ca)

[2018-05-09 10:15] Foroughi commented on #133
@reporter Fixed on [NuGetPackages\c45002e955a794a5f567be46280f87e4c9883740](https://gitlab.com/Paymon/GCop/tree/c45002e955a794a5f567be46280f87e4c9883740)

[2018-05-10 05:06] marjanjavid opened #136 "GCop 632"
It should become a M#/Olive/Zebble only rule.

[2018-05-10 05:06] marjanjavid opened #137 "GCop 631"
It should become a M#/Olive/Zebble only rule.

[2018-05-10 05:07] marjanjavid opened #138 "GCop 608"
It should become a M#/Olive/Zebble only rule.

[2018-05-10 05:36] marjanjavid commented on #138
Also please remove the second dot(".") from the rule message. This dot should be removed from the first character of  " MessageWhenExpressionIsNotEquals"  parameter.

[2018-05-10 06:08] marjanjavid opened #139 "GCop 545"
There are two classes which can kick this rule. There should be just one class for each rule.
UseContainsInsteadOfAnyInObjectEqualityAnalyzer
and
UseAuthorizeApiInsteadOfAuthorizeAnalyzer

[2018-05-11 02:15] Foroughi commented on #132
@PaymonK  According to the codes, GCop524 is just about removing the private. I can not anything about turning a private property into a field there.

[2018-05-11 10:42] PaymonK commented on #132
It was maybe a documentation error

[2018-05-11 10:42] #132 closed

[2018-05-11 13:29] Foroughi commented on #139
@reporter : Fixed on [NuGetPackages\2ecb86262349681ddf53ee20302c2d66eecd8171](https://gitlab.com/Paymon/GCop/tree/2ecb86262349681ddf53ee20302c2d66eecd8171)

FYI, The rule key of  UseAuthorizeApiInsteadOfAuthorizeAnalyzer has been changed to 560

[2018-05-11 13:58] Foroughi commented on #87
@reporter : Fixed on [NuGetPackages\5f3d56168bad61a459736a2908c0550edd9aabfc](https://gitlab.com/Paymon/GCop/tree/5f3d56168bad61a459736a2908c0550edd9aabfc)

[2018-05-11 15:00] Foroughi commented on #104
@reporter : Fixed on [NuGetPackages\e67fa331b5b50ea5ea687aaa8fdd3af6ec8e3118](https://gitlab.com/Paymon/GCop/tree/e67fa331b5b50ea5ea687aaa8fdd3af6ec8e3118)

[2018-05-11 15:04] Foroughi commented on #88
@PaymonK, For this rule i will check if the variable is being used exactly in the next statement and if it wsnt, im gonna kick this rule in , so by this , the first and third option will be covered

For the second option (For loop variable) , let me khow what exactly do you mean by the word "Usually" ? Is there any exception for this ?!

[2018-05-11 16:05] PaymonK commented on #88
It's not that simple. You should also see what is being used in setting the value. For example:

[code]

In the above example, although `b` is defined 2 statements before `UseThe(b)` but the rule does not apply. However the rule should apply to the following:

[code]
Which should be changed to:
[code]
And then the same rule will apply to `a`, meaning the final code should be:
[code]
==============

[2018-05-11 16:10] PaymonK commented on #88
Regarding the loop variables, the rule applies to the following:

[code]
But it does not apply to the following, because the variable's scope is beyond the body of the loop:

[code]

[2018-05-11 17:33] Foroughi commented on #88
@PaymonK  By all examples and clues you mentioned, the rule`s logic is getting more and more complex! The fact that we need to find out if the codes between declaring a variable and the first time it's being used, kinda have any impact on it, is almost impossible.  But ill work on it. i have some ideas

[2018-05-13 11:34] marjanjavid opened #140 "GCop 320"
It should become a M#/Olive/Zebble only rule.

[2018-05-13 12:11] marjanjavid opened #141 "GCop 411"
This rule is not kicked . as you can see in the picture, while Settings inherits GuidEntity, we do not have any warning in this line.
![411](https://user-images.githubusercontent.com/20684649/39967205-785e6098-56cc-11e8-9f22-5fd3381a2ee1.PNG)

[2018-05-14 09:13] marjanjavid commented on #139
There is no rule with 560 key. It seems it is changed to 650

[2018-05-15 07:54] marjanjavid opened #142 "GCop 545 and GCop 640"
It seems that these two rules have the same job, while GCop 545 is not kicked where it is expected .

[2018-05-15 08:14] marjanjavid opened #143 "GCop 309 VS GCop 147"
It seems that GCop309 and GCop147 rules are opposite of each other.
Also GCop 309 warning is not kicked where it is expected .

[2018-05-15 14:44] #102 closed

[2018-05-16 04:44] marjanjavid opened #144 "GCop 321"
This rule message is not visible. like picture below

![321](https://user-images.githubusercontent.com/20684649/40097101-780421d6-58e9-11e8-9694-023f6e34aeed.PNG)

[2018-05-16 12:46] marjanjavid opened #145 "GCop 436 VS GCop116"
It seems they are mostly the same

[2018-05-16 13:15] marjanjavid commented on #145
it is not a real problem and Mr Foroughi has explained this for me.

[2018-05-16 13:15] #145 closed

[2018-05-17 10:12] Foroughi commented on #129
@reporter : Fixed on [NuGetPackages\98beb3ce109b5cdd696f4dc87b68f5394e7b00b3](https://gitlab.com/Paymon/GCop/tree/98beb3ce109b5cdd696f4dc87b68f5394e7b00b3)

[2018-05-17 10:14] Foroughi commented on #129
## How To Use It

I`ve sent Karvan a .exe File which helps you to use this logger. Its just needed to open the .sln file into that logger, the reset will be fairly self-explanatory in that .exe app

[2018-05-21 08:05] marjanjavid opened #146 "GCop 516 VS GCop 618"
It seems these rules are the same

[2018-05-22 10:29] PaymonK opened #149 "New rule for Web Apis"
If we have a web api action method such as:

[code]

If the following conditions are met:

- The method's Http action is HttpPost, HttpPut, HttpPatch or HttpDelete
- The parameter type is a type defined in the application (i.e. not in the .NET framework)
- The argument does not have any *[FromXXX]* attribute (such as FromQuery, FromRoute, ....)

Then show a warning to say: "For a {Post} Web Api, s

[2018-05-24 08:25] PaymonK commented on #143
For 309 does it actually fire that warning for your example here? https://github.com/Geeksltd/GCop/blob/master/Rules/GCop309.md

[2018-05-24 08:37] marjanjavid commented on #143
Actually not. I asked my teammate about this rule. He told me it seems like it should be kicked when we have an example like what is written in the document. Because we were not sure about this rule, I wrote this issue too.

[2018-05-24 08:41] PaymonK opened #150 "GCop 629"
The description and example here seems wrong. https://github.com/Geeksltd/GCop/blob/master/Rules/GCop629.md

What is the implementation code for the rule? We need to fix the documentation.

[2018-05-24 08:43] PaymonK opened #151 "GCop618 vs GCop 516"
What is the difference between these two rules? Should they be merged? Or are they two different things?

https://github.com/Geeksltd/GCop/blob/master/Rules/GCop618.md

[2018-05-24 08:47] PaymonK commented on #143
I need to see the rule implementation code.

[2018-05-24 15:06] Karvan commented on #131
.net core 2

[2018-05-25 13:58] Foroughi commented on #131
@reporter : Fixed on [NuGetPackages\d8658c1ffeaf0bc5a7d543e78083d29283be0348](https://gitlab.com/Paymon/GCop/tree/d8658c1ffeaf0bc5a7d543e78083d29283be0348)

[2018-05-25 14:15] marjanjavid opened #152 "Sample for GCop532"
please provide a sample for GCop532

[2018-05-25 14:16] marjanjavid opened #153 "GCop 520"
Please Provide a sample for gcop520

[2018-05-25 14:28] marjanjavid commented on #150
There is a similar description here. If this rule is wrong, we should fix it here too

[2018-05-25 15:44] nnpcYvIVl opened #154 "GCop AD0001 - ArgumentException @ CallExtensionMethodAsExtensionAnalyzer"
[code]

[2018-05-25 16:09] Karvan commented on #135
It should be fixed, I'm going to test it on one of the Live environments.

[2018-05-26 06:40] marjanjavid opened #155 "GCop 434"
This rule is just usable in PropertyGetter. As the picture below show, there is no GCop hint for calling static methods in other places. If it is needed we should regard this too.
![434](https://user-images.githubusercontent.com/20684649/40573324-2b46373c-60d5-11e8-885c-09e8fe9095fc.png)

[2018-05-26 07:44] marjanjavid opened #156 "GCop 518"
As it can be seen in the picture below, if we use `MinOrDefault()` or `MaxOrDefault` for a `Datetime`, it says you should write `MaxOrNull()` instead for both, which is wrong. Please change the message when there is `MinOrDefault`.

![518](https://user-images.githubusercontent.com/20684649/40573920-56e23b6c-60de-11e8-9942-98fd110ffa04.png)

[2018-05-26 10:05] Foroughi commented on #153
@reporter : Unit test has been added on[ NuGetPackages\45f79e43a535f5721ae683b5e279e2ad1be602f5](https://gitlab.com/Paymon/GCop/tree/45f79e43a535f5721ae683b5e279e2ad1be602f5)

As I found out there was an issue who caused this rule doesnt kick in sometimes for some cases. its fixed now.

## Unit Test Result :
[code]
The rule will kick in for this ,but keep in mind the lists are **string** based-on

[2018-05-26 12:04] marjanjavid opened #157 "GCop 514"
Please Provide a sample for gcop514
As it can be seen in the picture below, this rule is not kicked for this sample
![514](https://user-images.githubusercontent.com/20684649/40575886-9ae6c494-6102-11e8-95ff-07817ca679cb.PNG)

[2018-05-27 13:01] marjanjavid opened #158 "GCop 628"
Please provide a sample for GCop628.
As Karvan told me, the purpose of this rule is keeping the dependent method to a class inside the class .
For example when you have a .ToString(ClassA x) method
you can have it in any classes and in the project
but the best location is ClassA
because you can simply call it as ClassA.ToString()
but It seems there are some other important points in this rule, whi

[2018-05-27 13:15] marjanjavid commented on #142
Please provide an example for GCop545

[2018-05-27 13:39] marjanjavid opened #159 "GCop 542"
Please provide an example for GCop542.
I wrote the example below, but GCop 619 is kicked for this.
![542](https://user-images.githubusercontent.com/20684649/40586567-15eb4044-61d9-11e8-8972-fd6431b999e5.PNG)

[2018-05-27 13:50] marjanjavid commented on #150
we have the same issue for GCop602. Because this rule is like GCop629 but is used for lambda expressions.

[2018-05-27 14:20] marjanjavid opened #160 "GCop 155"
This warning is not kicked in the place it is expected.
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop155.md
![155](https://user-images.githubusercontent.com/20684649/40586990-cd5c7432-61de-11e8-9260-6e92ccacc42a.PNG)

[2018-05-27 14:34] marjanjavid opened #161 "GCop 425"
Please provide a sample for gcop425

[2018-05-27 14:35] marjanjavid opened #162 "GCop 316"
Please provide a  sample for gcop316

[2018-05-27 14:37] marjanjavid opened #163 "GCop 503"
How can i create a property of `document` type to test this rule?

[2018-05-27 18:39] Foroughi commented on #130
@marjanjavid  I don't have access to that `IsBefore `method. Would you please confirm its an extension method in the context of given sample?

[2018-05-28 06:08] marjanjavid commented on #130
Yes. It is an extension method but I did not write it myself. It is written in MSharpExtensions class.

[2018-05-28 07:48] marjanjavid opened #164 "GCop 426"
PLease provide a sample for Gcop426

[2018-05-28 08:49] marjanjavid opened #165 "GCop 515"
Please check this rule. It seems this rule is not kicked in an expected place.

[2018-05-28 09:01] marjanjavid commented on #152
Thank you.

[2018-05-28 09:01] #152 closed

[2018-05-28 10:09] marjanjavid opened #166 "GCop 436"
What is the difference of this rule with GCop116
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop116.md

[2018-05-28 11:23] marjanjavid opened #167 "GCop 307"
please provide a sample for gcop307

[2018-05-28 12:43] marjanjavid commented on #127
@Foroughi Yes. if you check line number 117, you can see this code:
if (methodInfo?.ContainingAssembly?.ToString().StartsWith("MSharp.Framework") == false) return null;
which emphasize on MSharp. This rule have 2 problems. Firstly, if it is Msharp rule it should be written in GCop.OliveZebbleMSharp project. Secondly, this rule should be usable for Olive and Zebble too.

[2018-05-29 07:57] #36 closed

[2018-05-29 07:57] #87 closed

[2018-05-29 07:57] #92 closed

[2018-05-29 07:57] #97 closed

[2018-05-29 07:57] #98 closed

[2018-05-29 07:57] #99 closed

[2018-05-29 07:57] #100 closed

[2018-05-29 07:57] #104 closed

[2018-05-29 07:57] #105 closed

[2018-05-29 07:57] #108 closed

[2018-05-29 07:57] #109 closed

[2018-05-29 07:57] #111 closed

[2018-05-29 07:57] #113 closed

[2018-05-29 07:57] #118 closed

[2018-05-29 07:57] #119 closed

[2018-05-29 07:57] #124 closed

[2018-05-29 07:57] #125 closed

[2018-05-29 07:57] #126 closed

[2018-05-29 07:57] #131 closed

[2018-05-29 07:57] #133 closed

[2018-05-29 07:57] #134 closed

[2018-05-29 07:57] #135 closed

[2018-05-29 08:04] #128 closed

[2018-05-29 14:24] Foroughi commented on #149
Here are some details of the new rule :

## General Details:

- ID : **182**
- Category : **Design**
- Message : **For a {0} Web Api, specify the parameter binding source explicitly. Did you mean to add [FromBody]?**
- Severity : **Warning**
- Package : **GCop.Common**

## Technical Details :

The Rule will look for a method with the following specs :

- Should be public
- Should decorated with an

[2018-05-30 13:29] Foroughi commented on #123
@reported : Fixed on [NuGetPackages\dde73e86e7c025b828c766bb01a11a1d09c32a11](https://gitlab.com/Paymon/GCop/tree/dde73e86e7c025b828c766bb01a11a1d09c32a11)

[2018-05-30 14:35] Foroughi commented on #122
@reporter : Fixed on [NuGetPackages\c58480670b6391f57040418ab671c72e0b70945c](https://gitlab.com/Paymon/GCop/tree/c58480670b6391f57040418ab671c72e0b70945c)

[2018-05-30 15:21] Foroughi commented on #121
@marjanjavid this is an old issue. I just created the same sample as the one you have and I couldn't replicate any warning from GCop624. Would you please confirm you still get this error for that piece of code?

[2018-05-30 16:09] Foroughi commented on #130
@reporter : Fixed on [NuGetPackages\1b7b834c78847371abc1226811d1cdead2697198](https://gitlab.com/Paymon/GCop/tree/1b7b834c78847371abc1226811d1cdead2697198)

Note : In order to fix this i had to change the logic of this rule , so that would be great if we have a deep test on this rule again to make sure i didn't break any other logic of this rule

[2018-05-30 16:18] Foroughi commented on #140
@reported : Fixed on [NuGetPackages\4c0c9aa9294ec221f72977f181c9caef254c9622](https://gitlab.com/Paymon/GCop/tree/4c0c9aa9294ec221f72977f181c9caef254c9622)

[2018-05-30 16:24] Foroughi commented on #138
@reporter : Fixed on [NuGetPackages\820abef0cd7b6077f310ff3bd06f1a64d46d2aa3](https://gitlab.com/Paymon/GCop/tree/820abef0cd7b6077f310ff3bd06f1a64d46d2aa3)

[2018-05-30 16:30] Foroughi commented on #137
@reporter : Fixed on [NuGetPackages\5b57a4c7442bfbec406d9cca44206838f7ac9007](https://gitlab.com/Paymon/GCop/tree/5b57a4c7442bfbec406d9cca44206838f7ac9007)

[2018-05-30 16:38] Foroughi commented on #136
@reporter : Fixed on [NuGetPackages\d3fd6b37531d20e48b06c73578c679880ebf5acc](https://gitlab.com/Paymon/GCop/tree/d3fd6b37531d20e48b06c73578c679880ebf5acc)

[2018-05-30 16:46] Foroughi commented on #156
@reporter : Fixed on [NuGetPackages\a425057388d404cfc161551c6c8dd920832f95e0](https://gitlab.com/Paymon/GCop/tree/a425057388d404cfc161551c6c8dd920832f95e0)

[2018-05-30 16:55] Foroughi commented on #155
@marjanjavid  would you please be more specific? I don't follow on this issue

[2018-05-30 17:13] Foroughi commented on #139
@marjanjavid  Would you please catch me up why you have opened this one ?! Is there any issue with it ?!

[2018-05-30 17:19] Foroughi commented on #154
@nnpcYvIVl Would you please be more specific about the following questions :

1 - Whats the context you got this error? Isn't this error pointing out to any piece of code ?! If yes, please mention that code here.
2 - Whats the current project type? Which language are you using ?!

Please provide these sort of information as much as you can

[2018-05-30 17:37] Foroughi commented on #146
@marjanjavid  After more investigation on these two rules I have to disagree with you on this b/c they are not the same. Here is more details :

### GCop618
This rule looks for this code : `Database.Find(rec => rec.Something == Value)`. Then again the rule will check if there is an static method named `FindBySomething `in the current context and in case it **clould find** it , then will suggest us

[2018-05-30 17:43] nnpcYvIVl commented on #154
@Foroughi

This error appears in the error list after loading the solution. This particular code file is too big to post but here is a sample repro. Make sure the Language version is set to "C# latest minor version (latest)" in advanced build settings.

[code]

Winforms C#.

[2018-05-30 20:26] nnpcYvIVl opened #168 "GCop648 CodeFix Failure"
I ran a fix all in solution on GCop648 and got this error message: 'BatchFixAllProvider' encountered an error and has been disabled.

[code]

[2018-05-31 07:43] #139 closed

[2018-05-31 09:03] marjanjavid commented on #139
Yes. please look at the first example of this document, which is added by @PaymonK  to this page.

[2018-05-31 09:08] marjanjavid commented on #155
Yes. please look at the first example of this document, which is added by @PaymonK  to this page.
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop434.md

If we have this example, there would be no GCop hint for calling static methods(as you can see in the above picture line20).

So we must remove the Example1 or change the rule.

[2018-05-31 09:47] Foroughi commented on #155
@marjanjavid  @Karvan I'm not sure if you want me to change GCop434 to cover the first example in [here](https://github.com/Geeksltd/GCop/blob/master/Rules/GCop434.md) . You may wanna check GCop433 as well. I think that example should be covered on GCop433, not GCop434

[2018-05-31 09:51] Foroughi commented on #155
Also GCop433 will hint only if we call a static method (with Class name) in a **static** method, so here is the question: Why ?! why we need to just check that invocation only in static methods ?! I think by removing this (check only in static methods i mean) from GCop433, it will cover that first example as well

[2018-05-31 09:55] Foroughi commented on #127
@marjanjavid  there are more than those 2 GCop rules you mentioned that have been marked just for Msharp/Zebble  ? Do you want me to change them all ? or just these 2 for now ?

[2018-05-31 10:10] Foroughi commented on #144
@reporter : Fixed on [NuGetPackages\3b4f4d2958f0144a9b7043c800342bd75e5abd42](https://gitlab.com/Paymon/GCop/tree/3b4f4d2958f0144a9b7043c800342bd75e5abd42)

@marjanjavid It's obvious that rule needs to be checked deeply as I think it has never been.

[2018-05-31 10:16] Foroughi commented on #91
@PaymonK Would you please provide the context or the piece of code you got this error on?!

[2018-05-31 10:18] Foroughi commented on #89
@PaymonK  Can I have that Olive solution you mentioned?

[2018-05-31 12:04] marjanjavid commented on #155
I think it is better waiting @Karvan  or @PaymonK  answer our questions about these two rules.

[2018-05-31 13:22] Foroughi commented on #127
@reporter : Fixed on [NuGetPackages\f024bbf5086ee7d9667018f2c884309bfa323696](https://gitlab.com/Paymon/GCop/tree/f024bbf5086ee7d9667018f2c884309bfa323696)

[2018-05-31 14:14] Foroughi commented on #110
@reporter : Fixed on [NuGetPackages\8757f37ffd195dde6772a8c9145c0a463dd84960](https://gitlab.com/Paymon/GCop/tree/8757f37ffd195dde6772a8c9145c0a463dd84960)

[2018-05-31 14:23] Foroughi commented on #93
@PaymonK I dont follow you. By any chance did you mean :

This rule **should kick in** only if there is an explicit cast operator defined from the type of T (of the list object) and the type of the destination.

[2018-05-31 14:45] Foroughi commented on #166
@marjanjavid GCop116 will kick in if the length of a standard-bodied method is more than 40 statements. While GCop436 will kick in only for Expression-Bodied methods if they have more than 100 characters.

[2018-05-31 14:49] Foroughi commented on #165
@marjanjavid Would you please provide an example or be more specific?

[2018-05-31 15:13] Foroughi commented on #164
@marjanjavid This method will kick in if we have :
[code]

or

[code]

Which is not necessary and can be replaced by the returning value!
Btw, somethings are wrong here :

1- Why the returning value should be started by with "MSharp.Framework.Database.Get<" as its mentioned in the codes

2- At line 57 we can see ".Remove(".Count()")" which doesnt make sence to me

@Karvan @PaymonK

[2018-05-31 15:16] Foroughi commented on #164
Unit test has been added on [NuGetPackages\73797e1a1758104261f3404df8472946a2881754](https://gitlab.com/Paymon/GCop/tree/73797e1a1758104261f3404df8472946a2881754)

[2018-06-01 09:06] MattAgh opened #170 "FormMosules > MergedForm()"
We nee to validate the type passed as "subformType" to be a FormModule type.

i.e.
MergedForm(user=>user.Projects,typeof(Project)) => "Project" is not a form module and devs should get a message to change it to a form type.

[2018-06-03 13:40] PaymonK opened #171 "GCop546 - When multiple variables are defined"
It's giving me a warning here:

[code]

If I swap the first two lines, it again gives me an error on the other variable.

[2018-06-03 15:19] PaymonK opened #172 "GCop302 - false positives"
When a disposable object is created ina method, but then passed on to another method as a parameter, skip the rule.

[2018-06-04 09:38] Karvan commented on #171
@Foroughi, Now This rule is going to process all lines of all methods of all classes which causes performance issue and we have to think about the best algorithm for covering all kind of scenarios before implementing that. Could you please disable this rule for now? I'll add another issue to the R&D milestone.

[2018-06-04 09:39] Foroughi commented on #171
@reporter @Karvan The rule has been disabled on [NuGetPackages\a9310ee8b0e096364e44f061365e3f73c0a5c3a7](https://gitlab.com/Paymon/GCop/tree/a9310ee8b0e096364e44f061365e3f73c0a5c3a7)

[2018-06-04 10:06] Foroughi commented on #172
@reporter : Fixed on[ NuGetPackages\54bdf256ca64d012e1e40a8df3a0b5325a81bd38](https://gitlab.com/Paymon/GCop/tree/54bdf256ca64d012e1e40a8df3a0b5325a81bd38)

[2018-06-04 10:31] Karvan commented on #155
The screenshot is not clean @marjanjavid. it shows the VS pop up not GCop one. We don't need two rules for a single concept.
@Foroughi Could you please merge both into 433 and remove 434.

the logic: apart from the method or property. for calling a static method we don't need to call that by the class name.

@marjanjavid I'll update the rules documents.

[2018-06-04 11:32] Foroughi commented on #155
@reporter @Karvan  Fixed on [NuGetPackages\a421f54d7b8059b6cd691606d9aae5234b4fb094](https://gitlab.com/Paymon/GCop/tree/a421f54d7b8059b6cd691606d9aae5234b4fb094)

Some notes :

1- GCop 434 has been disabled
2 - GCop 433 will kick in for any static method invocation (followed by the class name) regardless of where it's being called

[2018-06-04 11:34] marjanjavid commented on #155
@Karvan I Send this screenshot to show that GCop434 is just kicked when we call a static method in Getter, not other places. In the other places VS recognize this problem not GCop.

[2018-06-04 16:52] Foroughi commented on #151
@PaymonK here is the difference :

GCop516 is assuming **there is no** static method named FindBy{PropertyName} so it suggests dev to mark {PropertyName} as unique and then use the generated method.

GCop618 is assuming **there is** a static method named FindBy{PropertyName} so it suggests dev to use it.

@PaymonK It's up to you now if you want to merge them or not. But if you ask me, I'm gonna sa

[2018-06-04 17:07] Foroughi commented on #151
@marjanjavid according to this, the example I gave you for GCop618 is wrong. Here is the correct one :

namespace MSharp.Framework
{
    class Database
    {
         public method1()
         {
                Find(rec => rec.PropertyX)
         }
    }
}

[2018-06-05 11:11] PaymonK opened #173 "GCop117 - change"
Skip the rule if the name of the parameter is "value" or the same as the method name.

[2018-06-06 07:44] Foroughi commented on #173
@PaymonK I think we already talked about this one. But just to clarify, the rule won't kick in if :

1 - the method accept only one parameter
2 - that only parameter is boolean
3 - that only parameter name is 'value' or as same as the method name

Do you want me to remove first two conditions?!

[2018-06-06 08:02] Foroughi opened #174 "GCop rules are kicking in for auto-generated cs files"
![screenshot 75](https://user-images.githubusercontent.com/3727486/41024887-ab61d29c-6985-11e8-9a08-7a2899ce7d9a.png)

[2018-06-06 09:06] Karvan commented on #173
@Foroughi Please update the logic to skip if:

1- When the method has only one parameter, It doesn't matter it's Boolean or not, we need to skip this rule.

2- When the method has more than one parameter, and one of them is Boolean we need to trigger this rule while the parameter name is NOT value or method name and IS boolean

[2018-06-06 10:05] Karvan opened #175 "Bringing back GCop.Ignore file"

[2018-06-11 10:40] Foroughi commented on #173
@reporter Fixed on [NuGetPackages\36af7a48a36bd142834b01fa0da7b3fbd76a5f71](36af7a48a36bd142834b01fa0da7b3fbd76a5f71)

[2018-06-12 09:41] Karvan commented on #151
@Foroughi Please merge them they have a very same purpose.

[2018-06-12 10:06] marjanjavid commented on #121
Yes you are right. I don't see GCop642 error in this case now. So I will close this issue.

[2018-06-12 10:06] #121 closed

[2018-06-12 10:10] marjanjavid commented on #151
@Foroughi So please announce me after you merged them, because i should change the documents.
thank u

[2018-06-15 09:13] Foroughi commented on #151
@reporter : Fixed on [NuGetPackage\797d3d161498daa5602d5f66ee6c9e510a429916](https://gitlab.com/Paymon/GCop/tree/166bd0992c2bd8e087e1aa0643f7a0c63033acad)

@marjanjavid  You may wanna change the docs now

[2018-06-15 09:27] Foroughi commented on #143
@marjanjavid Do i need to do something for this?

[2018-06-15 09:53] marjanjavid commented on #143
please give us a correct example for GCop309 at first.then we can consider about this problem.thank you

[2018-06-15 09:53] marjanjavid commented on #143
please give us a correct example for GCop309 at first.then we can decide about this problem.thank you

[2018-06-15 10:06] Karvan opened #176 "Change to Warning please"
![errors](https://user-images.githubusercontent.com/20923968/41462851-23f91334-708c-11e8-9974-85fadb97b0ac.png)

[2018-06-15 10:10] Karvan commented on #176
![errors2](https://user-images.githubusercontent.com/20923968/41462979-b297f42a-708c-11e8-9b13-61472f93d643.png)

as you can see they are showing in the error and warning list.

[2018-06-15 10:28] Foroughi commented on #143
@marjanjavid Its almost impossible to bring up an example for GCop309 using MS Unit Tests as it has an incredibly complex implementation. I suggest let me using a simple M# project.

[2018-06-15 10:30] Karvan opened #177 "Duplicate warning"
![duplication](https://user-images.githubusercontent.com/20923968/41463762-8902d988-708f-11e8-9248-27e373621eec.png)

[2018-06-15 13:15] Foroughi commented on #143
@marjanjavid I wrote a code on an empty M# project and finally GCop309 kicked in. Here is the code :

[code]

Here are some tips :

1. Gcop309 won't kick in for the codes like `Database.GetList` as there is an If who ignore these kinda codes. I don't know what was the idea of making that If Condition

So this code won't causes GCop309 to kick in :

`Database.GetList<PasswordResetTicket>(rec => rec

[2018-06-15 13:34] Karvan commented on #176
@Foroughi  PLease ignore this for now. I found the issue.

[2018-06-16 00:10] Foroughi commented on #176
@Karvan Great, would you please catch me up whats the issue about ?

[2018-06-18 06:27] marjanjavid commented on #153
This rule still is not kicked yet. I checked this with GCop version 1.1.5. So I open again this issue.

[2018-06-18 06:40] marjanjavid opened #178 "GCop 546"
It seems we should look again this rule. This is kicked even if we use the variable 2 lines after it is declared. Is it really useful to kick error for List1 in the picture below?
The rule says: "Variables should be declared as close to their usage as possible."

![capture](https://user-images.githubusercontent.com/20684649/41521653-35ebe694-72e8-11e8-8ad1-e5ecf72e450d.PNG)

[2018-06-19 08:49] Foroughi commented on #178
@marjanjavid This rule has been disabled temporary as its logic is not completed yet.

[2018-06-27 13:31] Karvan commented on #163
You just need to install MSharp package. it's var doc =  new MSharp.Document();

[2018-06-27 13:31] #163 closed

[2018-06-27 13:35] Karvan commented on #164
@Foroughi Database.Get will be enough we don't need to have "MSharp.Framework" part.

[2018-06-27 13:36] #166 closed

[2018-06-27 18:06] Foroughi commented on #174
Fixed on [NugetPackages\20463577d4bc9a3aadb920e0355e2ac7fc119fe0](https://gitlab.com/Paymon/GCop/tree/20463577d4bc9a3aadb920e0355e2ac7fc119fe0)

[2018-06-28 17:43] Foroughi commented on #167
@Karvan  Finally, I found out the reason why this rule does not kick in (and Marjan couldn't find a sample for it) is that we are using the semantic model as I told you on skype. so I tried to remove it but turned out there is a method named **IsTypeArgumentInterface** who check if `T` in `GetList<T>` is an `Interface` or not. we can not check this without the semantic model and as the semantic mo

[2018-06-29 15:57] Foroughi commented on #164
@Karvan I'm not sure what should I do for this task.

[2018-06-29 16:57] Foroughi commented on #162
@marjanjavid This worked for me on an M# project

[code]

**Note :** You can not use `MSharp.Framework.Database` or `MSharp.Framework.Data.Criterion`

[2018-06-29 17:03] Foroughi commented on #161
@marjanjavid The same example in #164 is useful for this one too , except you need to use GetList method instead of `Get`

[2018-06-29 17:05] Foroughi commented on #161
@Karvan @PaymonK I suggest to merge these two rules as they have a same logic except one is about `Database.GetList` method and the other is about `Database.Get` method

[2018-06-29 18:02] Foroughi commented on #160
@marjanjavid  @Karvan  The reason why the rule doesnt kick in for your sample is because at line 60 we have :

`innerInvoke.OriginalDefinition.ToString() != "System.Collections.Generic.IEnumerable<TSource>.Contains<TSource>(TSource)"`

I dont know why we have this condition in that line ! im gonna talk with Karvan why prevoise dev use that logic and ill inform you. Maybe there was a specific situa

[2018-07-02 09:30] PaymonK commented on #93
I see.

Perhaps for now, we can just hard code the exception for the casts that we know are problematic, e.g. (i => (byte)i).

[2018-07-02 12:41] Karvan commented on #161
@Foroughi yes please,

[2018-07-02 13:20] Karvan commented on #160
@Foroughi
 This code doesn't make sense. Even if it's a specific situation it shouldn't conflict with the normal ones. Could you please remove that.

[2018-07-02 14:08] Foroughi commented on #161
@Karvan Fixed on [Development\e615cd9a7d0299e3d8c4b9d7e890331b0dcb89f0](https://gitlab.com/Paymon/GCop/tree/e615cd9a7d0299e3d8c4b9d7e890331b0dcb89f0)

@marjanjavid  You may wanna change the docs of these two rules

[2018-07-02 14:30] Foroughi commented on #160
@Karvan  Fixed on [Development\b32eb1b3f1336f4d6e4ca023f60613f2a1f49397](https://gitlab.com/Paymon/GCop/tree/b32eb1b3f1336f4d6e4ca023f60613f2a1f49397)

[2018-07-03 11:13] Foroughi commented on #159
@marjanjavid , Fixed on [Development\5e59d13e8f5ed90de07cd6a0cdebcb03e90ca6cf](https://gitlab.com/Paymon/GCop/tree/5e59d13e8f5ed90de07cd6a0cdebcb03e90ca6cf)

You may wanna check that code again after the next release

[2018-07-03 12:20] Foroughi commented on #157
@marjanjavid  Would you please provide the complete code including the namespace and its class ?! I just checked your code and it worked for me. So would you please provide the complete code here ?!

Unit Test has been added on [Development\a962445daad54c49c43e61146a8c041fc9c368bf](https://gitlab.com/Paymon/GCop/tree/a962445daad54c49c43e61146a8c041fc9c368bf)

You may wanna check the unit test i`ve

[2018-07-03 12:39] marjanjavid commented on #157
@Foroughi It seems I have written this in a BaseView classs
![12](https://user-images.githubusercontent.com/20684649/42220298-c6bee732-7ee3-11e8-83b4-4a68a3fa1fd0.PNG)

[2018-07-03 13:24] Karvan opened #179 "GCop 172"
if you look at the screenshot, updating the code to `bitmap = modifier?.(bitmap);`  will result in Null value when modifier is null and it's not correct.

we have to skip this rule when we variable has defined before the line or it's not null.

[2018-07-03 13:47] Foroughi commented on #141
@PaymonK @Karvan I'm not sure what was the idea of this rule as some parts of the logic have been commented out and that's the reason Marjan couldn't find a good sample for this rule. So please let me know what should I do ?! Is it possible to recode the rule ?! Do you know guys why some parts are being commented out? or are you aware of the details of the logic of this rule?

[2018-07-03 14:01] Foroughi commented on #157
@marjanjavid  we need to talk about this as the rule is kicking in for the same code on my end.

[2018-07-04 14:10] anaSelegova2018 opened #180 "GCop.Core error loop"
Hi, I have installed GCop.Extra and GCop.Collections with GCopCommon. After rebuilding a project, I have received an endless loop of errors. I have uninstalled them. However I am getting same errors. My visual studio is unusable now.
![gcop error](https://user-images.githubusercontent.com/40832220/42281707-4c93f100-7f9c-11e8-8daf-f43daeec91e4.JPG)
Please see image attached.

[2018-07-04 15:01] Foroughi commented on #180
@anaSelegova2018 Would you please let me know what is the project type you're getting this endless loop alerts on?

[2018-07-04 15:14] Karvan commented on #180
@Foroughi Apparently we have this issue sometimes. not happening always for the same project and on the same machine.

@anaSelegova2018 it shouldn't be just the GCop.Extra. we will look into the windows event to see what can we find there.

[2018-07-04 16:37] Karvan commented on #180
Fixed. it's related to old GCop.Extra.

[2018-07-04 16:37] #180 closed

[2018-07-06 10:00] Foroughi commented on #89
@PaymonK  I`ve raised a ticket for Roslyn Team. Lets wait for their response

[2018-07-06 14:45] #164 closed

[2018-07-06 14:53] Karvan commented on #141
The commented code is not completely correct. Please recode it. the whole purpose of the rule:

while an object inherited IEntity<Guid>, no need to set the Id manually. That's that.

Keep this line please:  if (assignment.Right?.ToString() == "Guid.Empty") return;

Base class for MSharp object is `GuidEntity ` which is coming from Entity<Guid>, IEntity<Guid>, IEntity, ICloneable, IComparable

[2018-07-09 08:03] Foroughi commented on #167
@Karvan That logic has been removed on [Development\7770dbe3884c4da87ecf604e6f1a2ab37a501d3c](https://gitlab.com/Paymon/GCop/tree/7770dbe3884c4da87ecf604e6f1a2ab37a501d3c)

[2018-07-12 13:04] Karvan opened #181 "Some Gcop warnings don't show the ID"
GCop 406
![gcop406](https://user-images.githubusercontent.com/20923968/42634852-519c9792-85dc-11e8-8e01-189d80ac3462.png)

GCop 548
![gcop 546](https://user-images.githubusercontent.com/20923968/42634900-7f17a7b6-85dc-11e8-9e78-850cd9d69983.png)

[2018-07-12 13:06] #27 closed

[2018-07-19 08:14] thapabhesh opened #182 "New GCop rule for optimal Database.GetList() query execution"
@Karvan

The resultant SQL query generated from the following database query is not optimised as the filter is applied after objects are loaded into memory. We have a entity called **Diary** and **Date** is a property of that entity.

`Database.Count<Job>(j => **Date > j.StartDate** && **Date < j.EndDate**);

[2018-07-23 11:41] thapabhesh opened #183 "New Gcop rule for using Instance member without initialising inside of Constructor"
@Karvan
In the constructor for Diary class we are using Date property without initialising/setting them first which can lead to unintended result. Could we have a Gcop rule to cover this scenario?

`public class Diary
{
    private IEnumerable<LabourAllocation> AllocationList;

    public DateTime Date { get; set; }

    public Diary()
    {
        AllocationList = Database.GetList<Job>(j => j.Da

[2018-07-23 15:12] Karvan commented on #182
@Foroughi  it should be

Database.Count<Job>(j =>  j.StartDate < Date && j.EndDate >  Date);

[2018-08-01 12:58] HamidTheGeek opened #184 "GCop 124 should be removed"
As we can define and assign the converted value of the TryParse methods at the same line. We do not need this rule anymore.

Currently, it forces us to change this method
[code]
in to

[code]

[2018-08-06 20:53] Foroughi commented on #184
@Karvan @PaymonK We have two solutions to avoid this :

1- Check if the out decorated parameter is being used in the current line or not (which is a little bit tricky. I'm not sure about the details but generally I mean we can add an exception to the rule logic to avoid this, like if the TryParse is being used in a binary statement)
2- Remove the rule

Please let me know which one do you guys pref

[2018-08-06 21:03] Foroughi commented on #182
@thapabhesh @Karvan Pardon me but seems I'm missing something here. Would you please answer me these questions :

1 - @thapabhesh How do you know that statement fetches the data before applying the filter? Is there any specific condition that statement has met that causing this or it's a general M# routine?

2- @Karvan Removing `<Job>` and change the filter that way will avoid fetching data before

[2018-08-06 21:08] Foroughi commented on #183
@thapabhesh Are you pointing out that we need a new rule to avoid using a property of a class in its constructor before initializing it?

[2018-08-06 21:11] Foroughi commented on #181
@karvan I just checked both rules and both seems correct to me, seems its an unexpected behavior of Roslyn.

[2018-08-06 21:14] Foroughi commented on #175
@Karvan @PaymonK The last time I talked about this with Paymon, he didn't let me add that file back to GCop. I'm not sure if i should work on this one or not

[2018-08-07 07:19] HamidTheGeek commented on #184
Hi Ali,

Paymon agrees to remove that.

[2018-08-07 08:55] Foroughi commented on #184
@HamidTheGeek Hi Hamid.
The rule has been removed on [Development\a59cea1ddfee46df909b97dc90bf5dc004e6fe4e](https://gitlab.com/Paymon/GCop/tree/a59cea1ddfee46df909b97dc90bf5dc004e6fe4e)

[2018-08-07 15:39] marjanjavid commented on #165
of course. but first of all i should say i am not important that in my sample this line of code is considered or not
"if (!methodInfo.ContainingType?.BaseType?.BaseType?.ToString().StartsWith("MSharp.Framework.Entity") ?? true) return;" because i don't have enough information about MSharp.

there is a rule in M# about Unique properties. If we emphasize a property as a unique one, like "String("Ema

[2018-08-09 15:48] #160 closed

[2018-08-09 15:48] #161 closed

[2018-08-09 15:48] #167 closed

[2018-08-09 16:10] Karvan commented on #175
@Foroughi it's confirmed now you can start this please.

[2018-08-09 16:10] #184 closed

[2018-08-09 16:13] Karvan commented on #183
@Foroughi it's a good idea to cover this scenario.

Thank you @thapabhesh

[2018-08-09 16:36] Karvan commented on #182
@Foroughi

1- It's MSharp related logic.
2- It's not related to <job>, I missed that in my sample. so the answer is no.

we can have a set of rule for the optimum database queries in Msharp. this is one of them.
`Database.Count or GetList or Any (j => j.StartDate < Date && j.EndDate > Date)` instead of `Database.Count<Job>(j => Date > j.StartDate && Date < j.EndDate);`

[2018-08-09 16:36] #181 closed

[2018-08-09 16:39] #174 closed

[2018-08-09 16:44] Karvan commented on #162
@marjanjavid @Foroughi what's this issue about? do we need to keep it open?

[2018-08-31 18:19] marjanjavid opened #189 "GCop 406"
I have installed GCop.All.Common version 1.2.6. I tried GCop 406 as the picture below. But no error is kicked. Also there is the same problem about GCop 440 and 660
![406](https://user-images.githubusercontent.com/20684649/44929383-1da38c00-ad70-11e8-8ca7-2ab24be5736d.PNG)

[2018-08-31 19:09] marjanjavid opened #190 "GCop 444"
This rule is not kicked with the sample below. As it is clear there is a warning kicked for this sample which is not GCop warning and is IDE

![444](https://user-images.githubusercontent.com/20684649/44931506-17fd7480-ad77-11e8-8992-5cec81a146db.png)

[2018-09-01 13:45] Foroughi commented on #189
The new rules (in this case GCop406) are just in GCop.UAT packages. FYI, from now on, every new rule will be added to that package until Paymon confirms they are working properly.

[2018-09-01 13:47] Foroughi commented on #190
@Karvan  If the IDE takes care of these kinda issues I don't we need to worry about it. Right?
@marjanjavid Have you installed GCop.UAT package?

[2018-09-01 13:51] marjanjavid commented on #190
no i didn't. I didnt know about GCop.UAT

[2018-09-04 15:29] PaymonK opened #191 "MC#: SendReturnUrl(false)"
We need a new GCop package named `GCop.MCSharp` which is used in MC# projects only.

[2018-09-04 15:32] PaymonK opened #192 "LabelText("[#EMPTY#]")"
If you see any method called with the argument of "[#EMPTY#]" then warn to say "Use No{MethodName}() instead."

[2018-09-04 15:36] PaymonK opened #193 "Redundant Control setting"
If you see
[code]

Then in the following conditions say "For a {PropertyType} property, setting the control to {SomeType} is redundant."

* Property type is string or number and control type set is TextBox
* Property type is date time and control type set is DatePicker
* Property type is timespan and control type set is TimePicker
* Property type is boolean and control type set is CheckBox
* Prope

[2018-09-06 08:40] Foroughi commented on #183
I just checked this scenario and it seems the IDE is taking care of it already.

@Karvan  Do you think we need to worry about it in GCop?

[2018-09-06 09:01] Foroughi commented on #192
@PaymonK Just to clarify, for the following example :

`Func1("[#EMPTY#]")` should be `Func1("NoFunc1")`

[2018-09-06 09:38] PaymonK commented on #183
My IDE doesn't seem to do that. I get no warnings currently on this:

 public class Diary
    {
        private DateTime AllocationList;

        public DateTime Date { get; set; }

        public Diary()
        {
            AllocationList = Date;
        }
    }

[2018-09-06 10:18] Foroughi commented on #183
@PaymonK  My bad if you make that `Date` property `private`, the IDE will kick in with a warning. Im gonna work on it.
![screenshot 83](https://user-images.githubusercontent.com/3727486/45151547-de4bc400-b1e3-11e8-8cd7-0cd7e0a6bc5b.png)

[2018-09-06 11:26] PaymonK commented on #191
I think you are confusing two different things.

Please note that this is a different concept from the ZebbleMSharpOlive stuff.

This is a new GCop library, which is specific to MCSharp projects which are special project types that have M# metadata definitions.

You can create a project here: http://learn.msharp.co.uk/#/Install/README

[2018-09-06 11:28] marjanjavid commented on #189
At first I didn't installed GCop.UAT. I test it again with installed GCop.UAT and the result is that it has still the previous problem.

[2018-09-06 11:31] marjanjavid commented on #190
I test it with GCop.UAT and the problem is solved. It shows error correctly. But IDE fires this too.

[2018-09-06 12:23] marjanjavid opened #194 "GCop 440"
This rule is fired only when we have .ToLower() in our comparison. If we read this document
https://www.c-sharpcorner.com/UploadFile/3d39b4/difference-between-operator-and-equals-method-in-C-Sharp/

we find that, when we have a sample like below, we should fire error too. but at this time no error is fired in this case.

object name = "sandeep";
char[] values = { 's', 'a', 'n', 'd', 'e', 'e', 'p'

[2018-09-06 12:42] marjanjavid opened #195 "GCop 442"
this rule is not fired
![capture](https://user-images.githubusercontent.com/20684649/45158025-02190500-b1f8-11e8-8328-cb59bf6d118e.PNG)

[2018-09-06 12:44] PaymonK commented on #183
I see. This can get complicated. I think there are other more valuable rules to implement, mainly related to MCSharp stuff. Let's park this one.

[2018-09-06 13:02] marjanjavid opened #196 "GCop 644"
As we can see in the picture below, we can't override the Foo() method without re-implementing the interface. So i think we should not fire error in this case

![capture](https://user-images.githubusercontent.com/20684649/45158991-cc295000-b1fa-11e8-8fc6-1a8bdb1d4733.PNG)

[2018-09-07 09:17] Foroughi commented on #183
For now, the rule will kick in IF ONLY the uninitialized property is being used in the first line of the constructor.

[2018-09-07 09:51] PaymonK opened #197 "Redundant new string[] { }"
If you see
`InstanceAccessors(new string[] { "High", "Medium", "Low" });`
or
`InstanceAccessors(new [] { "High", "Medium", "Low" });`

it should be changed to
`InstanceAccessors("High", "Medium", "Low");`

[2018-09-07 10:05] Foroughi commented on #183
@reporter : Fixed on [Development/490f166c57c3d63b51193004a0dd20178e20532d](https://gitlab.com/Paymon/GCop/tree/490f166c57c3d63b51193004a0dd20178e20532d)

[2018-09-07 11:26] PaymonK opened #198 "Compact auto set"
In a Form module definition, if for any given property you see:
`Field(x => x.ThatProperty);`
and
`AutoSet(x => x.ThatProperty);`

Then warn to say "Write it as `Field(x => x.ThatProperty).AutoSet();`

[2018-09-09 14:44] Foroughi commented on #191
@reporter : Fixed on [Development/3d97523d97e3387760882e8ca41573d12ff32c5b](https://gitlab.com/Paymon/GCop/tree/3d97523d97e3387760882e8ca41573d12ff32c5b)

[2018-09-10 15:34] marjanjavid opened #199 "GCop 656"
There are 2 problems about this rule.
1- when I write a code like "string sample = "a" + "b";" then i have two warning, while it should be just one.u can see in the picture below
![22](https://user-images.githubusercontent.com/20684649/45307485-60b1ec00-b534-11e8-9188-0335e40864d6.PNG)

2- as it is written in this article
https://docs.microsoft.com/en-us/dotnet/csharp/how-to/concatenate-multiple-s

[2018-09-10 15:40] marjanjavid opened #200 "GCop 656"
There are 2 problems about this rule.
1- when I write a code like "string sample = "a" + "b";" then i have two warning, while it should be just one.u can see in the picture below
![22](https://user-images.githubusercontent.com/20684649/45307485-60b1ec00-b534-11e8-9188-0335e40864d6.PNG)

2- as it is written in this article
https://docs.microsoft.com/en-us/dotnet/csharp/how-to/concatenate-multiple-s

[2018-09-10 15:54] #199 closed

[2018-09-10 16:26] marjanjavid opened #201 "GCop 185"
If we read these Urls
https://stackoverflow.com/questions/13489065/best-practice-to-call-configureawait-for-all-server-side-code
and
http://blog.stephencleary.com/2017/03/aspnetcore-synchronization-context.html

we find out that Asp.net Core does not need this rule except when we are writing a library .
So the question is this, do we really need to check this for Asp.net Core?

[2018-09-11 14:56] Foroughi commented on #192
@reporter : Fixed on [Development/105e97b90de18cd59768fd7409a288e8ea210163](https://gitlab.com/Paymon/GCop/tree/105e97b90de18cd59768fd7409a288e8ea210163)

[2018-09-15 13:47] marjanjavid opened #202 "GCop 443"
This rule should not hint error for this sample too?
public int Foo { get; set; } = 0;
it seems setting any default value is redundant. now it just hints error for setting null on nullable variables .

[2018-09-17 14:28] Foroughi commented on #197
@reporter : Fixed on [Development/7b915a43a955a22609912c43acbc250ebe5604a6](https://gitlab.com/Paymon/GCop/tree/7b915a43a955a22609912c43acbc250ebe5604a6)

[2018-09-17 14:31] Foroughi commented on #198
@PaymonK Would you please let me know what do you mean by Form Module ?! will it have any effect on the rule logic?

[2018-09-17 17:32] Foroughi commented on #193
@PaymonK Is there any doc about that `Field` method ? Im missing something here which caused i couldnt get the type of `SomeProperty ` in `x.SomeProperty` in the rule logic

[2018-09-17 17:36] Foroughi commented on #193
The rule has been added here [Developement/e86b3d8f2ce78500f1d31fdb47c6ef4e7628eb79](https://gitlab.com/Paymon/GCop/tree/e86b3d8f2ce78500f1d31fdb47c6ef4e7628eb79) but its disabled as the part who compares the type of property with the controll type is still missing

[2018-09-17 17:56] Foroughi commented on #194
@marjanjavid Without question to doubt your scenario is something different than what I expect of GCop440 does. So just to clarify, are you pointing out that GCop440 should cover that scenario ? or you meant to create a new rule? I did read the article which I found it interesting and I think we can make a new rule for it.

@PaymonK @Karvan

[2018-09-17 20:03] Foroughi commented on #196
@marjanjavid that was a good point you mentioned, I totally forget about this scenario. Thank you. Its fixed on [Development\4ee88f117757869490e1d0b316e16fed1a3eb0b0](https://gitlab.com/Paymon/GCop/tree/4ee88f117757869490e1d0b316e16fed1a3eb0b0) now

[2018-09-17 20:56] Foroughi commented on #201
@marjanjavid I have to raise two points here

1- I checked Roslynator, they didn't check Asp.Net Core in their logic code
2- To determine if a project is a classic Asp.Net or an Asp.Net Core need a certain piece of code which will cause a time gap in build time (which we have been through this before)

I also checked the links you provided and it seems you're right. We don't need to add this for A

[2018-09-17 21:09] Foroughi commented on #202
@marjanjavid Kindly I don't agree with you. Why do you think setting a not null value for a property is redundant? The reason why setting a null value for a property is redundant is because they are all already set to null by default. Aint that true?

[2018-09-17 22:32] Foroughi commented on #189
@reporter The bug is fixed on [Development\c4ced123adf753e6deeddd5a3f19bc26d2e0ef43](https://gitlab.com/Paymon/GCop/tree/c4ced123adf753e6deeddd5a3f19bc26d2e0ef43)

[2018-09-17 22:32] Foroughi commented on #190
@reporter The rule has been removed on [Development\91da79339faf9e8401d6f7c274e2756fd7fab555](https://gitlab.com/Paymon/GCop/tree/91da79339faf9e8401d6f7c274e2756fd7fab555)

[2018-09-17 22:33] Foroughi commented on #202
@reporter Fixed on [Development\3fb5d0ed137a686bd407a3a1056ab0b8d604db6a](3fb5d0ed137a686bd407a3a1056ab0b8d604db6a)

[2018-09-17 22:34] Foroughi commented on #200
@marjanjavid Unit test has been added on [Development\ffb4f43cf350c512d2078354576df1285ce340e2](https://gitlab.com/Paymon/GCop/tree/ffb4f43cf350c512d2078354576df1285ce340e2)

[2018-09-18 03:12] marjanjavid commented on #202
yes you are right. i will close this

[2018-09-18 09:15] Karvan commented on #194
can we please have a new rule to replace Equals with == when both sides are string type,
it's simpler, readable and avoid Null reference issue.

[2018-09-18 13:14] PaymonK commented on #194
I agree.

Regards,

*Paymon Khamooshi*
Managing Director

T: +44 (0) 845 643 6229
M: +44 (0) 777 279 8509

On Tue, Sep 18, 2018 at 10:15 AM, Karvan <notifications@github.com> wrote:

--

*Geeks Ltd*

_Bespoke Web and Software Solutions
_www.geeks.ltd.uk
<http://www.geeks.ltd.uk/>

​

​
CONFIDENTIALITY & DISCLAIMER: This
message and any attachments are confidential, proprietary, and may be
privileg

[2018-09-18 13:18] PaymonK commented on #198
It means if the base class implements MSharp.IFormModule

[2018-09-23 08:13] marjanjavid commented on #200
@Foroughi I tested this rule. There is no problem on GCop.UAT, but we have still the second problem on GCop.All.Geeks last version (v 1.3.4)

[2018-09-23 09:48] marjanjavid opened #203 "GCop 550"
I tested this rule with GCop.UAT v 1.2.7
There are two problems with this rule.
1-If we shorten this method by defining it as expression-bodied, then we won't see any warning message.

![1](https://user-images.githubusercontent.com/20684649/45926682-1c125180-bf33-11e8-862c-5c16bf78773d.PNG)

2- if we have a method like this:
Task DoWork()
{
    return null;
 }
It is better using `Task.CompletedTas

[2018-09-23 13:44] marjanjavid opened #204 "GCop 660"
This rule is not kicked. i tested this on GCop.UAT v 1.2.7

[2018-09-23 14:56] Foroughi commented on #200
@marjanjavid GCop.All.Geeks package doesn't contain the  GCop.UAT.

[2018-09-23 14:57] Foroughi commented on #204
@marjanjavid Whats the code your working on ?

[2018-09-23 15:06] marjanjavid commented on #204
@foroughi the sample of the link in excell file

[2018-09-24 07:59] marjanjavid opened #205 "GCop 657"
@Karvan This rule is about simplifying nested `using` statements. As what is described in the links below, we can use comma for multiple instances of a type in the using statement too(just when the IDisposables are of the same type). This rule is not considered in GCop657.

https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/using-statement
and
https://stackoverflow.com/ques

[2018-09-24 08:35] marjanjavid opened #206 "GCop 445"
@Karvan  After reading the below article I think it is better to make an exception for this rule. As it describes we can use empty statement or empty block for `While` loop.
https://www.dotnetperls.com/empty-statement

The second note is about using empty statement after `if` clause. If we have a code like this:
`if (sampleBool) ; `
then compiler will warn us with CS0642 (possible mistaken empty s

[2018-09-24 14:36] Foroughi commented on #194
@Karvan The new rule has been added here [Deveopment\a8172477fbb282de85785f393265a1839bd5203b](https://gitlab.com/Paymon/GCop/tree/a8172477fbb282de85785f393265a1839bd5203b)

[2018-09-24 14:37] Foroughi commented on #198
@PaymonK Fixed on [Development\90d9a922618a2c72238d9c0b8afdf72ac7187840](https://gitlab.com/Paymon/GCop/tree/90d9a922618a2c72238d9c0b8afdf72ac7187840)

[2018-09-24 15:49] Foroughi commented on #204
We had a conversation about this with @marjanjavid on skype. If the `f` is a local variable, it's being covered by GCop177. If it's a class property so it's not redundant. Generally, the rule will kick in for Assignment statements, not the variable declaration. So this task can be closed

[2018-09-24 17:21] marjanjavid commented on #204
I agree so i close this issue

[2018-09-24 17:21] #204 closed

[2018-09-25 13:42] marjanjavid opened #207 "GCop 186"
@Foroughi  This rule is not kicked . I wrote the Roslyn example but there is no warning. I wrote below code
   public class Base
    {
        public virtual void Foo(params object[] values)
        {
        }
    }

    public class Derived : Base
    {
        public override void Foo(object[] values)
        {
        }
    }

[2018-09-25 14:20] marjanjavid opened #208 "GCop 183"
@Foroughi As it can be seen in the below picture, the warning message is "Use AttributeUsageAttribute" and I am using the same phrase, but still we see the warning. Also There is IDE0001 warning to simplify the name to "AttributeUsage".  If I use "AttributeUsage" then the warning will disappear. So It seems we should have small changes here.
 I think it is better not to show warning when "Attribut

[2018-09-25 15:50] Karvan commented on #208
@Foroughi I guess it's better if we make it compatible with the IDE

[2018-09-25 15:59] Karvan commented on #206
@marjanjavid For the IF statement, while IDE warns us, we don't need to add new rules.
and for the While statement, the code is logical but weird. it's better if we keep the warning.

[2018-09-25 16:04] Karvan commented on #205
@marjanjavid Could you please note down your example.

if it's the same as the second link example. Ali could you please have a look?

[2018-09-25 16:09] Karvan commented on #200
@Foroughi have you moved any UAT  new rules to the main Packages?

[2018-09-25 17:30] marjanjavid commented on #200
@Karvan As I review, there is no UAT rule in main package, but still we can see UAT warnings after installing GCop main package.

[2018-09-25 17:35] marjanjavid commented on #206
@Karvan for the IF statement we are showing the message too

[2018-09-27 13:11] marjanjavid commented on #189
@Foroughi , @Karvan This rule is kicked by IDE0044. I was reviewing this rule to view changes, I found that It is covered by IDE warnings. So I think we should delete this rule.

[2018-09-27 15:55] Karvan commented on #206
Ali could you please disable this rule while IDE warns us about that.

[2018-09-27 16:28] PaymonK opened #209 "658"
Misfire:

result = m.Expression.GetPropertyPath() + "." + result;

@nnpcYvIVl

[2018-09-27 16:30] PaymonK opened #210 "GCop new rule release"
Before releasing a new GCop rule for my testing, test it yourself on the Olive source code to see if it misfires anywhere.

[2018-09-27 16:33] PaymonK opened #211 "550: Misfire"
If the method is ASYNC this rule does not apply.
It's only used if the method returns a Task but is not marked with the ASYNC keyword.

 public async Task<string> Run()
        {
            await ApiClient.DisposeCache();
            return null;
        }

[2018-09-27 16:35] PaymonK opened #212 "GCop 693"
If there is a comment in the else block, don't fire this warning

[2018-09-27 16:36] PaymonK opened #213 "185"
It should be Hidden.

[2018-09-28 08:35] Karvan opened #214 "Class and Members documentation."
We have a request from Mani, to add a warning for all classes and members that don't have comments/documentation.

I'm not sure if it's a proper rule to force all teams to add documentation to the classes.

Your call @PaymonK.

[2018-09-28 09:08] Foroughi commented on #200
@Karvan No, None of them are being confirmed on that excel sheet by Paymon

[2018-09-28 09:18] Foroughi commented on #206
@marjanjavid Fixed. The rule wont kick in if the parent node is a IF or While statement

[2018-09-28 09:55] Foroughi commented on #207
@marjanjavidIt's wired, because the unit tests results for the same code are confirming the rule is working fine, but in the real situation your right the rule won't kick in! I'll keep you updated. Let me check it more

[2018-09-28 11:46] marjanjavid commented on #213
It is already Hidden.

[2018-09-28 12:48] PaymonK commented on #213
In that case, disable the rule.

[2018-09-28 13:33] marjanjavid commented on #213
Ok, but what about GCop218? It has the same problem too. Actually there are 3 rules with hidden severity: 524, 185 and 218.  The GCop524 works fine of all and the others warning is visible in error list.

[2018-09-28 18:42] marjanjavid commented on #213
@reporter The rule has been removed on https://gitlab.com/Paymon/GCop/tree/085ff74b42ac490854e1eceecf8d6e4deea85c47

[2018-09-29 06:06] marjanjavid commented on #212
@reporter The rule has been changed on https://gitlab.com/Paymon/GCop/tree/7587fa517490b35121375ed45937377e645568cc

[2018-09-30 07:14] marjanjavid opened #215 "GCop 100"
As a class member is marked with the Obsolete attribute, compiler warns in this case. So it seems there is no need to fire this warning by GCop. @Karvan should I disable it or let this exist?
![1](https://user-images.githubusercontent.com/20684649/46254516-972cb800-c49d-11e8-9a76-e9a751b2c60c.PNG)

[2018-09-30 09:05] marjanjavid opened #216 "GCop 109 vs GCop 322"
These two rules are fired at the same place with two different solution messages. It seems one of them should be omitted.

![1](https://user-images.githubusercontent.com/20684649/46255708-3ad19480-c4ad-11e8-9fb3-0248846133f7.PNG)

[2018-09-30 09:27] marjanjavid opened #217 "GCop 111"
It seems we should delete this rule , because it is covered by IDE0001

![1](https://user-images.githubusercontent.com/20684649/46255919-57230080-c4b0-11e8-97b6-594af9074b74.PNG)

[2018-09-30 19:18] marjanjavid opened #218 "GCop 134"
@PaymonK  As I Read the rule class, this rule is fired just for `OnSaving` and `OnDeleting` . But the example and description in document contains 'OnSaved' and `OnValidating`  methods too. So the question is which one is true? the class in GCop or documented file?
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop134.md

[2018-09-30 20:02] marjanjavid opened #219 "GCop 524"
There are some issues about this rule
1- There are two classes which have ID = "524"(EscapeGCopAttributeAnalyzer , PrivateKeywordAnalyzer ) one severity is hidden and the other is warning.

2-This rule emphasize on removing `private` keyword in the example below. While after removing the keyword, IDE0040 emphasize to add accessibility modifiers (`private`)

![2](https://user-images.githubuserconte

[2018-09-30 20:35] marjanjavid opened #220 "GCop 138"
It seems this rule has changed and the second example is not fired
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop138.md

should i delete this example or change the rule?

[2018-09-30 21:12] marjanjavid opened #221 "GCop 140"
It seems this rule is not fired. I wrote it's example, but nothing was kicked.
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop140.md

[2018-10-01 08:46] Karvan commented on #215
Good point @marjanjavid. It's good if we exclude the obsolete classes same as [EscapeGCop] classes.

[2018-10-01 08:47] Karvan commented on #216
We only need to raise GCop 109 in this case.

[2018-10-01 08:53] Karvan commented on #218
@marjanjavid This rule should apply on OnSaved and OnSaving same as OnSaving and OnDeleting OnValidating and OnValidated.

[2018-10-01 14:13] PaymonK commented on #219
Yes disable PrivateKeywordAnalyzer . That is covered by Tidy C# extension anyway.

[2018-10-02 18:42] marjanjavid commented on #219
@reporter The rule has been removed on https://gitlab.com/Paymon/GCop/tree/cf66b4f10fc3222008e0ef38a4133339c0c8f874

[2018-10-02 19:01] marjanjavid commented on #215
The rule has been removed on https://gitlab.com/Paymon/GCop/tree/2c8f31992d8e74c8f0a23cb72898019040b70da2

[2018-10-03 09:42] Foroughi commented on #220
@Karvan @PaymonK I added a unit test for it and Marjan is right, It doesn't seem to be a bug, Do you want me to change a rule logic so it can cover that second example?

[2018-10-03 10:44] Foroughi commented on #216
@Karvan Why not Gcop322 ? Are you pointing out this is a false alarm by GCop322 ?

[2018-10-03 10:57] Foroughi commented on #205
@Karvan @marjanjavid  Do we need to worry about that? The rule is kicking WHEN a using statement with a block containing another using statement. So, in this case, the block is redundant. The point mention by Marjan is right, but I`m being kept in dark about whats the relation between these two scenarios.

[2018-10-03 13:12] marjanjavid commented on #205
@Foroughi If this rule suggest correct code, then we can consider the above mentioned difference, if not, no changes needed.

[2018-10-03 14:09] Foroughi commented on #209
@PaymonK Its fixed now

[2018-10-03 14:22] Foroughi commented on #208
@marjanjavid @Karvan
2 points
1- It has been fixed already
2 - The example in Roslynator page is wrong.

[code]

This is not correct, it should be

[code]

[2018-10-03 14:51] #194 closed

[2018-10-03 14:51] #196 closed

[2018-10-03 14:52] #197 closed

[2018-10-03 14:56] #200 closed

[2018-10-03 15:00] #208 closed

[2018-10-03 15:02] Karvan commented on #210
We are going to follow this.

[2018-10-03 15:02] #210 closed

[2018-10-03 15:07] Karvan commented on #216
@Foroughi  true

[2018-10-03 15:10] #219 closed

[2018-10-03 15:13] Karvan commented on #220
@Foroughi No. @marjanjavid could you please update the document and delete the second one.

[2018-10-03 16:04] Foroughi commented on #216
@Karvan I`ve gone through the rule logic for this one. It doesn't seem to be a false alarm by Gcop322. Would you please catch me up why that is a false alarm?

[2018-10-04 13:58] marjanjavid commented on #215
As I talked with @Foroughi, we don't need to disable this rule, so i reverted my changes. He will work on this issue

[2018-10-07 09:15] PaymonK opened #222 "GCop to Tidy C#"
Tidy C# is an automated way to apply safe and simple code fixes to a project rather than showing them as GCop warnings.

List all the simple and straightforward GCop rules which are useful for moving to Tidy C#, for Paymon to review and confirm.

Note: GCop fixes that are risky or which can have unintended consequences should not be automatically applied and thus are not suitable for this.

[2018-10-09 09:55] Foroughi commented on #218
@reporter Fixed on [Development\bebd2d5ba7571a323424b1f840dc54f6623cd2d8](https://gitlab.com/Paymon/GCop/tree/bebd2d5ba7571a323424b1f840dc54f6623cd2d8)

[2018-10-09 09:57] Foroughi commented on #221
@marjanjavid Its fixed on [Development\55dd426422ab22b6d5df52ac96625a8f06429fc6](https://gitlab.com/Paymon/GCop/tree/55dd426422ab22b6d5df52ac96625a8f06429fc6)

Would you please confirm?

[2018-10-09 10:03] Foroughi commented on #217
@marjanjavid The rull has been removed on [Development\3e04cf6fd6bdd083d6ff6fc567747254f224ad2a](https://gitlab.com/Paymon/GCop/tree/3e04cf6fd6bdd083d6ff6fc567747254f224ad2a)

[2018-10-09 15:43] Foroughi commented on #162
@Karvan Im not sure if we want to keep this open and Marjan needed just a sample for that rule to create its doc.

[2018-10-10 08:31] PaymonK opened #223 "New rule: Setting ID"
Warning condition:

- The class name is named ReferenceData
- The ID property of an GuidEntity object is being set

Warning text: ID will automatically be set. Avoid unnecessary hard-coding.

[2018-10-10 11:13] Karvan commented on #223
@Foroughi  M#/olive/zebble package.

[2018-10-10 17:29] marjanjavid commented on #206
@Foroughi Still it is kicked on GCop.UAT version1.3.7

[2018-10-10 20:32] marjanjavid commented on #162
@karvan keep it open until i test this and change the rule documents. thank u

[2018-10-10 21:50] marjanjavid opened #224 "GCop 184"
This rule should fire when the right side of condition is a null-able object, because in other cases compiler will fire CS0472 warning. see below

![22](https://user-images.githubusercontent.com/20684649/46768045-d6f06c80-ccf3-11e8-9a31-cd8cf2326061.PNG)

[2018-10-10 22:17] marjanjavid opened #225 "GCop 661"
This rule should not fire when the condition is `true` , because in this case compiler will fire CS0162 warning for unreachable code, so there is no need that we fire it too. see below

![22](https://user-images.githubusercontent.com/20684649/46769121-9c88ce80-ccf7-11e8-8d56-a2a545a49b97.PNG)

[2018-10-10 22:21] marjanjavid opened #226 "Empty If block and commented Else block"
@Karvan I think in the case below we should fire a warning. this could seems redundant
if (true)
{
}
else
{
     //int x = 3;
}

[2018-10-11 09:08] Foroughi commented on #226
@marjanjavid Does GCop show any warning on this code ?!

[2018-10-11 13:29] Foroughi commented on #224
@marjanjavid aaa I don't agree with you on this actually. The main purpose of this rule is about to avoid devs to use Null on the left side of a comparison statement.
For example :

`if (null == x)`

should be

`if (x == null)`

we don't care about if x is a nullable object or not.

@Karvan in this case we have two diagnostics on a same code. We talked about this before. What do you think? I prefe

[2018-10-12 07:20] marjanjavid commented on #226
@Foroughi Let me explain, At this time, which I am testing a not updated GCop.UAT, GCop693 is firing this.
But pay attention that Payman asked us to remove this warning for commented else blocks. So if we test the latest GCop.UAT package, we wouldn't have any warning in this case(sample above)

[2018-10-12 12:44] marjanjavid opened #227 "GCop 522"
@Foroughi  I checked this rule on Olive project. please look at Olive\Olive\-Extensions\Dictionary.cs line 161 or the picture below. in this line GCop522 is fired so I used null propagation operator (?). But  CS0023 error fired.
also there is same problem in: E:\Projects\Geeks\Olive\Olive\Utilities\PascalCaseIdGenerator.cs line 80 too.

![11](https://user-images.githubusercontent.com/20684649/4686

[2018-10-12 18:13] marjanjavid commented on #202
@Foroughi  In Final test I found that this rule is fired for sample below. but as we discussed we shouldn't fire warning in this case. did u change your mind?
public int Bar { get; set; } = 0;

[2018-10-12 18:14] #202 closed

[2018-10-12 18:14] marjanjavid commented on #202
It is fixed

[2018-10-14 13:13] marjanjavid opened #228 "GCop 656"
This warning is not fired in GCop.UAT package

[2018-10-15 13:11] PaymonK opened #229 ""c#:" prefix"
If you see "c#:" at the beginning of any string value, warn to say:
"Use cs(...)" method instead of the "c#:" prefix".

It needs an auto fixer as well.

[2018-10-16 05:36] marjanjavid commented on #195
It has again the previous problem. This is not fired in the above example

[2018-10-16 06:19] marjanjavid opened #230 "GCop 440"
This warning is not fired when strings are arguments of a method. see below(foo1 and bar1)
![11](https://user-images.githubusercontent.com/20684649/46996225-bfb4e300-d128-11e8-9dab-35fff17775ad.PNG)

[2018-10-16 08:48] marjanjavid opened #231 "GCop 441"
this rule emphasize on using `is` operator instead of `as` operator **when we want to determine an object's type but do not have to actually cast it**. So it seems in the sample below this rule should not fire but is fired in this case:
[code]
Do we need to make difference for this or not?

Also pay attention that in C# 7.0 and later, we can use the `is` operator with pattern matching to check the

[2018-10-17 14:52] PaymonK opened #232 "update-local-nuget-cache"
A utility to update the local cache of the installed nuget packages, to help with quick testing of new dlls.

[2018-10-17 14:52] #232 closed

[2018-10-18 07:52] marjanjavid commented on #209
I tested this. It is fixed. So I am going to close this issue

[2018-10-18 07:52] #209 closed

[2018-10-18 07:55] marjanjavid opened #233 "GCop 658"
It seems we shouldn't fire this warning in this case (see below pic)
![capture](https://user-images.githubusercontent.com/20684649/47139360-79968580-d2c8-11e8-9db6-3322a77ddc3b.PNG)

[2018-10-20 05:52] marjanjavid commented on #162
@Foroughi I wrote your sample but it is not fired yet. would u please guide me how did u test it on Msharp project?  i created an M# project, install Msharp.Framework from NuGet and add using in the test class. but still it is not fired

[2018-10-20 06:12] marjanjavid commented on #153
It was tested on GCop1.3.4 and was fired without problem. so i am going to close this issue

[2018-10-20 06:12] #153 closed

[2018-10-23 09:07] Karvan commented on #224
@Foroughi  that's ok.

[2018-10-23 09:07] #224 closed

[2018-10-28 21:31] Foroughi commented on #205
@Karvan @marjanjavid With more investigation on this rule and the given likes by Marjan, I think we can have a code fixer on this one meeting what Marjan is pointing out. Ill work on that code fixer.

[2018-10-29 14:37] Foroughi commented on #205
With @Karvan Confirm, we have decided to create another rule for this one. This task is closed. No change needed

[2018-10-29 14:37] #205 closed

[2018-10-29 18:44] Foroughi opened #234 "Merge nested Usings"
Merge two using if

1 - The parent one has only one child an its the second using
2 - Both declaring a same type variables

A fixed is needed too

[2018-10-30 12:33] PaymonK opened #235 ".SendItemId() use"
If you see `.Send("item", "item.ID")` such as in the following example:

[code]

Then warn to say: `Use the shortcut .SendItemId()` instead.

[2018-10-31 06:54] marjanjavid commented on #221
These two warnings are not kicked yet.(GCop4.2.2)

[2018-10-31 08:06] marjanjavid commented on #215
@Foroughi  I Tested again the above example, we don't have any warning now. So I think it is better to remove this rule. When this rule should be kicked?

[2018-10-31 17:16] joehoppe opened #236 "License is either hard to find, or does not exist"
License is either hard to find, or does not exist

[2018-11-01 08:58] Karvan commented on #236
@joehoppe, there is no licence. Free to use. https://www.nuget.org/packages/GCop.All.Common/

[2018-11-01 08:58] #236 closed

[2018-11-07 15:52] Foroughi commented on #231
@marjanjavid To me, the rule SHOULD kick in, in that sample as its better to write it like this :

[code]
Aint that true? or I'm missing something here?

[2018-11-07 18:00] marjanjavid commented on #231
@Foroughi Yes actually you are right but in a link I mentioned above (which is a Microsoft doc) we have a paragraph that says:

**If the C# is operator is used to test whether the cast will succeed before the actual cast is performed, consider testing the result of the as operator instead. This provides the same functionality without the implicit cast operation that is performed by the is operator

[2018-11-21 06:34] Foroughi commented on #225
@Karvan this is fixed and I moved to "Read to test section". Is there any reason why you have moved it back?

[2018-11-26 13:57] Hatef-Rostamkhani opened #238 "Some GCop warnings are mistake"
Some GCop warnings are mistake
.HasMany on System.Windows.Controls.ItemCollection also  .Any on System.Data.DataRowCollection
![image](https://user-images.githubusercontent.com/10432308/49017587-74b5d300-f19e-11e8-9162-50696330af4d.png)

[2018-11-28 05:14] marjanjavid commented on #189
@Foroughi yes I am sure. There is a screenshot below that shows we have both IDE004 Message and GCop406 warning in this case.

![capture](https://user-images.githubusercontent.com/20684649/49130572-db93d300-f2e9-11e8-9a1d-1a6c03600482.PNG)

[2018-11-30 17:16] marjanjavid commented on #220
@Karvan It is done. I will close this issue

[2018-11-30 17:16] #220 closed

[2018-12-02 18:07] Foroughi commented on #238
@Hatef-Rostamkhani Hi, thank you for letting me know about this, but I'm gonna need a little bit more details on this issue. Would you please to describe it more ?! What do you mean by ".HasMany on System.Windows.Controls.ItemCollection" ?!

[2018-12-02 18:14] Hatef-Rostamkhani commented on #238
Hi @Foroughi , Yes. exactly
I used DataRowCollection and GCop warning me, use Any() but has no extension for the Any() method also System.Windows.Controls.ItemCollection Gcop has warning to use HasMany() but has no extension for HasMany() method.

[2018-12-04 09:46] PaymonK commented on #222
Marjan,

Any rule that depends on Olive, M# or Zebble should not be automatically
converted.
Tidy C# is meant to be a very generic tool, usable by any C# developer.

Any rule which can possibly change the run-time behaviour must not be
converted. With GCop, the developer can think about each rule and decide if
it's safe to implement or not. With Tidy C# everything is changed
automatically without

[2018-12-04 20:34] Foroughi commented on #238
It's fixed now. Any collection which is not inherited from generic `IEnumerable `would have no effect on the rule (in this case `ObjectCollection`)

@Hatef-Rostamkhani You may wanna wait for the next release.

[2018-12-06 22:38] Foroughi commented on #206
@marjanjavid  I checked it again. It worked fine. Would you please confirm you're still having a problem with this rule ?!

[2018-12-07 01:11] Foroughi commented on #214
@Karvan I`ve done this task and added a new rule GCop187 but it will be disabled until @PaymonK  confirms

[2018-12-07 07:15] marjanjavid commented on #206
@Foroughi I checked it again. It works fine for me too. so I am going to close this issue.

[2018-12-07 07:15] #206 closed

[2018-12-07 14:03] #226 closed

[2018-12-08 08:15] marjanjavid opened #239 "GCop 180"
@Foroughi Why this rule is written in GCop.Conditional project?
as it use Olive/zebble/Msharp extention it should be in GCop.OliveZebbleMSharp .
also here https://github.com/Geeksltd/GCop/issues/70 yo moved this to that project.

[2018-12-19 07:15] marjanjavid opened #240 "Update GCop and Run Updater"
@Foroughi Would u please confirm me to update PreRelease branch? I need new release of GCop to test the changes.

@Karvan Would u please run Updater ?

[2018-12-19 09:41] Foroughi commented on #240
@marjanjavid Let me take care of both as now, I have Karvans confirmation on running Updater on my end. So ill manage them this afternoon and ill inform you through an email

[2018-12-28 06:58] marjanjavid opened #241 "GCop 548"
in the below example we shouldn't have any warning about GCop548
[code]
because there is an abstract class AsyncEventHandler and another class named AsyncEventHandler<TActionFunction>

![capture](https://user-images.githubusercontent.com/20684649/50505890-440dd580-0a8b-11e9-9cee-93833aa2c126.PNG)

[2018-12-28 07:45] marjanjavid opened #242 "GCop607"
@Foroughi This warning is not kicked in the expected place.
in the example below we expect to see this warning but nothing is kicked.

double[] numbers1 = { 2.0, 2.0, 2.1, 2.2, 2.3, 2.3, 2.4, 2.5 };
double[] numbers2 = { 2.2 };

var onlyInFirstSet = numbers1.Where(a => !numbers2.Contains(a)).ToList();

[2018-12-30 07:07] marjanjavid opened #243 "GCop616"
in the written example in the link below:
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop616.md
we should see a warning. But no warning is kicked for.

[2018-12-30 07:33] marjanjavid opened #244 "GCop620"
@Foroughi The samples are here. They are not kicked
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop620.md

[2018-12-30 07:34] marjanjavid opened #245 "GCop619"
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop619.md
No warning is kicked.

[2018-12-30 07:53] marjanjavid opened #246 "GCop621"
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop621.md
No warning is kicked for this rule

[2019-01-06 16:37] marjanjavid opened #247 "Published Package problem"
After installing GCop from NuGet I face problems which can be seen in the picture below.

![capture](https://user-images.githubusercontent.com/20684649/50738730-aafa5f80-11ec-11e9-84c1-b90a2d8b026d.PNG)

@Foroughi please send log file of Updater for check.

[2019-01-07 13:49] HamidTheGeek opened #248 "Add the calculated attribute for the non-generated properties of entities."
With the latest changes in data providers, all the custom properties of the entities should have the calculated attribute. So, if there is any property in the partial classes (logic or any other files) which has setter should have a calculated attribute and we should prevent the build if developers failed to add that.

Here are some examples of the properties which need that attribute.

[code]

[2019-01-07 13:51] Karvan commented on #248
@Foroughi  We need to kick this rule only in Olive projects.

[2019-01-07 21:07] Foroughi commented on #248
@HamidTheGeek Sorry Hamid but I'm sure I'm missing something here. You said all the classes. Did you really mean all classes in the project ?! I'm kinda sure by all classes you meant some sort of special classes. it doesn't make sense to make devs to use that attr for all properties in all classes with a setter. So would you please let me know what is the specification of those classes ?! for exam

[2019-01-08 06:43] marjanjavid commented on #247
@Foroughi @Karvan The problem was about building project with errors. I found that errors in log file. When building some projects (such as "GCop.Collection"), I faced an error about not finding "project.assets.json" in the "Obj" folder. As we know this happens when NuGet restore is not done before building the projects. So I added a command to restore NuGet packages before that.

 Also Mr Ali For

[2019-01-08 07:08] marjanjavid opened #249 "Updater Reporter"
Report errors when running Updater

[2019-01-08 09:17] Karvan commented on #248
@Foroughi

1- Actually it's for all classes. the only filter that you can add is "None Static classes if they are partial and public"

2- This rule needs to kick an Error instead of a Warning. Build time error.

3- Yes it's not for Zebble and Msharp. Just Olive projects.

[2019-01-08 19:15] Foroughi commented on #249
@marjanjavid Keep a flag somewhere like (app.config). After 3 times it fails, then send an email and then prevent the updater to run until someone fixes the issue and reset that flag.  Ask @Karvan  to give you an IMAP credential, use it to send email to an email address defined in app.config when the updater faces with an error.

[2019-01-08 19:21] Foroughi opened #250 "Gcop Updater settings"
Right now the updater will use the app.config file as the settings resource. Create another file like app.production.config with the same format. In case the Updater is being run by a _--production_ switch, use that new setting file instead

@Karvan  please confirm

[2019-01-08 19:24] Foroughi commented on #246
@marjanjavid What was the code you used ?! Can i have it ?

[2019-01-09 09:09] sungam3r opened #251 "GCop536 false alarm"
I have changed documentation line from
[code]
to
[code]
and got an error:

**Error	GCop536	Remove empty xml node documentation**

If I move `<see langword="true"/>` to the end then the error disappears
[code]

[2019-01-09 09:11] Foroughi commented on #251
@sungam3r Thanks for the report, I'm gonna check the issue and ill keep you updated ASAP

[2019-01-10 12:24] sungam3r opened #252 "GCop406 false alarm"
I have GCop406 on all fields which are assigned through `ref` arg.

[code]

[code]

Of course, doing this leads to
CS0192	A readonly field cannot be used as a ref or out value (except in a constructor)

[2019-01-11 08:51] Foroughi commented on #251
@sungam3r Done. you may wanna wait for the next release. Again thanks for the report

[2019-01-11 09:40] Foroughi commented on #252
@sungam3r Done. You may wanna wait for the next release. Assuming we have

`private int foo;`

here is the test results :

- [X] No usage of `foo` in the current class
- [X] bar(foo);
- [ ] bar(ref foo);
- [ ] bar(out foo);
- [ ] foo = something;

Again thanks for the report

[2019-01-11 11:22] Foroughi opened #253 "Updater Rollback mechanism"
We need to have rollback mechanism on Updater, so in any part of it faced with an error, It should revert changes back

[2019-01-11 13:09] Foroughi commented on #253
the first step of the Updater is "git pull". If it faces with any error it already pulled the last changes. so if we fix the error and try to run the Updater again, it won't fetch any changes. So we need to make sure we have rollback the changes if it faces with any here by the following solution :

[code]

[2019-01-12 08:04] marjanjavid commented on #230
It is done on GCop.All.Geeksv2.4.10-rc1, so I am going to close this issue

[2019-01-13 17:53] marjanjavid commented on #227
it works fine so i will close it

[2019-01-13 17:53] #227 closed

[2019-01-14 10:02] marjanjavid commented on #252
It works fine on GCop2.6.0 so I close this issue

[2019-01-14 10:06] marjanjavid commented on #189
Still there is this problem on GCop2.6.0

[2019-01-14 10:17] marjanjavid commented on #203
It works fine on Gcop2.6.0 but there is a little problem which I will create a new issue for

[2019-01-14 10:17] #203 closed

[2019-01-14 10:19] marjanjavid opened #254 "GCop550"
As we can see in the picture below, the warning message is not correct.
![capture](https://user-images.githubusercontent.com/20684649/51107175-4601c380-1803-11e9-81ff-73f52bd40201.PNG)

[2019-01-14 10:44] marjanjavid opened #255 "Negative False condition"
When we have a condition like below:
if (!false)
{
    foo();
}
It is better to have a warning to change it to this:
[code]

[2019-01-14 13:03] sungam3r commented on #252
Some of the bugs are gone, but I still have GCop406 false alarms:
[code]
And also this:

[code]

[2019-01-14 13:06] Foroughi commented on #252
@sungam3r Would you please let me know whats the version your using !?

[2019-01-14 13:08] sungam3r commented on #252
[code]
![image](https://user-images.githubusercontent.com/21261007/51114533-a2baa980-1816-11e9-8266-343570e7532f.png)

[2019-01-15 13:17] Frost84 opened #256 "False GCop522"
[code]

[2019-01-15 13:19] Frost84 opened #257 "False GCop301"
[code]

[2019-01-15 20:45] sungam3r commented on #257
Do you mean that the exception has no other constructor than default constructor?

[2019-01-15 21:10] sungam3r opened #258 "GCop607 false alarm"
Usage:
[code]

Example:

[code]

But obviously it won't compile:
[code]

[2019-01-16 04:53] marjanjavid commented on #251
This works Fine on GCop2.6.0

[2019-01-16 04:53] #251 closed

[2019-01-16 05:13] marjanjavid commented on #233
It works Fine on GCop2.6.0

[2019-01-16 05:13] #233 closed

[2019-01-16 05:50] marjanjavid commented on #231
It works fine on GCop2.6.0

[2019-01-16 05:50] #231 closed

[2019-01-16 06:14] marjanjavid commented on #230
It works Fine on GCop2.6.0

[2019-01-16 06:14] #230 closed

[2019-01-16 06:20] marjanjavid commented on #239
It works Fine on GCop2.6.0

[2019-01-16 06:20] #239 closed

[2019-01-16 07:08] Frost84 commented on #257
Exactly.

[2019-01-16 07:54] marjanjavid commented on #35
It works fine on GCop2.6.0

[2019-01-16 07:54] #35 closed

[2019-01-16 09:02] marjanjavid opened #259 "New Rules"
@Foroughi @Karvan
Please add any new rule ID here. I can't find new rules to add document for. I know we use just labels "New Rule Id" but it is not enough, because I can't find that rule in the source code.
Thank u

[2019-01-16 09:10] marjanjavid commented on #235
@Foroughi please send me the Id of this rule

[2019-01-16 09:17] marjanjavid commented on #229
Please give me the Id of this rule. Thank you

[2019-01-16 09:48] Karvan commented on #259
@Foroughi I think it's a best practice to add the RuleID to the issues when you move them to Testing mode.

@marjanjavid Thank you.

[2019-01-16 09:48] #259 closed

[2019-01-17 09:46] sungam3r opened #260 "GCop139 false alarm"
[code]

But it is obvious that the array field cannot be constant.

[2019-01-17 09:55] sungam3r opened #261 "NullReferenceException in AvoidNullReferenceExceptionInFirstOrDefaultCodeFixProvider.Fix"
When trying to fix it

[code]

I get
![image](https://user-images.githubusercontent.com/21261007/51310127-029f9300-1a57-11e9-9690-62343f31192f.png)

Stack Trace:

[code]

[2019-01-17 13:20] sungam3r commented on #76
I also encountered such an error.

[code]

I think that the matter is in the ternary operator.
[code]

[2019-01-17 13:48] sungam3r opened #262 "GCop405 false alarm"
[code]

declares
[code]

but in runtime it gives
[code]
if I call
[code]

[2019-01-19 09:44] sungam3r opened #263 "GCop179 false alarm"
[code]

[code]

It seems to me that the rule should not be applied to formatting strings.

[2019-01-25 08:44] marjanjavid commented on #243
Still it is not kicked on GCop2.6.0

[2019-01-25 08:44] marjanjavid commented on #244
The first example is kicked on Gcop2.6.0 but the second one is not kicked

[2019-01-27 19:40] tobiasoort opened #264 "GCop 406 causes GCop 139 and back"
`private const int myConstNumber = 7;`
gets error: _Warning GCop406: Mark myConstNumber field as read-only. (GCop406)_
If I change it to:

`private static readonly int myConstNumber = 7;`
the error becomes: _Warning GCop139: Use constant instead of field. (GCop139)_

[2019-01-28 18:55] sungam3r commented on #154
I have the same error:
[code]

[code]

If a full test case is required, then I can do it later.

[2019-01-29 11:20] marjanjavid opened #265 "GCop 626"
This rule is kicked only for Msharp.Framework now, so it should move from GCop.Conditional project to GCop.OliveZebbleMSharp project.( If we move this class we should add Msharp.Framework package to new project tester and remove this library from "GCop.Conditional.Test")

Also this rule can be used for Olive too. because the `HasValue` is an extension method on Olive too (I am not sure about Zebbl

[2019-01-31 09:53] marjanjavid commented on #158
The answer is written here:
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop628.md

Also there was a problem in this rule which is fixed on https://gitlab.com/Paymon/GCop/commit/8447927e1702a8a87a96c6785a326de1a9635ad5

[2019-01-31 11:26] marjanjavid opened #266 "GCop 635"
this rule is not kicked

[2019-01-31 12:08] marjanjavid commented on #266
There was a problem about this rule. I changed the code and add a unit test on
https://gitlab.com/Paymon/GCop/commit/b996f59e0609345086854f7f78ef3272e0aa4743

[2019-01-31 12:48] marjanjavid opened #267 "GCop 643"
edit GCop643 warning message.There is a bracket at the end of the message which is meaningless.
![capture](https://user-images.githubusercontent.com/20684649/52055161-de25d980-2573-11e9-91c6-1d1321169c72.PNG)

[2019-01-31 12:52] marjanjavid commented on #267
It is removed on
https://gitlab.com/Paymon/GCop/commit/d9f66333af6834d10bd67af72cdfb950e3fce71f

[2019-02-01 08:49] marjanjavid opened #268 "GCop 653"
no warning is kicked

[2019-02-01 08:51] marjanjavid opened #269 "GCop 651"
no warning is kicked

[2019-02-01 08:52] marjanjavid commented on #269
The written example for this rule was wrong. I created a unit test for this rule on
https://gitlab.com/Paymon/GCop/commit/12ae6a86776bdbf15af1f3385681c19e38b4ec69

[2019-02-01 13:05] marjanjavid commented on #268
I wrote a unit test for this rule on https://gitlab.com/Paymon/GCop/commit/cddc7fb8222a5974a59266408dea466e7d388847

There is a problem about this rule
suppose we have a code like below
[code]
in the above code we should see warning, but nothing is kicked.

[2019-02-01 13:08] marjanjavid commented on #268
There is a problem about this rule
suppose we have a code like below
[code]
in the above code we should see warning, but nothing is kicked.

[2019-02-02 10:04] marjanjavid commented on #189
@Karvan Should we show GCop406 while IDE0044 shows a message in this case?

[2019-02-06 10:01] marjanjavid commented on #218
I tested this rule for OnSaved event handler but it didn't warned in the expected place. So I wrote a tester for this rule. There was a problem about just OnSaved method, which is fixed now.

[2019-02-06 10:06] marjanjavid opened #270 "GCop 134"
It seems this rule should be written in GCop.OliveZebbleMSharp project instead of GCop.Common.(I am not sure )

[2019-02-06 10:08] #218 closed

[2019-02-06 12:16] marjanjavid commented on #221
@Foroughi  Why this issue is blocked? it has still the previous problem. I wrote a tester for this rule but it seems all Gcop.Extra rules face an error. still this rule is not kicked with GCop2.6.0

[2019-02-06 12:35] marjanjavid opened #271 "GCop 146"
This rule is not fired. there is a same problem about GCop 140

[2019-02-06 12:47] marjanjavid opened #272 "GCop 161"
this rule should fire in this case too(now it is not fired in this case):
[code]

[2019-02-06 14:53] marjanjavid opened #273 "GCop 201"
The third sample written in this document does not fire this warning. If it is not a valid sample let me know to remove the example.
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop201.md

[2019-02-06 15:33] marjanjavid opened #274 "GCop 205"
All samples written in the below document are hinted by IDE1006 , so we don't need thie rule any more.
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop205.md

[2019-02-06 15:35] marjanjavid opened #275 "GCop 209"
Is this rule deactivated? I can't see any changes for this code Severity, but it is disabled too.

[2019-02-06 19:42] marjanjavid commented on #213
I tested this on GCop2.6.0 and works fine so I will close this issue

[2019-02-06 19:42] #213 closed

[2019-02-06 19:43] marjanjavid opened #276 "GCop 218"
The severity of this rule is hidden. It means this rule should be disabled?

[2019-02-10 12:00] marjanjavid opened #277 "GCop 317"
This rule is not fire where we except.
Tested samples are written in this link:
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop317.md

[2019-02-10 12:15] marjanjavid opened #278 "GCop 318"
This rule is not fire where we except.
Tested samples are written in this link:
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop318.md

[2019-02-10 12:31] marjanjavid opened #279 "GCop 321"
This rule is not fire where we except.
Tested samples are written in this link:
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop321.md

[2019-02-11 19:40] marjanjavid opened #280 "GCop 414"
This rule is not fired for the the first and second example of the link below
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop414.md

[2019-02-11 20:16] marjanjavid opened #281 "GCop 415"
The second example in the link below does not fire:
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop415.md

Instead GCop692 fire in this case. Should I delete this example for Gcop415?

[2019-02-12 08:47] Karvan commented on #281
@marjanjavid these are two different rules. we need both.

[2019-02-12 08:49] Karvan commented on #280
@marjanjavid  could you please provide the code that you tested this rule on?

[2019-02-12 08:55] Karvan commented on #279
@Foroughi @marjanjavid I guess the original example is a bit weird. @Foroughi could you please provide Marjan with a better example.

[2019-02-12 08:58] Karvan commented on #278
@Foroughi  @marjanjavid GCop 321 and GCop 318

Are they coming with different logic? They look really similar.

[2019-02-12 09:04] Karvan commented on #276
@Foroughi we don't have the documentation as well. please see if we need to remove it.

[2019-02-12 09:06] Karvan commented on #274
@Foroughi  Please disable these rules.

[2019-02-12 09:14] Karvan commented on #273
It's a valid sample for me while it's a capital letter after the underline character.

[2019-02-12 09:16] Karvan commented on #271
@marjanjavid please raise a separate issue for GCop 140 if there is a problem with that and please provide more information as much as possible.

[2019-02-12 09:17] Karvan commented on #221
@Foroughi do we need to release a new GCop Extra?

[2019-02-12 09:19] Karvan commented on #270
@marjanjavid  No, That's fine.

[2019-02-12 09:19] #270 closed

[2019-02-12 09:21] Karvan commented on #269
@marjanjavid why this rule is in "Pre-Release"?

Is this a new rule or have we updated the logic?

[2019-02-12 09:25] Karvan commented on #244
@marjanjavid what's going on here?

[2019-02-12 09:27] Karvan commented on #264
@Foroughi I've seen this issue before. Could you please priorities this one?

[2019-02-12 09:54] marjanjavid commented on #281
@Karvan So the second example of the link above is not fired. We should check the problem about this

[2019-02-12 09:57] marjanjavid commented on #280
@Karvan As I mentioned the first and second example of the above link are not fired.
The code is written there. Do you need something else?

[2019-02-12 10:08] marjanjavid commented on #276
There is a documentation about this rule here:
https://github.com/Geeksltd/GCop/blob/master/Rules/Disabled/GCop218.md

[2019-02-12 10:16] marjanjavid commented on #269
@Karvan This rule is still in Development branch, but as I have finished their task I moved theme to "Ore-Release" column in the work plan. I just added a new unit test for this rule. This is not a new rule , nor updated logic. Should I bring it back to the "In progress" column?

[2019-02-12 10:19] Karvan commented on #269
While it's not about the development (new rule, bug, updating logic behind a rule) it shouldn't be in GCop Project kanban it must be in GCop Documentation.

And while you need to work on that it must be In Progress.

[2019-02-12 10:37] marjanjavid commented on #244
1-This rule was not fired, so this issue was written.

2-After releasing GCop2.6.0, I checked again this issue and I found that we have problem just on the second example of the link below:
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop620.md

3-I checked the rule and edit this rule as written in the link below
https://gitlab.com/Paymon/GCop/commit/e150c61d0ae33f068bcfbbfc1e52edee1fca541f

[2019-02-12 10:47] marjanjavid opened #282 "GCop 140"
This rule is not fired for the examples written in the link below:
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop140.md

[2019-02-12 10:48] marjanjavid commented on #271
@Karvan The examples are written in this page:
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop146.md

 A new issue is written for GCop140

[2019-02-12 23:50] marjanjavid opened #283 "GCop 420"
This is not fired for the first Exception in the link below.
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop420.md

It means this is not fired for empty methods

[2019-02-13 00:30] marjanjavid commented on #283
There was a problem in this rule which was fixed on
https://gitlab.com/Paymon/GCop/commit/70b40bd26b7243723b99f4bd897e710ad39d67d6

[2019-02-13 20:03] sungam3r opened #284 "Trailing whitespace in GCop216 pragma warning disable/restore"
Let's say we use `GCop.All.Common 2.6.0` together with `StyleCop.Analyzers 1.0.2` and have this code
[code]
OK. Now prohibit rule using pragma directive
[code]
GCop216 warning gone but a StyleCop [SA1028](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1028.md) warning appeared in its place. There are trailing spaces in the description of the rule. You have to manu

[2019-02-14 10:36] sungam3r commented on #284
Also GCop175

[2019-02-14 10:37] Foroughi commented on #264
@Karvan  Sure ,ill keep you updated ASAP

[2019-02-14 11:52] sungam3r opened #285 "GCop420 false alarm"
[code]
I can't just erase the default constructor, because by doing so I will oblige clients to pass unnecessary parameters.

It seems to me that you need to separate the rule for empty methods and for default constructors.

[2019-02-14 11:54] sungam3r commented on #285
By the way, if you put a comment in the body of the default constructor, the warning disappears.

[code]

[2019-02-14 12:08] sungam3r commented on #93
[code]

But `Cast<string>` is not applicable here.

[2019-02-14 13:13] Foroughi commented on #264
Dup #252 . GCop406  wont kick in for the `const `properties in the next release.

[2019-02-14 13:18] Foroughi commented on #252
This one is fixed. GCop406 wont kick in for the properties which are decorated with `const `modifier. You will have it fixed in the next release
[code]

[2019-02-14 13:22] #264 closed

[2019-02-14 15:44] Foroughi commented on #252
@sungam3r this one is also fixed , you will have it fixed in the next release

[code]

[2019-02-14 17:21] sungam3r commented on #252
Async lambda may be not only in constructor. My example does not focus on outer context - constructor, it focuses on async lambda itself.

[2019-02-14 17:35] marjanjavid commented on #281
It is fixed on https://gitlab.com/Paymon/GCop/commit/0338e91f4634c376531adb55facfb5a8a37af906

[2019-02-15 10:24] Foroughi commented on #252
@sungam3r Normally if the criteria is in a method the rule wont ignore it unless there is a bug with it, Ill have check on it

[2019-02-15 14:00] sungam3r opened #286 "GCop171 false alarm"
[code]

The proposed version is not compiled:
[code]

[2019-02-15 14:03] sungam3r commented on #286
Ultimately it would be more correct to offer such an option
[code]

[2019-02-18 09:47] sungam3r opened #287 "GCop648 clarification"
The rule says:

Is this an existing method or is it recommended to write it yourself? I have not found such an extension method in .NET.

[2019-02-18 10:09] sungam3r opened #288 "GCop178 does not disappear"
[code]

After quick fix:
[code]

[2019-02-18 10:38] sungam3r opened #289 "GCop659 false alarm"
[code]

After quick fix:

[code]

GCop659 must take into account duck typing.

[2019-02-20 07:14] Foroughi commented on #284
@sungam3r Its done,  you won't get that issue again as I`ve trimmed all the descriptions exactly before we generate them. Also, those two rules have been fixed.

[2019-02-20 10:00] Foroughi commented on #273
@marjanjavid @Karvan I can't see anything regards to the third sample in the rule logic. As I'm checking, the rule will kick in only for local declaration variables and parameters. btw I don't agree with Karvan and i think the third one is not a  valid sample as its being started with an underscore char. So building on what i said,  @Karvan do I need to change this rule ?!

[2019-02-20 10:31] Foroughi commented on #263
@sungam3r The reason why GCop is not showing any warning for the first sample is b/c some of the constant values which are listed below have been excluded intentionally. But I managed the rule not kick in for interpolated string texts.

 "-2", "-1", "0", "1", "2", "3", "4", "5", "12", "1024", "true", "false", "10", "100", "0.1", "0.5", "0.01", "0.001", "0.0001", "0.00001", "1000", "360"

[2019-02-20 12:00] watsonsong commented on #289
I met the same problem when using the XMLDocument~

[2019-02-20 12:06] watsonsong commented on #260
I met the same problem, it seem always alarm when met native array type.

[2019-02-21 22:59] sungam3r opened #290 "GCop658 false alarm"
Before fix:

[code]

After fix:

[code]
which is obviously not compiled.

[2019-02-22 14:44] Foroughi commented on #276
@Karvan @marjanjavid The severity of this rule has been set to Hidden as Paymon asked me to do so on 8/18/2018. Usually, I don't drop the rule if I want to disable/remove them. Instead of that, I change the severity. But in this case, he asked me to just change the severity. Don't know the reason actually.

[2019-02-22 14:44] #276 closed

[2019-02-22 14:50] Foroughi commented on #221
@Karvan @marjanjavid In that time I was getting a weird issue on GCop.Extra as I remember. The last time I was working on Gcop.Extra I noticed its working abnormally.

[2019-02-22 14:51] Foroughi commented on #275
@marjanjavid Are you not getting any warning regard to this rule?

[2019-02-22 14:53] Foroughi commented on #278
@Karvan Yes they are different.

[2019-02-22 14:56] Foroughi commented on #266
@marjanjavid do we need to keep this open ?!

[2019-02-22 15:09] Foroughi commented on #287
@sungam3r That's a method of `String` class in `System.Runtime` namespace in `Net Standard 1.3`

[2019-02-22 18:31] sungam3r commented on #287
I don`t understand. All netstandard and core versions contain only int overloads: https://docs.microsoft.com/en-us/dotnet/api/system.string.remove?view=netstandard-1.3

Example:

[code]
After fix:
[code]

[2019-02-22 21:28] Foroughi commented on #287
@sungam3r quick question, why do you have still `Replace` method after the fix ? is that a typo or the rule is not fixing the code properly ?!

[2019-02-22 22:26] sungam3r commented on #287
Sorry. It is a typo.

Example:

[code]

After fix:

[code]

[2019-02-23 00:19] Foroughi commented on #287
@sungam3r Your right, I Doesn't make sense.

@marjanjavid @Karvan  has Geeks implemented any other overload for `Remove` method in any of those 3 third-party libraries?

[2019-02-23 09:18] marjanjavid commented on #275
yes i get no warning

[2019-02-23 11:19] marjanjavid commented on #285
@Karvan Should I change this rule or we should solve this problem by comments?

[2019-02-24 08:20] marjanjavid opened #292 "Empty try-catch block"
If we have a block like below picture, we should warn about redundant code. Now we just warn about empty `finally` block.
![433](https://user-images.githubusercontent.com/20684649/53296904-45107880-382a-11e9-8a6b-9651cd416622.PNG)

[2019-02-25 08:44] Karvan commented on #292
@marjanjavid What is redundant here?

[2019-02-25 08:47] Karvan commented on #285
we need to keep the rule. Devs can skip it or add a comment. no need to update the logic or documentation.

[2019-02-25 08:47] #285 closed

[2019-02-25 08:53] Karvan commented on #287
@Foroughi It's an MSharp extension. Please move it to `Olive/MSharp/Zebble` Package.

[2019-02-25 09:10] marjanjavid commented on #292
@Karvan the empty `try-catch` is redundant. It doesn't do anything. just redundant lines of codes

[2019-02-25 09:16] Karvan commented on #292
@Foroughi Let's do this.

[2019-02-25 12:05] marjanjavid opened #293 "GCop 110"
Why GCop110 is written like this?
![110](https://user-images.githubusercontent.com/20684649/53336185-cfcca280-3912-11e9-9cf4-4a04bcfccdab.PNG)

I think it is better to set `Severity = Hidden`

[2019-02-25 12:26] marjanjavid opened #294 "GCop 551"
I tested this rule with GCop2.6.0 but no warning is displayed. I used the samples in unit test

![551](https://user-images.githubusercontent.com/20684649/53337180-f3451c80-3915-11e9-913e-fbf52ca32ebe.PNG)

[2019-02-28 05:59] Foroughi commented on #292
@marjanjavid @Karvan Isn`t it better instead of we raise a warning for empty try-catch block , we raise a warning for every empty block not just try-catch block ?

[2019-02-28 08:32] marjanjavid commented on #149
This rule is not working. It just warn when we don't defined the parameter type.
In the picture below we don't see any warning about GCop182

![182](https://user-images.githubusercontent.com/20684649/53552230-1c50f180-3b50-11e9-8605-aabc683a9c1b.png)

but here we can see the error
![1822](https://user-images.githubusercontent.com/20684649/53552401-823d7900-3b50-11e9-8117-5b05753b6b33.png)

This ha

[2019-03-01 16:24] marjanjavid commented on #149
This is Edited on [This](https://gitlab.com/Paymon/GCop/commit/f031286a54a7de491dd743f514dfba925d7f4bfa)
## Test Result :

- [ ] [HttpPost] private void TestMethod(DefinedUserClass x) {}
- [X] [HttpPost] public void TestMethod(DefinedUserClass x) {}
- [X] [HttpPost] public void TestMethod(int x , DefinedUserClass y) {}
- [X] [HttpPost] public void TestMethod(object x) {}
- [ ] [HttpPost] public vo

[2019-03-02 04:51] marjanjavid commented on #207
Still this rule does not warn any things. I tested this rule on GCop2.6.0. I run the unit test and as u said it was working fine. We should find the problem because this rule is not working now.

[2019-03-03 18:39] marjanjavid commented on #234
I found the rule. It is GCop449. It works fine on GCop2.6.0 so I close this issue.

[2019-03-03 18:39] #234 closed

[2019-03-03 19:41] marjanjavid opened #295 "GCop157"
It seems we should move this rule "StringEqualsAnalyzer" to another project instead of "OliveZebbleMSharp" project. It is related to all

[2019-03-03 19:43] marjanjavid opened #296 "GCop 448"
It seems we should remove this rule "ReplaceEqualsToEqualEqualWhenComparingStringsAnalyzer". We have the same rule GCop157. We should keep one of them.

![448](https://user-images.githubusercontent.com/20684649/53700674-f9516680-3e09-11e9-8683-e00408399900.PNG)

[2019-03-03 20:02] marjanjavid commented on #235
I found it. It is GCop556

[2019-03-03 20:46] marjanjavid commented on #274
It is done in https://gitlab.com/Paymon/GCop/commit/5504a8c4fb4f249f8b763516bfd524b4d927c171

[2019-03-03 20:50] marjanjavid commented on #222
@PaymonK It is completed here https://docs.google.com/spreadsheets/d/1uCNiK_xMSmfENK1aUDBk9P0_XKrHRUhxpfK_SIaVO7g/edit#gid=0

[2019-03-03 21:02] marjanjavid commented on #159
It works Fine on GCop2.6.0 so I close this issue

[2019-03-03 21:02] #159 closed

[2019-03-04 20:24] marjanjavid commented on #146
It is answered in another issue https://github.com/Geeksltd/GCop/issues/151
so I close this one

[2019-03-04 20:24] #146 closed

[2019-03-04 21:12] marjanjavid commented on #151
I checked this rule. It works fine

[2019-03-04 21:12] #151 closed

[2019-03-04 21:48] marjanjavid commented on #143
This is tested it works fine . @PaymonK I changed the markdown file. Please review the "Rule description ".

[2019-03-04 21:48] #143 closed

[2019-03-06 06:01] marjanjavid commented on #157
@Foroughi Yes I run the unit test and it works fine. weird in my code it doesn't do anything. I test it on GCop2.6.0. @Foroughi would you please check it on a sample project?

[2019-03-06 06:28] marjanjavid opened #297 "GCop316 vs GCop309"
These two rules are the same. Between these two please remove GCop316 because there is no document for this rule while the other has document.

[2019-03-06 06:30] marjanjavid commented on #162
Thank you this sample works fine. but the problem is that GCop309 and GCop316 are the same which i created a new issue for them.

[2019-03-06 06:30] #162 closed

[2019-03-06 09:02] marjanjavid commented on #178
As this is disabled I close this issue

[2019-03-06 09:02] #178 closed

[2019-03-06 09:04] marjanjavid commented on #190
As this rule is disabled I close this issue

[2019-03-06 09:04] #190 closed

[2019-03-06 09:25] marjanjavid commented on #215
@Foroughi @Karvan  I think I couldn't describe the problem, let me describe it :
When I write `ApplicationEventManager.RecordException(new Exception());` I face two warning
1-GCop100: Replace with Log.Error(...)
2-CS0618 : 'ApplicationEventManager.RecordException(Exception)' is obsolete: 'Use Log.Error() instead'

As we can see compiler itself warn in this case. Why compiler warns about this? beca

[2019-03-06 10:05] marjanjavid commented on #217
As I checked and it was disabled I close this issuue

[2019-03-06 10:05] #217 closed

[2019-03-06 10:07] #240 closed

[2019-03-06 10:12] marjanjavid commented on #292
@Foroughi I am agree with you. The programmer can put comment in empty blocks to avoid get warning. Please note that we have rules for empty classes, empty methods and empty constructor in GCop.

[2019-03-09 13:13] marjanjavid commented on #287
This is moved to `Olive/MSharp/Zebble` package on this commit;
https://gitlab.com/Paymon/GCop/commit/251ea928edb83c2cfa725e3d8848ead3affff08d

[2019-03-10 07:57] marjanjavid commented on #280
There was a problem in GCop414, It is edited on https://gitlab.com/Paymon/GCop/commit/a9cc07f18f79c2c0463b84126ee16eb853852dc3

A new unit test file is added

[2019-03-11 13:44] HamidTheGeek opened #298 "GCop 420 false positive"
It shows me a warning for the following code

[code]

[2019-04-01 09:06] PaymonK opened #299 "GCop 522"
This rule is implemented incorrectly.

The rule is for when you use ".Something" immediately after `.GetOrDefault(...)` because this method may return null and you should not call `.Something` on null.

On both of the examples provided here https://geeksltd.github.io/GCop/#/Rules/GCop522 the rule should not fire at all. It should fire if you do something like:

`foo.Keys.FirstOrDefault().Bar` whic

[2019-04-02 05:51] marjanjavid commented on #298
@HamidTheGeek  Would you please mention the warning message or warning code?

[2019-04-02 06:16] HamidTheGeek commented on #298
Hi Marjan,
I have already mentioned the code in the title of this issue. It's related to having a parameterless public constructor with out body.

[2019-04-02 06:28] marjanjavid commented on #298
Yes my bad. Thank u

[2019-04-05 10:11] sungam3r opened #300 "GCop628 false alarm"
[code]
Obviously, we cannot move the method inside `System.Nullable<T>`. The rule should take into account the system types. Also note if you make the method static, then there is no warning.

[2019-04-09 10:18] Foroughi commented on #299
Done, Pushed on Development

[2019-04-10 04:51] Foroughi commented on #298
@HamidTheGeek Hi Hamid, would you please catch me up why this is a false alarm? You have an empty constructor in your code! According to the rule logic, it SHOULD kick in in this scenario. am I missing something here ?

[2019-04-10 06:14] marjanjavid opened #301 "GCop 556"
Edit GCop 556 Message because the correct method name is `SendItemId` not `SendItemID`. Also this method is a shortcut not `shortcut.SendItemId`

[2019-04-10 06:14] marjanjavid commented on #301
It is Edited

[2019-04-10 06:16] marjanjavid commented on #235
It is checked on GCop2.6.0 and works fine. But its message needs edit which is explained on issue #301

[2019-04-10 06:22] marjanjavid commented on #235
It works fine so I will close this

[2019-04-10 06:22] #235 closed

[2019-04-10 06:25] marjanjavid commented on #229
It is GCop557

[2019-04-10 06:45] marjanjavid opened #302 "GCop 557"
There is a problem about auto fix. It should fix it to `cs` method not `Cs` method

[2019-04-10 06:49] marjanjavid commented on #302
It is fixed now

[2019-04-10 06:50] marjanjavid commented on #229
It is tested on GCop2.6.0 and works fine. The markdown file is added . There is  a problem about the auto fix which will follow throw issue #302

[2019-04-10 06:50] #229 closed

[2019-04-10 07:37] Foroughi commented on #300
@sungam3r Hi. Its weird b.c I'm not getting the same warning message on the same code. Here is the warning I'm getting :

 GCop628: Maybe define this method on 'DoSome' class as it's using 1 of its members (compared to 0 from this type)

Would you please provide the entire class your working on?

[2019-04-10 08:11] HamidTheGeek commented on #298
In the following code:

[code]

The C1 and C2 are the same so you can force the user to remove the empty constructor.
But the C3 and C4 are not as you can not create a new instance like this `new C3()` while you can do it for C4.

[2019-04-10 16:24] sungam3r commented on #300
[code]

[code]

![image](https://user-images.githubusercontent.com/21261007/55896105-3a395980-5bc6-11e9-9066-5ff7c2bef348.png)

[2019-04-13 11:04] marjanjavid commented on #238
As I checked GCop2.6.0 this issue is solved. @Hatef-Rostamkhani would you please check it and close this issue if it is solved?

[2019-04-19 08:30] marjanjavid commented on #272
This is done on Development

[2019-04-19 13:28] marjanjavid commented on #278
@Karvan I tested this rule and add a unit test for that. It fires only when we use an IEnumerable variable in two or more `foreach` loop. You can look at the first example of the link below.
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop318.md

* Note: We should fire the second example in one of our GCop rules too, the second example is written by Paymon. Please let me know that I should

[2019-04-19 14:14] marjanjavid commented on #296
@Karvan GCop157 is removed as we do the same checks on GCop448

[2019-04-22 04:05] Foroughi commented on #215
@marjanjavid I got you wrong then based on your last comment. If you ask me, I would say disable it. however, the idea of disabling all rules on obsolete contexts is still what we need to do

[2019-04-23 07:33] marjanjavid commented on #215
So I disabled this rule. Also I will create a new issue for disabling all rules on obsolete contexts. It is pushed on Development branch

[2019-04-23 07:36] marjanjavid opened #303 "Ignore Obsolete attribute"
This issue is created base on the @Foroughi last comment on Issue #215
We should ignore all the diagnostics in a context which is decorated by Obsolete attr

[2019-04-23 08:25] marjanjavid opened #304 "Change GCop versioning"
As @Karvan explained on Slack, after releasing GCop2.6.0 and befor releasing GCop2.6.1 we should release GCop2.6.1-rc1,2,3, ... and after

[2019-04-23 20:42] marjanjavid opened #305 "GCop 171"
On GCop2.6.1-rc.2 this rule message is not correct. it is
"There is no need for calling .Value. Replace with There is no need for calling '.Value' and '.HasValue'. use '== true'."

[2019-04-23 20:52] marjanjavid commented on #305
It is done.Wait for new release

[2019-04-23 21:05] marjanjavid commented on #267
It is edited and uploaded on development

[2019-04-23 21:14] marjanjavid commented on #266
It works fine so I will close this issue

[2019-04-23 21:14] #266 closed

[2019-04-23 21:32] marjanjavid opened #306 "GCop620"
@Karvan or @Foroughi  The first example of this rule mentiond in below link is handled by IDE0029.
https://github.com/Geeksltd/GCop/blob/master/Rules/GCop620.md

![Capture](https://user-images.githubusercontent.com/20684649/56617399-071aaf80-6635-11e9-9748-6966b84114b8.PNG)

Do we need to keep this part of the rule?

[2019-04-30 13:31] Foroughi opened #307 "GCop659 missfire"
![Screenshot (4)](https://user-images.githubusercontent.com/3727486/56965175-e7721280-6b71-11e9-81a2-2bdd9d38ecf9.png)

[2019-04-30 13:38] Foroughi commented on #300
Even with using the exact version, I couldn't find this issue. Not in unit tests, not in a real scenario.

Real scenario sample :
![Screenshot (5)](https://user-images.githubusercontent.com/3727486/56965300-328c2580-6b72-11e9-993e-e2a656451494.png)

Unit test result :

![Screenshot (6)](https://user-images.githubusercontent.com/3727486/56965409-80a12900-6b72-11e9-954d-4681676d0bf2.png)

@marjanjav

[2019-04-30 20:02] Foroughi commented on #297
Gcop316 has been removed.

[2019-04-30 20:02] #297 closed

[2019-04-30 20:08] Foroughi commented on #307
Fixed

[2019-04-30 21:05] Foroughi commented on #298
Fixed

[2019-05-01 17:15] sungam3r commented on #300
[ConsoleApp7.zip](https://github.com/Geeksltd/GCop/files/3135288/ConsoleApp7.zip)
![изображение](https://user-images.githubusercontent.com/21261007/57030560-c848b300-6c4d-11e9-814e-2b0034ebe481.png)
![изображение](https://user-images.githubusercontent.com/21261007/57030585-e2829100-6c4d-11e9-8929-7773df5d1786.png)

[2019-05-01 21:16] sungam3r opened #308 "GCop415 false alarm"
It seems to me that this rule should take method overloads into account.

[code]

[2019-05-16 20:10] sungam3r commented on #263
Another case that surprised me (net46):
[code]

[2019-05-16 22:42] sungam3r commented on #263
Also this:

[code]

[2019-05-17 19:59] sungam3r commented on #260
One more example:
[code]

[2019-06-11 20:38] marjanjavid commented on #267
This is not yet ready for Pre-Release version. there is still the same problem on GCop2.6.1-rc2

[2019-06-11 20:53] marjanjavid commented on #263
@Foroughi This rule still have the previous problem on GCop2.6.1-rc2

[2019-06-11 21:08] marjanjavid commented on #265
this is done by foroughi

[2019-06-11 21:08] #265 closed

[2019-06-12 07:43] marjanjavid commented on #252
The changes are available on GCop2.6.1. So I close this issue

[2019-06-12 07:43] #252 closed

[2019-06-12 07:49] marjanjavid commented on #307
The changes are available on GCop2.6.1

[2019-06-12 07:49] #307 closed

[2019-06-12 07:51] marjanjavid commented on #274
The changes are available on GCop2.6.1.
 The document is moved here:
https://github.com/Geeksltd/GCop/blob/master/Rules/Disabled/GCop205.md

[2019-06-12 07:51] #274 closed

[2019-06-12 07:54] marjanjavid commented on #149
The changes are available on GCop2.6.1

[2019-06-12 07:54] #149 closed

[2019-06-12 07:56] marjanjavid commented on #283
It is fixed on GCop2.6.1

[2019-06-12 07:56] #283 closed

[2019-06-12 08:44] marjanjavid commented on #281
Still it doesn't fire for the second example of the above link. but when there is a statement it fires like below picture

[2019-06-12 08:48] marjanjavid commented on #254
it is fixed on GCop 2.6.1

[2019-06-12 08:48] #254 closed

[2019-06-12 08:49] marjanjavid commented on #284
It is fixed on GCop2.6.1

[2019-06-12 08:49] #284 closed

[2019-06-12 08:52] marjanjavid commented on #303
It is fixed on GCop2.6.1

[2019-06-12 08:52] #303 closed

[2019-06-12 08:53] marjanjavid commented on #298
It is fixed on GCop2.6.1

[2019-06-12 08:53] #298 closed

[2019-06-12 08:55] marjanjavid commented on #215
This is fixed on GCop2.6.1

[2019-06-12 08:55] #215 closed

[2019-06-12 08:57] marjanjavid commented on #299
This is fixed on GCop2.6.1

[2019-06-12 08:57] #299 closed

[2019-06-12 09:05] marjanjavid commented on #296
It is fixed on GCop2.6.1

[2019-06-12 09:05] #296 closed

[2019-06-12 09:07] marjanjavid commented on #280
It is fixed on GCop2.6.1

[2019-06-12 09:07] #280 closed

[2019-06-12 09:11] marjanjavid commented on #272
This is fixed on GCop2.6.1

[2019-06-12 09:11] #272 closed

[2019-06-12 09:15] marjanjavid commented on #244
This is fixed on GCop2.6.1

[2019-06-12 09:15] #244 closed

[2019-06-12 09:23] marjanjavid commented on #286
GCop 171 message still has some problem. it shows this message:
"There is no need for calling .Value. Replace with There is no need for calling '.Value' and '.HasValue'. use '== true"

[2019-06-12 09:41] marjanjavid commented on #301
It is fixed on gCop2.6.1

[2019-06-12 09:41] #301 closed

[2019-06-12 09:43] marjanjavid commented on #302
It is fixed on GCop2.6.1

[2019-06-12 09:43] #302 closed

[2019-06-12 09:47] marjanjavid commented on #287
This is fixed on GCop2.6.1

[2019-06-12 09:47] #287 closed

[2019-06-13 06:12] marjanjavid commented on #305
This issue is similar to https://github.com/Geeksltd/GCop/issues/286
so i will close it